<div class="header_top">
    <div class="header_top_outer">
        <div class="header_top_outer_inner">
            <div class="nunu_top_header">
                <div class="conta_iner">
                    <div class="header_main_bar">
                        <div class="nunu_left_bar">
                            <ul>
                                <li>
                                    <h4>{{"HEADER.CALLUS" | translate}} : (+1)866-540-3229</h4>
                                </li>
                                <li>
                                    <figure> <img [src]="imgflag" alt=""> </figure>
                                    <label>
                                        <!-- <select #langSelect (change)="languageChange(langSelect.value)">
                                          <option
                                            *ngFor="let lang of translate.getLangs()"
                                            [value]="lang"
                                            [selected]="language == translate.currentLang">{{ lang }}</option>
                                        </select> -->
                                        <select  [(ngModel)]="language" (change)="languageChange($event.target.value)">
                                            <option value = 'en' [selected]="language == 'en'"> UK </option>
                                            <option value = 'arb' [selected]="language == 'ard'"> Arabia </option>
                                        </select>
                                        <!--  -->
                                      </label>
                                </li>
                                <li>
                                    <figure> <img [src]="imgflag" alt=""> </figure>
                                    <label>
                                        <select  [(ngModel)]="language" (change)="languageChange($event.target.value)">
                                            <option value = 'en' [selected]="language == 'en'">English</option>
                                            <option value = 'arb' [selected]="language == 'ard'">Arabic</option>
                                        </select>
                                        <!--  -->
                                      </label>
                                </li>
                            </ul>
                        </div>
                        <div class="nunu_right_bar">
                            <ul>
                                <li>
                                    <div class="services_header">
                                        <div class="icon_header">
                                            <figure><img src="assets/images/header_truck.svg"></figure>
                                            <h4>{{ "HEADER.TRUSTEDSHIPPING" | translate }}</h4>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="services_header">
                                        <div class="icon_header">
                                            <figure><img src="assets/images/header_truck2.svg"></figure>
                                            <h4>{{"HEADER.EASY RETURNS" | translate}}</h4>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="services_header">
                                        <div class="icon_header">
                                            <figure><img src="assets/images/header_truck3.svg"></figure>
                                            <h4>{{"HEADER.SECURE SHOPPING" | translate}}</h4>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="header" class="logoheader">
                <div class="conta_iner">
                    <div class="top-header_inner">
                        <div class="left_bar">
                            <div class="inner_header">
                                <div class="header-logo">
                                    <a class="logo" (click)="goTohome()">
                                        <figure><img style="cursor: pointer;" src="assets/images/logo.svg"></figure>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="medium_bar">
                            <div class="search_bar_inner">
                                <div class="search_input">
                                    <mat-form-field [floatLabel]="'never'">
                                        <input style="padding-left: 10px;" matInput type="text" placeholder="{{ 'HEADER.SEARCHQ' | translate}}" name="name" (keyup)="searchtext($event)">
                                    </mat-form-field>
                                    <div class="search_button" style="cursor: pointer;" (click)="movetocategories()">
                                        <figure><img src="assets/images/search.png"></figure>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="right_bar">
                            <div class="account_main">
                                <ul class="header-btns">
                                    <!-- <li *ngIf="isloggin == null">
                                &nbsp;
                                <span class="text-uppercase" (click)="gotologin()">Login</span>
                                &nbsp;
                                <span  class="text-uppercase" (click)="gotosignup()">Signup</span>
                            </li> -->

                                    <!-- <li class="header-account dropdown profile_part" *ngIf="isloggin"> -->
                                    <li class="header-account dropdown profile_part">
                                        <button *ngIf="isloggin" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" (click)="goToprofile()"> 
                                            <div class="header-btns-icon">
                                                <figure *ngIf="!this.profilepicdata"><img data-toggle="modal" data-target="#myModal"
                                                        src="assets/images/user.png"></figure>

                                                        <figure *ngIf="this.profilepicdata"><img data-toggle="modal" data-target="#myModal"
                                                            [src]="imgurl+profilepicdata"></figure>     
                                            </div>
                                            <span class="text-uppercase" *ngIf="!isloggin" 
                                            (click)="openmodal()" >{{"PROFILE.ACCOUNT" | translate}}</span>
                                            <span class="text-uppercase" *ngIf="isloggin">{{firstname }}</span>
                                        </button>
                                        <button *ngIf="!isloggin"  class="l_r_btn">
                                                <h4 (click)="logindirect()"> Login/Register </h4>
                                        </button>
                                        <!-- <ul class ="dropdown-menu" *ngIf="isloggin == null">
                                    <li>
                                        <div class="profile_outer" >
                                        
                                            <div class ="profile_outer_right" (click)="goTomyProfile(1)">
                                                <a class ="text-uppercase">Login</a>
                                            </div>
                                        <br>
                                            <div class ="profile_outer_left" (click)="goTomyProfile(2)">
                                            <a class ="text-uppercase">
                                                Signup
                                            </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul> -->
                                    </li>
                                    <li>
                                        <div class="filter_dropdown dropdown">
                                            <a type="button" class="dropdown-toggle" data-toggle="dropdown">
                                              Shop For <i class="fa fa-sort-down"></i>
                                            </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Male</a>
                                                <a class="dropdown-item" href="#">Female</a>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- <li class="headerlike" (click)="goTowishlist()" *ngIf="isloggin"> -->
                                    <li class="headerlike" (click)="goTowishlist()">
                                        <div class="shopping_cart_box">
                                            <figure style="cursor: pointer;">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.916 20.345">
                                                    <g id="noun_Hearts_748816" transform="translate(-97.119 -82.035)">
                                                        <path id="Path_2451" data-name="Path 2451"
                                                            d="M27.248,14.283a6.51,6.51,0,0,0-9.231.014l-.35.35a.129.129,0,0,1-.182,0l-.35-.35A6.51,6.51,0,0,0,7.9,14.284a6.394,6.394,0,0,0,.087,8.954l9.4,9.4a.257.257,0,0,0,.364,0l9.4-9.4A6.394,6.394,0,0,0,27.248,14.283Z"
                                                            transform="translate(91 69.664)" fill="#fff" />
                                                    </g>
                                                </svg>
                                            </figure>
                                            <!-- <span class="qty header-cart">3</span> -->
                                        </div>
                                    </li>
                                    <li class="header-account cart_div dropdown">
                                        <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                                            <div class="head_btns" (click)="goTocart()">
                                                <div class="shopping_cart_box">
                                                    <figure><img src="assets/images/cart.png"></figure>
                                                    <span class="qty header-cart">{{countcartlen}}</span>
                                                    <!-- <span *ngIf="count === 0 || count == 'undefine'" data-toggle="modal" data-target="#myModal" class="qty header-cart">0</span> -->
                                                </div>
                                                <div class="login_inner_links">
                                                    <!-- <span class="text-uppercase">{{"CART.CART" | translate}}</span> -->
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="navigation" class="third_header">
            <nav class="navbar">
                <div class="conta_iner">
                    <div class="row">
                        <div class="navbar-header">
                            <div class="dropdown">
                                <button class="dropbtn"> <span> {{"CATEGORY.CATEGORY" | translate}} </span> <i class="fa fa-angle-down"></i></button>
                                <div class="dropdown-content">
                                    <li class="dropdown categories_dropdown" *ngFor="let Categ of categoryDataVal">
                                        <a class="dropdown-toggle" data-toggle="dropdown" (mouseover)="getcategoryId(Categ?._id,1)">{{language == 'en' ? Categ.name : Categ.name_ar}}<i
                                            class="fa fa-angle-right"></i></a>
                                        <ul class="dropdown-menu" *ngIf="sublength != 0">
                                            <li>
                                                <div class="women_product">
                                                    <div class="women_product_inner">
                                                        <ul class="list-links">
                                                            <li>
                                                                <h3 class="list-links-title">{{"CATEGORY.SUBCATEGORY" | translate}}</h3>
                                                            </li>
                                                            <li *ngFor="let i of subcategeorylist">
                                                                <a (click)="getcategoryId(i?._id,2)">{{language == 'en' ? i?.name : i?.name_ar}}</a>
                                                            </li>
                                                            <li *ngFor="let j of listsubcategory">
                                                                <a (click)="getcategoryId(j?._id,2)">{{language == 'en' ? j?.name : j?.name_ar}}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="product_img">
                                                    <!-- <figure><img src="../assets/images/women_product.jpg"></figure> -->
                                                </div>
                                            </li>

                                        </ul>
                                    </li>
                                </div>
                            </div>
                        </div>
                        <div class="R_category_list">
                            <ul>
                                <li> <a href="#"> ELECTRONICS </a> </li>
                                <li> <a href="#"> FASHION </a> </li>
                                <li> <a href="#"> HOME & KITCHEN </a> </li>
                                <li> <a href="#"> BEAUTY & FRAGRANCE </a> </li>
                                <li> <a href="#"> BABY & KIDS </a> </li>
                                <li> <a href="#"> GROCERY </a> </li>
                                <li> <a href="#"> SPORTS & OUTDOORS </a> </li>
                            </ul>
                        </div>
                        <div class="myNavbar_outter">
                            <div class="collapse navbar-collapse" id="myNavbar">
                                <ul class="nav navbar-nav side_nav">
                                    <li *ngFor="let i of categoryDataVal ; let k = index;"><a (click)="headerpage(i._id)" *ngIf="k == 1">{{language == 'en' ? i.name : i.name_ar}}</a></li>
                                    <li *ngFor="let i of categoryDataVal ; let k = index;"><a (click)="headerpage(i._id)" *ngIf="k == 2">{{language == 'en' ? i.name : i.name_ar}}</a></li>
                                    <li *ngFor="let i of categoryDataVal ; let k = index;"><a (click)="headerpage(i._id)" *ngIf="k == 3">{{language == 'en' ? i.name : i.name_ar}}</a></li>
                                    <li *ngFor="let i of categoryDataVal ; let k = index;"><a (click)="headerpage(i._id)" *ngIf="k == 7">{{language == 'en' ? i.name : i.name_ar}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

        </div>
    </div>
    <div class="header_bg"></div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal" *ngIf="isloggin == null">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <!-- <div class="modal-header">
              <h4 class="modal-title">Modal Heading</h4>
             
            </div> -->

            <!-- Modal body -->
            <div class="modal-body signup_popup">
                <button type="button" class="close close_theme" data-dismiss="modal">&times;</button>
                <h2 class="plz_login">{{"LOGIN.PLSLOGIN" | translate}}
                </h2>
                <div class="sign_up_icon">
                    <p (click)="goTologin()">
                        <figure>
                            <img src="assets/images/popup1.png" alt="">
                        </figure>
                        <span>{{"SIGN UP.SIGNIN" | translate}}</span>
                    </p>
                    <p (click)="goTosignup()">
                        <figure>
                            <img src="assets/images/popup.png" alt="">
                        </figure>
                        <span>{{"SIGN UP.SIGN UP" | translate}}</span>
                    </p>
                </div>
                <!----popup setting section-->
   
            </div>
        </div>
    </div>
</div>