<div class="footer_wrap">
    <div class="conta_iner">
        <div class="outter_footer">
            <ul>
                <li class="footer_part1">
                    <a href="#" class="footer_logo"><img src="assets/images/logo_footer.svg" alt=""> </a>
                    <h3> The new hero pieces bring instant fashion credibility.</h3>
                    <p> Follow us </p>
                    <ul class="social_icon">
                        <a (click)="getredirect('Face')">
                            <li>
                                <i class="fa fa-facebook-f"></i>
                            </li>
                        </a>
                        <a (click)="getredirect('Link')">
                            <li>

                                <i class="fa fa-instagram"></i>
                            </li>
                        </a>
                        <a (click)="getredirect('Link')">
                            <li>
                                <i class="fa fa-linkedin"></i>
                            </li>
                        </a>
                        <a (click)="getredirect('Twitter')">
                            <li>
                                <i class="fa fa-twitter"></i>
                            </li>
                        </a>
                    </ul>
                    <h5> Get Markat on the Go! </h5>
                    <figure class="store_buttons">
                        <a href="#"> <img src="assets/images/playstore.png" alt=""> </a>
                        <a href="#"> <img src="assets/images/Appstore.png" alt=""> </a>
                    </figure>
                </li>
                <li class="footer_part2">
                    <h2> Information </h2>
                    <a href="#"> About Us </a>
                    <a href="#"> Contact Us </a>
                    <a href="#"> Privacy Policy </a>
                    <a href="#"> FAQs </a>
                </li>
                <li class="footer_part3">
                    <h2> Get In Touch </h2>
                    <p> Street addresses: 445 Mount Eden Road, Mount Eden.</p>
                    <figure class="pay_card">
                        <img src="assets/images/card_1.png" alt="">
                        <img src="assets/images/card_2.png" alt="">
                    </figure>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="copyright">
    <p> Copyright © 2020, Markat </p>
</div>