.footer_wrap {
    border-top: solid 10px #97334B;
    color: #000;
    padding: 30px 0px;
}

.outter_footer ul {
    display: flex;
    justify-content: space-between;
    .footer_part1 {
        width: 50%;
        padding-right: 20rem;
        a {
            img {
                width: 100px;
                height: auto;
                padding-bottom: 25px;
            }
        }
        h3 {
            font-size: 20px;
            font-weight: normal;
            line-height: 35px;
        }
        p {
            font-size: 20px;
            padding-top: 40px;
            padding-bottom: 15px;
            color: #707070;
            text-align: left;
        }
        ul.social_icon {
            display: flex;
            justify-content: flex-start;
            li {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #B2B2B2;
                margin-right: 15px;
                transition: box-shadow 0.3s ease-in-out;
                i {
                    font-size: 22px;
                    color: #fff;
                }
                &:hover {
                    background: #fff;
                    box-shadow: 0 0px 20px #00000038;
                    i {
                        color: #97334B;
                    }
                }
            }
        }
        h5 {
            font-size: 18px;
            padding-top: 40px;
            padding-bottom: 15px;
        }
        .store_buttons {
            display: flex;
            a {
                margin-right: 20px;
                img {
                    width: 160px;
                    padding: 0px;
                }
                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }
    .footer_part2 {
        width: 25%;
        h2 {
            font-size: 25px;
            color: #97334B;
            font-weight: bold;
            padding-bottom: 20px;
            padding-top: 10rem;
        }
        a {
            display: block;
            font-size: 18px;
            font-weight: normal;
            padding: 5px 0px;
        }
    }
    .footer_part3 {
        width: 25%;
        h2 {
            font-size: 25px;
            color: #97334B;
            font-weight: bold;
            padding-bottom: 20px;
            padding-top: 10rem;
        }
        p {
            font-size: 18px;
            line-height: 35px;
            text-align: left;
        }
        .pay_card {
            display: flex;
            padding-top: 20px;
            img {
                width: 70px;
                margin-right: 20px;
                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }
}

.copyright {
    border-top: solid #BEBEBE 1px;
    padding: 20px 0px;
    text-align: center;
    p {
        font-size: 18px;
        color: #97334B;
    }
}

@media (max-width:1500px) {
    .outter_footer ul {
        .footer_part2 {
            h2 {
                padding-top: 5rem;
            }
        }
        .footer_part3 {
            h2 {
                padding-top: 5rem;
            }
        }
    }
}

@media (max-width:992px) {
    .footer_part1 ul {
        flex-wrap: wrap;
        li {
            width: 48%;
        }
    }
}

@media (max-width:767px) {
    .footer_part1 {
        h3 {
            font-size: 15px;
        }
        ul {
            li {
                width: 100%;
            }
        }
    }
}