<app-header></app-header>
<div class="cart_wrap comman_nameing_margin">
    <div class="checkout_wrap">
        <div class="conta_iner">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" (click)="gotohome()">{{"PROFILE.HOME" | translate}}</a></li>
                    <!-- <li class="breadcrumb-item"><a href="./homepage">Electronics & Mobiles</a></li> -->
                    <li class="breadcrumb-item active" aria-current="orders">{{"CART.CHECKOUT" | translate}}</li>
                </ol>
            </nav>
            <div class="product_detail_main">
                <div class="product_detail_left">
                    <div class="list-group" id="accordionThree">
                        <div class="expansion-panel list-group-item checkout_bg_shadow">
                            <div aria-controls="collapseEight" aria-expanded="false" class="expansion-panel-toggler collapsed" data-target="#collapseEight" data-toggle="collapse" id="headingEight" role="button">
                                <div class="media-body product_detail_main">
                                    <div class="panel_content_inner">{{"CART.CART" | translate}}
                                    </div>
                                    <div class="expansion-panel-icon ml-3 text-black-secondary">
                                        <i class="collapsed-show material-icons"><i class="fa fa-angle-up"></i></i>
                                    </div>
                                </div>
                            </div>
                            <div aria-labelledby="headingEight" class="collapse in" data-parent="#accordionThree" id="collapseEight">
                                <div class="expansion-panel-body">
                                    <div class="">
                                        <div class="cart_outer_box">
                                            <div class="chip fade show" *ngFor="let cart of cartdata" id="chipDismissible1">
                                                <div class="product_detail_main cart">
                                                    <div class="cart_left">
                                                        <div class="product_detail_left_inner small">
                                                            <figure *ngIf="cart.productId.images?.length != 0"><img [src]="imgUrl+cart.productId.images[0]?.image">
                                                            </figure>
                                                            <figure *ngIf="cart.productId.images?.length == 0"><img src="assets/images/noimage.png"></figure>
                                                        </div>
                                                    </div>
                                                    <div class="cart_right">
                                                        <div>
                                                            <p>{{cart?.productId.name}}</p>
                                                            <p class="grey_cart">{{cart?.productId.brand.name}}</p>
                                                            <p class="yellow_cart">&#8377; {{(cart?.productId?.price * cart?.quantity)-(cart?.productId?.price * cart?.quantity) * cart?.productId?.discount/100}}
                                                            </p>
                                                        </div>
                                                        <span style="color: red;" *ngIf="cart?.productId.purchaseQuantity <= this.i && cart?._id == prod_id">{{"CART.MAXP" | translate}}.</span>
                                                        <div class="orderadd_cart_box">
                                                            <button (click)="subquantity(cart)">-</button>
                                                            <p>{{cart?.quantity}}</p>
                                                            <button (click)="addquantity(cart?._id)">+</button>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="crs_btn" (click)="removecart(cart?._id)"><button class="close" data-dismiss="alert" data-target="#chipDismissible1" type="button"><i
                                                                class="material-icons">{{"CART.CANCEL" | translate}}</i></button></div> -->
                                                    <div class="crs_btn" (click)="removecart(cart?._id)"><button class="close" data-dismiss="alert" data-target="#chipDismissible1" type="button"><i
                                                                    class="material-icons"><img src="assets/images/Cencel Icon.png" alt=""></i></button></div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="expansion-panel list-group-item checkout_bg_shadow">
                            <div aria-controls="collapseNine" aria-expanded="false" class="expansion-panel-toggler collapsed" data-target="#collapseNine" data-toggle="collapse" id="headingNine" role="button">
                                <div class="media-body product_detail_main">
                                    <div class="panel_content_inner">{{"CART.SELECTA" | translate}}</div>
                                    <div class="expansion-panel-icon ml-3 text-black-secondary">
                                        <i class="collapsed-show material-icons"><i class="fa fa-angle-up"></i></i>
                                    </div>
                                </div>
                            </div>
                            <div aria-labelledby="headingNine" class="collapse in" data-parent="#accordionThree" id="collapseNine">
                                <div class="expansion-panel-body">
                                    <div class="addrs">
                                        <mat-radio-button *ngFor="let i of address ;let y=index" [value]="y" (click)="radioclick(i._id)">
                                            <div class="adre_main">
                                                <div class="adres_top">
                                                    <address>{{i.address1}},{{i.city}}-{{i.postalCode}},{{i.address2}}
                                                            <br>
                                                            {{i.phone}}
                                                        </address>
                                                </div>
                                                <div class="adres_bottom">
                                                    <a class="span_red" (click)="deleteaddress(i._id)">Remove</a>
                                                    <a data-toggle="modal" data-target="#exampleModalLong" (click)="editaddressdata(i._id)">Edit</a>
                                                </div>
                                            </div>
                                        </mat-radio-button>
                                        <!-- --------------------------------------------------------------------------------------------------------- -->
                                        <!-- <mat-checkbox *ngFor="let i of address ;let y=index" [value]="y" [checked]='i._id == addressId' (click)="radioclick(i._id,$event)">
                                            <div class="adre_main">
                                                <div class="adres_top">
                                                    <address>
                                                       <p> {{i.address1}}, {{i.city}}-{{i.postalCode}}, {{i.address2}} </p>
                                                        <br>
                                                        <p> {{i.phone}} </p>
                                                    </address>
                                                </div>
                                                <div class="adres_bottom">
                                                    <a class="span_red" (click)="deleteaddress(i._id)">{{"FORM.REMOVE" | translate}}</a>
                                                    <a data-toggle="modal" data-target="#exampleModalLong" (click)="editaddressdata(i._id)">{{"FORM.EDIT" | translate}}</a>
                                                </div>
                                            </div>
                                        </mat-checkbox> -->
                                        <!-- -----------------------------------------------------------------------------------------------                                         -->
                                        <div class="product_detail_btn">
                                            <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalLong" (click)="addnewaddress()">{{"FORM.ADDADD" | translate}}</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="expansion-panel list-group-item checkout_bg_shadow">
                            <div aria-controls="collapseten" aria-expanded="false" class="expansion-panel-toggler collapsed" data-target="#collapseten" data-toggle="collapse" id="headingten" role="button">
                                <div class="media-body product_detail_main">
                                    <div class="panel_content_inner">{{"CART.PAYMENTO" | translate}}</div>
                                    <div class="expansion-panel-icon ml-3 text-black-secondary">
                                        <i class="collapsed-show material-icons"><i class="fa fa-angle-up"></i></i>
                                    </div>
                                </div>
                            </div>
                            <div aria-labelledby="headingNine" class="collapse in" data-parent="#accordionThree" id="collapseten">
                                <div class="expansion-panel-body">
                                    <div class="">
                                        <mat-radio-group aria-label="Select an option">
                                            <mat-radio-button value="1">
                                                <div class="adre_main cards">
                                                    <div class="adres_right">
                                                        <h4>Amit Sharma</h4>
                                                        <p><span>MM/YY</span>11/12</p>
                                                        <h5>************************0987</h5>
                                                    </div>
                                                    <div class="adres_left">
                                                        <figure><img src="assets/images/mastercard.png"></figure>
                                                        <div class="form-group1">
                                                            <mat-form-field [floatLabel]="'never'">
                                                                <input matInput type="text" placeholder="cvv" name="name">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                            </mat-radio-button>
                                            <mat-radio-button value="2">
                                                <div class="adre_main cards cards2">
                                                    <div class="adres_right">
                                                        <h4>Amit Sharma</h4>
                                                        <p><span>MM/YY</span>11/12</p>
                                                        <h5>************************0987</h5>
                                                    </div>
                                                    <div class="adres_left">
                                                        <figure><img src="assets/images/mastercard.png"></figure>
                                                        <div class="form-group1">
                                                            <mat-form-field [floatLabel]="'never'">
                                                                <input matInput type="text" placeholder="cvv" name="name">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                            </mat-radio-button>
                                        </mat-radio-group>
                                        <div class="product_detail_btn">
                                            <button>{{"CART.NEWPAYMENT" | translate}}</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="product_detail_right">
                    <div class="product_detail_right_inner cart">
                        <div class="title_bar">
                            <h2>{{"CART.CHECKOUT" | translate}}</h2>
                        </div>
                        <div class="adre_main">
                            <h3>{{"CART.DILEVERYA" | translate}}</h3>
                            <div class="adres_top" *ngFor="let i of addresszero; let k = index;">
                                <address *ngIf="k == 0">
                                    {{i?.address1}},{{i?.city}}-{{i?.postalCode}},{{i?.address2}}<br>
                                    {{i?.phone}}
                                </address>
                            </div>
                        </div>
                        <h3>{{"CATEGORY.PAYMENT" | translate}}</h3>
                        <div class="adre_main ">
                            <div class="adres_right">
                                <mat-radio-group aria-label="Select an option" [(ngModel)]="paymentmode" (change)="radioChange($event)">
                                    <mat-radio-button value="COD">{{'CATEGORY.COD' | translate}}</mat-radio-button>
                                    <mat-radio-button value="CC">{{"CATEGORY.CC" | translate}}</mat-radio-button>
                                </mat-radio-group>
                            </div>

                        </div>
                        <ul class="product_detail_tab_content">
                            <h3>{{"CART.PRICE DEATILS" | translate}}</h3>
                            <li>
                                <p>{{"CART.SUBTOTAL" | translate}}</p>
                                <p class="right_align">&#8377; {{price_total}}.00</p>
                            </li>
                            <li>
                                <p>{{"Discount" | translate}}</p>
                                <p class="right_align">{{taxCharge}}%</p>
                            </li>
                            <li>
                                <p>{{"CART.TAX" | translate}}</p>
                                <p class="right_align">{{taxCharge}}%</p>
                            </li>
                            <li>
                                <p>{{"CART.SHIPPING" | translate}}</p>
                                <p class="right_align" *ngIf="shippingCharge != 0">&#8377; {{shippingCharge}}</p>
                                <p class="right_align" *ngIf="shippingCharge == 0">&#8377; 0</p>
                            </li>
                        </ul>
                        <ul class="product_detail_tab_content total">
                            <li>
                                <p>{{"CART.TOTAL" | translate}}</p>
                                <p class="right_align">&#8377; {{price_total + (price_total * (taxCharge/100)) | number :'1.0-1'}} .00</p>
                            </li>
                        </ul>
                        <div class="product_detail_btn">
                            <button mat-raised-button (click)="openDialog()">{{"CART.PAYN" | translate}}</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- modale -->
<!-- Modal -->
<div class="modal fade " id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog checkout address_Addpopup" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{"FORM.ADDRESS" | translate}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addaddressform">
                    <ul class="formn_group_main">
                        <li>
                            <label>{{"FORM.NAME" | translate}}</label>
                            <div class="form-group">
                                <mat-form-field [floatLabel]="'never'">
                                    <input class="form-control" matInput type="text" maxLength="25" minlength="3" (keydown.space)="$event.preventDefault()" (keypress)="checkphone($event)" placeholder=" {{'FORM.NAME' | translate}}" name="name" formControlName="name">
                                </mat-form-field>

                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('name', 'required')">
                                    {{"VALIDATIONS.NAMEREQ" | translate}}
                                </mat-error>
                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('name', 'minlength')">
                                    {{"VALIDATIONS.NAMEMIN" | translate}}
                                </mat-error>
                            </div>
                        </li>
                        <li>
                            <label>{{"FORM.APARTMENT" | translate}}</label>
                            <div class="form-group">
                                <mat-form-field [floatLabel]="'never'">
                                    <input class="form-control" matInput type="text" maxLength="50" minlength="3" (keydown.space)="$event.preventDefault()" (keypress)="checkphone($event)" placeholder="{{'FORM.APARTMENT' | translate}}" name="address1" formControlName="address1">
                                </mat-form-field>

                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('address1', 'required')">
                                    {{"VALIDATIONS.APARTMENTREQ" | translate}}
                                </mat-error>
                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('address1', 'minlength')">
                                    {{"VALIDATIONS.APARTMENTMIN" | translate}}
                                </mat-error>
                            </div>
                        </li>
                        <li>
                            <label>{{"FORM.BUILDING" | translate}}</label>
                            <div class="form-group">
                                <mat-form-field [floatLabel]="'never'">
                                    <input class="form-control" matInput type="text" maxLength="50" minlength="3" (keydown.space)="$event.preventDefault()" (keypress)="checkphone($event)" placeholder="{{'FORM.BUILDING' | translate}}" name="name" formControlName="address2">
                                </mat-form-field>

                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('address2', 'required')">
                                    {{"VALIDATIONS.BUILDINGREQ" | translate}}
                                </mat-error>
                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('address2', 'maxLength')">
                                    {{"VALIDATIONS.BUILDINGINV" | translate}}
                                </mat-error>
                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('address2', 'minlength')">
                                    {{"VALIDATIONS.BUILDINGMIN" | translate}}
                                </mat-error>
                            </div>
                        </li>
                        <li>
                            <label>{{"FORM.CITY" | translate}}</label>
                            <div class="form-group">
                                <mat-form-field [floatLabel]="'never'">
                                    <input class="form-control" matInput type="text" maxLength="40" minlength="2" (keydown.space)="$event.preventDefault()" (keypress)="checkphone($event)" placeholder="{{'FORM.CITY' | translate}}" name="name" formControlName="city">
                                </mat-form-field>

                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('city', 'required')">
                                    {{"VALIDATIONS.CITYREQ" | translate}}
                                </mat-error>
                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('city', 'maxLength')">
                                    {{"VALIDATIONS.CITYINV" | translate}}
                                </mat-error>
                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('city', 'minlength')">
                                    {{"VALIDATIONS.CITYMIN" | translate}}
                                </mat-error>
                            </div>
                        </li>
                        <li>
                            <label>{{"FORM.POSTALC" | translate}}</label>
                            <div class="form-group">
                                <mat-form-field [floatLabel]="'never'">
                                    <input class="form-control" matInput type="text" maxLength="25" minlength="5" (keydown.space)="$event.preventDefault()" (keypress)="checkphone($event)" autocomplete="false" placeholder="{{'FORM.POSTALC' | translate}}" name="name" formControlName="postalCode">
                                </mat-form-field>
                                <!-- 
                                <mat-error class="error"
                                    *ngIf="submitted && errorHandlingAddress('postalCode', 'required')">
                                    postalCode is required
                                </mat-error>
                                <mat-error class="error"
                                    *ngIf="submitted && errorHandlingAddress('postalCode', 'maxLength')">
                                    postalCode maximum 25.
                                </mat-error>
                                <mat-error class="error"
                                    *ngIf="submitted && errorHandlingAddress('postalCode', 'minlength')">
                                    postalCode Minimum 5.
                                </mat-error> -->
                            </div>
                        </li>
                        <li>
                            <label>{{"FORM.COUNTRY" | translate}}</label>
                            <div class="form-group">
                                <input class="form-control" matInput list="browsers" name="browser" placeholder="{{'FORM.COUNTRY' | translate}}" formControlName="country" (keyup)="getAllcountry()" id="browser">
                                <datalist id="browsers" *ngFor="let body of countryList">
                                    <option *ngFor="let body of countryList" value="{{body.name}}">{{body.name}}</option>
                                </datalist>
                            </div>
                        </li>
                        <li>
                            <ngx-intl-tel-input placeholder="{{'FORM.PLACENO' | translate}}" [cssClass]="'custom'" [preferredCountries]="[
                                          CountryISO.UnitedStates,
                                          CountryISO.UnitedKingdom
                                        ]" [enableAutoCountrySelect]="false" [enablePlaceholder]="true" [searchCountryFlag]="true" [searchCountryField]="[
                                          SearchCountryField.Iso2,
                                          SearchCountryField.Name
                                        ]" [selectFirstCountry]="false" [selectedCountryISO]="countryCodeData" [maxLength]="15" [tooltipField]="TooltipLabel.Name" [phoneValidation]="true" name="phone" formControlName="phone"></ngx-intl-tel-input>
                    </ul>
                    <button class="address_modale_btn" *ngIf="setid == null" (click)="addaddress(1)">{{"FORM.NEWAD" | translate}}</button>
                    <button class="address_modale_btn" *ngIf="setid != null" (click)="addaddress(2)">{{"FORM.EDIT" | translate}}</button>
                </form>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>