<app-header></app-header>
<!-- <ngx-spinner [fullScreen] = "true" bdColor = "rgba(0, 0, 0, 0.8)" size = "small" color = "#fff" type="ball-clip-rotate-multiple" >
    <p class="loading">Loading ...</p>
</ngx-spinner> -->
<div class="celebrity_profile">
    <div class="banner">
        <div class="banner_slider">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <a href="#"> <img src="assets/images/c_p_banner.png"> </a>
                </ng-template>
                <ng-template carouselSlide>
                    <a href="#"> <img src="assets/images/c_p_banner.png"> </a>
                </ng-template>
                <ng-template carouselSlide>
                    <a href="#"> <img src="assets/images/c_p_banner.png"> </a>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="top_selection section_2 all_sec custom_navarrow">
        <div class="conta_iner">
            <div class="title_bar heading_bb">
                <h2> Celebrity Endorsed </h2>
                <a href="#"> See All </a>
            </div>
        </div>
        <div class="conta_iner">
            <owl-carousel-o [options]="customRecommended">
                <ng-container *ngFor="let recommended of recommendedDataVal;let i = index;">
                    <ng-template carouselSlide [id]="recommended.id">
                        <div (click)="gotoproductDetails(recommended?._id)" style="cursor: pointer;" class="selection_mains Product_box">
                            <div class="selection_main_box2">
                                <div class="selection_main">
                                    <div class="hm_restur_rateing" *ngIf="recommended?.avgRatings != 0">
                                        <figure><img alt="" style="cursor: pointer;" src="assets/images/star.png"></figure>
                                        <span>{{recommended?.avgRatings | number :'1.0-1'}}</span>
                                    </div>
                                    <div class="like" *ngIf="!recommended?.isFavourite" data-toggle="modal" data-target="#myModal" (click)="addfavlist(recommended._id)">
                                        <figure><img style="cursor: pointer;" src="assets/images/like.png"></figure>
                                    </div>
                                    <div class="like" *ngIf="recommended?.isFavourite" data-toggle="modal" data-target="#myModal" (click)="addfavlist(recommended._id)">
                                        <figure><img src="assets/images/like_red.png"></figure>
                                    </div>
                                </div>

                                <!-- <figure (click)="gotoproductDetails(recommended?._id)" *ngIf="!recommended.images[0]?.image" class="camera"><img style="cursor: pointer;" src="assets/images/noimage.png"></figure> -->
                                <figure *ngIf="recommended.images[0]?.image" class="camera camera2"><img style="cursor: pointer;" src="assets/images/product_1.png">
                                </figure>
                            </div>
                            <!-- <h4 *ngIf="recommended.discount">
                                AED{{recommended?.price - recommended?.price * recommended?.discount / 100 | number :'1.0-1'}}<del>AED{{recommended?.price | number :'1.0-1'}}
                                    </del><span>{{recommended?.discount}}% off</span> </h4>
                            <h4 *ngIf="!recommended.discount">AED{{recommended?.price}}</h4>
                            <h5>{{language == 'en' ? recommended?.name : recommended?.name_ar}}<span>{{language == 'en' ? recommended?.brand?.name : recommended?.brand?.name_ar}}</span></h5> -->
                            <div class="box_text">
                                <h4> &#8377; 20,000 <span class="old_rate"> &#8377; 40,000 </span> <span class="discount_off"> 50% off </span> </h4>
                                <h3> Camera Lense </h3>
                                <h5> nikon </h5>
                            </div>
                        </div>

                    </ng-template>
                </ng-container>

            </owl-carousel-o>
        </div>
    </div>
    <div class="banner_sec all_sec">
        <div class="conta_iner">
            <ul>
                <li>
                    <a href="#">
                        <figure class="camera"><img src="assets/images/banner_1.png"></figure>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <figure class="camera"><img src="assets/images/banner_2.png"></figure>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <figure class="camera"><img src="assets/images/banner_3.png"></figure>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="top_selection all_sec custom_navarrow">
        <div class="conta_iner">
            <div class="title_bar heading_bb">
                <h2> Top Products </h2>
                <a href="#"> See All </a>
            </div>
        </div>
        <div class="conta_iner">
            <owl-carousel-o [options]="customRecommended">
                <ng-container *ngFor="let recommended of recommendedDataVal;let i = index;">
                    <ng-template carouselSlide [id]="recommended.id">
                        <div (click)="gotoproductDetails(recommended?._id)" style="cursor: pointer;" class="selection_mains Product_box">
                            <div class="selection_main_box2">
                                <div class="selection_main">
                                    <div class="hm_restur_rateing" *ngIf="recommended?.avgRatings != 0">
                                        <figure><img alt="" style="cursor: pointer;" src="assets/images/star.png"></figure>
                                        <span>{{recommended?.avgRatings | number :'1.0-1'}}</span>
                                    </div>
                                    <div class="like" *ngIf="!recommended?.isFavourite" data-toggle="modal" data-target="#myModal" (click)="addfavlist(recommended._id)">
                                        <figure><img style="cursor: pointer;" src="assets/images/like.png"></figure>
                                    </div>
                                    <div class="like" *ngIf="recommended?.isFavourite" data-toggle="modal" data-target="#myModal" (click)="addfavlist(recommended._id)">
                                        <figure><img src="assets/images/like_red.png"></figure>
                                    </div>
                                </div>

                                <!-- <figure (click)="gotoproductDetails(recommended?._id)" *ngIf="!recommended.images[0]?.image" class="camera"><img style="cursor: pointer;" src="assets/images/noimage.png"></figure> -->
                                <figure *ngIf="recommended.images[0]?.image" class="camera camera2"><img style="cursor: pointer;" src="assets/images/product_1.png">
                                </figure>
                            </div>
                            <!-- <h4 *ngIf="recommended.discount">
                                AED{{recommended?.price - recommended?.price * recommended?.discount / 100 | number :'1.0-1'}}<del>AED{{recommended?.price | number :'1.0-1'}}
                                    </del><span>{{recommended?.discount}}% off</span> </h4>
                            <h4 *ngIf="!recommended.discount">AED{{recommended?.price}}</h4>
                            <h5>{{language == 'en' ? recommended?.name : recommended?.name_ar}}<span>{{language == 'en' ? recommended?.brand?.name : recommended?.brand?.name_ar}}</span></h5> -->
                            <div class="box_text">
                                <h4> &#8377; 20,000 <span class="old_rate"> &#8377; 40,000 </span> <span class="discount_off"> 50% off </span> </h4>
                                <h3> Camera Lense </h3>
                                <h5> nikon </h5>
                            </div>
                        </div>
                        <div (click)="gotoproductDetails(recommended?._id)" style="cursor: pointer;" class="selection_mains Product_box celebrity_box2">
                            <div class="selection_main_box2">
                                <div class="selection_main">
                                    <div class="hm_restur_rateing" *ngIf="recommended?.avgRatings != 0">
                                        <figure><img alt="" style="cursor: pointer;" src="assets/images/star.png"></figure>
                                        <span>{{recommended?.avgRatings | number :'1.0-1'}}</span>
                                    </div>
                                    <div class="like" *ngIf="!recommended?.isFavourite" data-toggle="modal" data-target="#myModal" (click)="addfavlist(recommended._id)">
                                        <figure><img style="cursor: pointer;" src="assets/images/like.png"></figure>
                                    </div>
                                    <div class="like" *ngIf="recommended?.isFavourite" data-toggle="modal" data-target="#myModal" (click)="addfavlist(recommended._id)">
                                        <figure><img src="assets/images/like_red.png"></figure>
                                    </div>
                                </div>

                                <!-- <figure (click)="gotoproductDetails(recommended?._id)" *ngIf="!recommended.images[0]?.image" class="camera"><img style="cursor: pointer;" src="assets/images/noimage.png"></figure> -->
                                <figure *ngIf="recommended.images[0]?.image" class="camera camera2"><img style="cursor: pointer;" src="assets/images/product_1.png">
                                </figure>
                            </div>
                            <!-- <h4 *ngIf="recommended.discount">
                                AED{{recommended?.price - recommended?.price * recommended?.discount / 100 | number :'1.0-1'}}<del>AED{{recommended?.price | number :'1.0-1'}}
                                    </del><span>{{recommended?.discount}}% off</span> </h4>
                            <h4 *ngIf="!recommended.discount">AED{{recommended?.price}}</h4>
                            <h5>{{language == 'en' ? recommended?.name : recommended?.name_ar}}<span>{{language == 'en' ? recommended?.brand?.name : recommended?.brand?.name_ar}}</span></h5> -->
                            <div class="box_text">
                                <h4> &#8377; 20,000 <span class="old_rate"> &#8377; 40,000 </span> <span class="discount_off"> 50% off </span> </h4>
                                <h3> Camera Lense </h3>
                                <h5> nikon </h5>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
    <div class="D_banner">
        <div class="conta_iner">
            <figure><img src="assets/images/c_d_banner.png"></figure>
        </div>
    </div>
    <div class="top_selection all_sec custom_navarrow">
        <div class="conta_iner">
            <div class="title_bar heading_bb">
                <h2> Celebrities related With Products </h2>
                <a href="#"> See All </a>
            </div>
        </div>
        <div class="conta_iner">
            <owl-carousel-o [options]="customRecommended">
                <ng-container *ngFor="let recommended of recommendedDataVal;let i = index;">
                    <ng-template carouselSlide [id]="recommended.id">
                        <div (click)="gotoproductDetails(recommended?._id)" style="cursor: pointer;" class="selection_mains Product_box">
                            <div class="selection_main_box2">
                                <div class="selection_main">
                                    <div class="hm_restur_rateing" *ngIf="recommended?.avgRatings != 0">
                                        <figure><img alt="" style="cursor: pointer;" src="assets/images/star.png"></figure>
                                        <span>{{recommended?.avgRatings | number :'1.0-1'}}</span>
                                    </div>
                                    <div class="like" *ngIf="!recommended?.isFavourite" data-toggle="modal" data-target="#myModal" (click)="addfavlist(recommended._id)">
                                        <figure><img style="cursor: pointer;" src="assets/images/like.png"></figure>
                                    </div>
                                    <div class="like" *ngIf="recommended?.isFavourite" data-toggle="modal" data-target="#myModal" (click)="addfavlist(recommended._id)">
                                        <figure><img src="assets/images/like_red.png"></figure>
                                    </div>
                                </div>

                                <!-- <figure (click)="gotoproductDetails(recommended?._id)" *ngIf="!recommended.images[0]?.image" class="camera"><img style="cursor: pointer;" src="assets/images/noimage.png"></figure> -->
                                <figure *ngIf="recommended.images[0]?.image" class="camera camera2"><img style="cursor: pointer;" src="assets/images/product_1.png">
                                </figure>
                            </div>
                            <!-- <h4 *ngIf="recommended.discount">
                                AED{{recommended?.price - recommended?.price * recommended?.discount / 100 | number :'1.0-1'}}<del>AED{{recommended?.price | number :'1.0-1'}}
                                    </del><span>{{recommended?.discount}}% off</span> </h4>
                            <h4 *ngIf="!recommended.discount">AED{{recommended?.price}}</h4>
                            <h5>{{language == 'en' ? recommended?.name : recommended?.name_ar}}<span>{{language == 'en' ? recommended?.brand?.name : recommended?.brand?.name_ar}}</span></h5> -->
                            <div class="box_text">
                                <h4> &#8377; 20,000 <span class="old_rate"> &#8377; 40,000 </span> <span class="discount_off"> 50% off </span> </h4>
                                <h3> Camera Lense </h3>
                                <h5> nikon </h5>
                            </div>
                        </div>

                    </ng-template>
                </ng-container>

            </owl-carousel-o>
        </div>
    </div>
</div>
<app-footer></app-footer>