<app-header></app-header>
<div class="wishlist_wrap comman_nameing_margin">
    <div class="conta_iner">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" (click)="gotohomepage()">{{"PROFILE.HOME" | translate}}</a></li>
                <li class="breadcrumb-item active" aria-current="wishlist">{{"CART.WISHLIST" | translate}}</li>
                
            </ol>
        </nav>
        <div class="wishlist">
            <div class="more_explore_main">
                <div class="title_bar" *ngIf="favproduct?.length != 0">
                    <h2>{{"CART.WISHLIST" | translate}}</h2>
                </div>
                <div class="title_bar" *ngIf="favproduct?.length === 0">
                    <h2>{{"CART.WISHEMP" | translate}}</h2>
                </div>
                <ul >
                    <li *ngFor="let i of favproduct">
                        <div class="selection_mains" style="cursor: pointer;"> 
                            <div class="explore_main">
                                <div class="selection_main">
                                    <div class="hm_restur_rateing">
                                        <figure><img alt="" src="assets/images/star.png"></figure>
                                        <span>4.8</span>
                                    </div>
                                    <div class="like" (click)="removefav(i.productId.id)">
                                        <figure><img src="assets/images/like_red.png"></figure>
                                    </div>
                                </div>
                                <figure *ngIf="i.productId.images[0]?.image != null" class="camera" (click)="gotoprod_page(i.productId._id)"><img [src]="imgurl+i.productId.images[0]?.image"></figure>
                                <figure *ngIf="i.productId.images[0]?.image == null" (click)="gotoprod_page(i.productId._id)"><img
                                    src="assets/images/noimage.png">
                            </figure>
                            </div>
                            <!-- <h4>₹{{i.productId.price}}</h4> -->
                            <h4 *ngIf="i.productId.discount">₹{{i?.productId.price - i?.productId.price * i?.productId.discount / 100}}<del>₹{{i?.productId.price}} </del><span>{{i?.productId.discount}}% off</span> </h4>
                            <h4 *ngIf="!i.productId?.discount">₹{{i?.productId.price}}</h4>
                            <!-- <del>₹49,950 </del><span>28% off</span> -->
                            <h5>{{language == 'en' ? i.productId.name : i.productId.name_ar}}<span>{{language == 'en' ? i.productId.brand.name : i.productId.brand.name_ar}}</span></h5>
                        </div>
                    </li>
                  
                </ul>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>