<div class="login_wrap forget_password">
    <div class="conta_iner">
        <div class="login_main">
            <div class="login_logo_img">
                <figure><img src="assets/images/logo.svg"></figure>
            </div>
            <div class="login_form">
                <div class="verification_left">
                    <h4>{{"LOGIN.FORGOTPASS" | translate}}</h4>
                    <form [formGroup]="ProfileForm" class="forget_input">
                        <div class="form-group">
                            <mat-form-field [floatLabel]="'never'">
                                <input class="form-control" matInput type="text" placeholder="Enter Email Id" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" formControlName="email">
                            </mat-form-field>
                        </div>
                        <mat-error class="error" *ngIf="submitted && errorHandling('email', 'required')">
                           Email is required
                        </mat-error>
                        <mat-error class="error" *ngIf="submitted && errorHandling('email', 'email')">
                            Invalid email
                        </mat-error>
                    </form>
                </div>
                <div class="verification_left"><button (click)="onSumbit()">{{"LOGIN.RECOVER" | translate}}</button></div>
            </div>
        </div>
    </div>
</div>