<app-header></app-header>
<div class="order_detail_wrap comman_nameing_margin" *ngIf="status == 'New' || status == 'Packing' || status == 'Shipped'">
    <div class="conta_iner" *ngFor="let history of historyord">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" (click)="backtohome(1)"><a>{{"PROFILE.HOME" | translate}}</a></li>
                <li class="breadcrumb-item" (click)="backtohome(2)"><a> {{"FORM.ORDERID" | translate}} :{{history?.orderId}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{"FORM.DETAILS" | translate}}</li>
            </ol>
        </nav>
        <div class="orderdetail_main">
            <div class="orderdetail_left">
                <div class="order_detail_content">
                    <div class="order_detail_left">
                        <h3>{{"FORM.ORDERID" | translate}} :{{history?.orderId}}<span>{{history?.productId.name}}</span></h3>
                        <ul>
                            <li>
                                <i class="fa fa-calendar-alt"></i>{{history?.updatedAt | date:'short'}}
                            </li>
                            <!-- <li>
                                <i class="fa fa-clock"></i>03:15 PM
                            </li> -->
                        </ul>
                    </div>
                    <div class="order_detail_right">
                        <h4 class="blue_color"><span>{{"FORM.STATUS" | translate}}</span>{{history?.status}}</h4>
                    </div>
                </div>
                <ul class="bill_detail">
                    <h4>{{"CART.BILLD" | translate}}</h4>
                    <li>
                        <h3>{{language == 'en' ? history?.productId.name : history?.productId.name_ar}}</h3>
                        <h3>AED {{(history?.productId?.price * history?.quantity)-(history?.productId?.price * history?.quantity) * history?.productId?.discount/100}}*{{history?.quantity}}</h3>
                    </li>
                    <!-- <li>
                        <h3>Product1</h3>
                        <h3>$ 15</h3>
                    </li>
                    <li>
                        <h3>Product1</h3>
                        <h3>$ 15</h3>
                    </li> -->
                </ul>
                <ul class="item_total">
                    <li>
                        <h3>{{"CART.ITEMT" | translate}}</h3>
                        <h3>AED {{(history?.productId?.price * history?.quantity)-(history?.productId?.price * history?.quantity) * history?.productId?.discount/100}}</h3>
                    </li>
                    <li>
                        <h3>{{"CART.POSTAGE" | translate}}</h3>
                        <h3 class="green">{{"CART.FREE" | translate}}</h3>
                    </li>
                    <li>
                        <h3>{{"CART.TOTAL" | translate}} </h3>
                        <h3 class="extrabold_order">AED {{(history?.productId?.price * history?.quantity)-(history?.productId?.price * history?.quantity) * history?.productId?.discount/100}}</h3>
                    </li>
                </ul>
                <button (click)="openDialog()">{{"CART.CANCEL" | translate}}</button>
                <!-- <p class="orderdetail_p">New Products 30 days to leave feedback + waranty</p> -->
            </div>
            <div class="orderdetail_right">
                <ul class="approved_ordder">
                    <h4>{{"CART.SHIPPINGD" | translate}}</h4>
                    <li>
                        <div class="aproved_order_main">
                            <div class="approved_order_left">
                                <div class="approved_order_inner">
                                    <div class="approved_order_inner2"></div>
                                </div>
                            </div>
                            <div class="approved_order_right">
                                <h4>{{"CART.ORDERA" | translate}}</h4>
                                <h5>{{"CART.YOURORDER" | translate}}<span>{{history?.createdAt | date:'fullDate'}}</span></h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="aproved_order_main second">
                            <div class="approved_order_left">
                                <div class="approved_order_inner">
                                    <div class="approved_order_inner2"></div>
                                </div>
                            </div>
                            <div class="approved_order_right">
                                <h3>{{"CART.SHIPPED" | translate}}<span>{{history?.packingDate}}</span></h3>
                                <h5>{{"CART.YOURORDER" | translate}}<span>{{history?.shippedDate}}</span></h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="aproved_order_main third">
                            <div class="approved_order_left">

                                <div class="approved_order_inner">
                                    <div class="approved_order_inner2"></div>

                                </div>
                            </div>
                            <div class="approved_order_right" *ngIf="history?.deliveredDate">
                                <!-- <h3 >Dilvered<span>{{{history?.deliveredDate}}</span></h3> -->
                                <!-- <h5>Your order has been Placed<span>{{history?.deliveryDate}}</span></h5> -->
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>

<!-- -------------------------- -->
<div class="order_detail_wrap comman_nameing_margin" *ngIf="status == 'Delivered' || status == 'Canceled'">
    <div class="conta_iner" *ngFor="let history of historyordpast">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" (click)="backtohome(1)"><a>{{"PROFILE.HOME" | translate}}</a></li>
                <li class="breadcrumb-item" (click)="backtohome(2)"><a> {{"FORM.ORDERID" | translate}} :{{history?.orderId}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{"FORM.DETAILS" | translate}}</li>
            </ol>
        </nav>

        <div class="orderdetail_main">

            <div class="orderdetail_left">
                <div class="repeat_btn_orderdet">
                    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLongrep"
                        (click)="orderrepeated(history?.orderId)">
                        {{"CART.REPEAT" | translate}}
                    </button> -->
                </div>
                <div class="order_detail_content">
                    <div class="order_detail_left">
                        <h3>{{"FORM.ORDERID" | translate}} :{{history?.orderId}}<span>{{history?.productId.name}}</span></h3>
                        <ul>
                            <li>
                                <i class="fa fa-calendar-alt"></i>{{history?.updatedAt | date:'short'}}
                            </li>
                            <!-- <li>
                                <i class="fa fa-clock"></i>03:15 PM
                            </li> -->
                        </ul>
                    </div>
                    <div class="order_detail_right">
                        <h4 class="blue_color"><span>{{"FORM.STATUS" | translate}}</span>{{history?.status}}</h4>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong" *ngIf="!history?.isRated && status == 'Delivered'" (click)="checkorderid(history?.productId._id,history?._id)">{{"CATEGORY.RATING" | translate}}</button>
                    </div>
                </div>
                <ul class="bill_detail">
                    <h4>{{"CART.BILLD" | translate}}</h4>
                    <li>
                        <h3>{{language == 'en' ? history?.productId.name : history?.productId.name}}</h3>
                        <h3>AED {{(history?.productId?.price)-(history?.productId?.price) * history?.productId?.discount/100}}*{{history?.quantity}}</h3>
                    </li>
                    <!-- <li>
                        <h3>Product1</h3>
                        <h3>$ 15</h3>
                    </li>
                    <li>
                        <h3>Product1</h3>
                        <h3>$ 15</h3>
                    </li> -->
                </ul>
                <ul class="item_total">
                    <li>
                        <h3>{{"CART.ITEMT" | translate}}</h3>
                        <h3>AED {{(history?.productId?.price * history?.quantity)-(history?.productId?.price * history?.quantity) * history?.productId?.discount/100}}</h3>
                    </li>
                    <li>
                        <h3>{{"CART.POSTAGE" | translate}}</h3>
                        <h3 class="green">{{"CART.FREE" | translate}}</h3>
                    </li>
                    <li>
                        <h3>{{"CART.TOTAL" | translate}} </h3>
                        <h3 class="extrabold_order">AED {{(history?.productId?.price * history?.quantity)-(history?.productId?.price * history?.quantity) * history?.productId?.discount/100}}</h3>
                    </li>
                </ul>
                <!-- <button  (click)="openDialog()" >Cancel</button> -->
                <!-- <p class="orderdetail_p">New Products 30 days to leave feedback + waranty</p> -->
            </div>
            <div class="orderdetail_right">
                <ul class="approved_ordder" *ngIf="status == 'Delivered'">
                    <h4>{{"CART.SHIPPINGD" | translate}}</h4>
                    <li>
                        <div class="aproved_order_main">
                            <div class="approved_order_left">

                                <div class="approved_order_inner">
                                    <div class="approved_order_inner2"></div>

                                </div>
                            </div>
                            <div class="approved_order_right">
                                <h4>{{"CART.ORDERA" | translate}}</h4>
                                <h5>{{"CART.YOURORDER" | translate}}<span>{{history?.createdAt | date:'fullDate'}}</span></h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="aproved_order_main second">
                            <div class="approved_order_left">

                                <div class="approved_order_inner">
                                    <div class="approved_order_inner2"></div>
                                </div>
                            </div>
                            <div class="approved_order_right">
                                <h3>{{"CART.PLACED" | translate}}<span>{{history?.packingDate | date:'fullDate'}}</span></h3>
                                <h5>{{"CART.SELLERPRO" | translate}}
                                    <span>{{history?.packingDate | date:'fullDate'}}</span>
                                </h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="aproved_order_main second">
                            <div class="approved_order_left">

                                <div class="approved_order_inner">
                                    <div class="approved_order_inner2"></div>
                                </div>
                            </div>
                            <div class="approved_order_right">
                                <h3>{{"CART.SHIPPED"}}<span>{{history?.shippedDate | date:'fullDate'}}</span></h3>
                                <h5>{{"CART.ITEMSHIP" | translate}}
                                    <span>{{history?.shippedDate | date:'fullDate'}}</span>
                                </h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="aproved_order_main third">
                            <div class="approved_order_left">
                                <div class="approved_order_inner">
                                    <div class="approved_order_inner2"></div>
                                </div>
                            </div>
                            <div class="approved_order_right">
                                <h3>{{"CART.DILIVER" | translate}}<span>{{history?.deliveredDate | date:'fullDate'}}</span></h3>
                                <h5>{{"CART.DILIVERED" | translate}}<span>{{history?.deliveredDate | date:'fullDate'}}</span></h5>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="get_help" *ngIf="status == 'Delivered'">
                    <li data-toggle="modal" data-target="#RecieptModal"><a (click)="getReciept(history?.orderId)">{{"CART.VIEWRECIEPT" | translate}}</a></li>
                    <li class=border_right_order></li>
                    <li class=""><a type="button" class="btn" data-toggle="modal" data-target="#Modalhelp">{{"CART.GETH" | translate}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog checkout" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{"CART.KINDLYGIVE" | translate}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body reating_popup">
                <form [formGroup]="form">
                    <ngx-star-rating formControlName="{{'CART.KINDLYGIVE' | translate}}" [id]="'rating'"></ngx-star-rating>
                    <!-- <div>Rating: {{form.value.rating}}</div>
                    <p>form is valid: {{ form.valid ? 'true' : 'false' }}</p> -->
                </form>
                <button type="button" class="btn btn-primary" (click)="submitrating()">{{"CART.SUBMIT" | translate}}</button>
                <div style="text-align:center">
                    <mat-form-field>
                        <mat-label>{{"CART.FEEDBACK" | translate}}</mat-label>
                        <input matInput type="text" [(ngModel)]="feedback" placeholder="give your feedback">
                    </mat-form-field>
                    <!-- <star-rating value="5" totalstars="5" checkedcolor="green" uncheckedcolor="grey" size="24px" readonly="false" (rate)="onRate($event)"></star-rating> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade cancel-modal" id="Modalhelp" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body rate-now">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <form class="help-form" action="" method="post">
                    <select>
                        <option selected disabled value="Select Reason">Select Reason</option>
                        <option value="Reason 1">Reason 1</option>
                        <option value="Reason 2">Reason 2</option>
                        <option value="Reason 3">Reason 3</option>
                        <option value="Reason 4">Reason 4</option>
                    </select>
                    <textarea placeholder="Enter your feedback" class="help-textarea"></textarea>
                    <div class="btn-outer">
                        <button type="submit" class="btn theme_btn submit-rating-form">Continue</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade cancel-modal" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body rate-now">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <form class="rating-form" action="" method="post">
                    <input type="hidden" id="driverIdInput" name="driver_id" value="">
                    <div class="rateing-item smile-1" style="display:none;">
                        <h3>Rate Now</h3>
                        <figure> <img src="assets/images/smile-1.png" alt=""> </figure>
                        <span>Not Good</span>
                    </div>
                    <div class="rateing-item smile-2" style="display:none;">
                        <h3>Rate Now</h3>
                        <figure> <img src="assets/images/smile-2.png" alt=""> </figure>
                        <span>Ok</span>
                    </div>
                    <div class="rateing-item smile-3">
                        <h3>Rate Now</h3>
                        <figure> <img src="assets/images/smile-3.png" alt=""> </figure>
                        <span>Good</span>
                    </div>
                    <div class="rateing-item smile-4" style="display:none;">
                        <h3>Rate Now</h3>
                        <figure> <img src="assets/images/smile-4.png" alt=""> </figure>
                        <span>Great</span>
                    </div>
                    <div class="rateing-item smile-5" style="display:none;">
                        <h3>Rate Now</h3>
                        <figure> <img src="assets/images/smile-5.png" alt=""> </figure>
                        <span>Excellent</span>
                    </div>
                    <fieldset class="rate">
                        <input type="radio" class="rateNow" id="rating5" name="rating" value="5" /><label for="rating5" title="5 stars"></label>
                        <input type="radio" class="rateNow" id="rating4" name="rating" value="4" /><label for="rating4" title="4 stars"></label>
                        <input type="radio" class="rateNow" id="rating3" name="rating" value="3" /><label for="rating3" title="3 stars"></label>
                        <input type="radio" class="rateNow" id="rating2" name="rating" value="2" /><label for="rating2" title="2 stars"></label>
                        <input type="radio" class="rateNow" id="rating1" name="rating" value="1" /><label for="rating1" title="1 star"></label>
                    </fieldset>
                    <textarea placeholder="Enter your feedback" class="rateing-textarea" name="feedback"></textarea>
                    <div class="btn-outer">
                        <button type="submit" class="btn theme_btn submit-rating-form">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalLongrep" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog checkout repeat_order_popup" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span>
                    {{"CART.REPEATEORDER" | translate}}
                </span>
                <!-- <h5 class="modal-title" id="exampleModalLongTitle">Kindly give your rating</h5> -->
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> -->
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-primary" (click)="submitrepreated()">{{"FORM.YES" | translate}}</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">{{"FORM.NO" | translate}}</button>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>

<app-footer></app-footer>