<div class="login_wrap">
    <div class="conta_iner">
        <div class="login_main">
            <div class="login_logo_img">
                <figure><img src="assets/images/logo.svg"></figure>
            </div>

            <span class="skip" (click)="goTohome()" style="cursor: pointer;">
                Skip >>
            </span>
            <div class="login_form">
                <h3>Welcome back!<span>Sign in to your account</span></h3>
                <form #f="ngForm" (ngSubmit)="f.form.valid && Login(f)">
                    <div class="formn_group_main">
                        <div class="form-group">
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" [(ngModel)]="email" name="email" #Email="ngModel" placeholder="Email" required>
                            </mat-form-field>

                            <div class="validation_logins" *ngIf="f.submitted && Email.invalid">
                                <div class="login_validation alert alert-danger" *ngIf="Email.errors.required" >
                                    Email is required
                                </div>
                                <div class="login_validation alert alert-danger" *ngIf="Email.value !== '' && Email.untouched && Email.invalid">
                                    Invalid Email
                                </div>
                            </div>
                            <div class="validation_logins" *ngIf="f.submitted && Email.invalid">
                                <div class="login_validation alert alert-danger" *ngIf="Email.value !== '' && Email.untouched && Email.invalid">
                                    Invalid Email
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <mat-form-field appearance="fill">
                                <input matInput [type]="hide ? 'password' : 'text'" minlength="8" maxlength="20"
                                    class="form-control" id="pwd" placeholder="XXXXXXXXXX" [(ngModel)]="password"
                                    value="" name="password" #Password="ngModel" required>
                                <button class="login_eye_btn" mat-icon-button matSuffix
                                    (click)="passwordVisibility($event)" [attr.aria-label]="'Hide password'"
                                    [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'S' : 'H'}}</mat-icon>
                                </button>
                            </mat-form-field>

                            <div class="validation_logins" *ngIf="f.submitted && Password.invalid ">
                                <div class="login_validation alert alert-danger" *ngIf="Password.errors.required">
                                    Password is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex btnss">
                        <div class="noborder">
                            <mat-checkbox [(ngModel)]="rememberMe" name="rememberMe">Keep me logged in</mat-checkbox>
                        </div>
                        <a style="cursor: pointer; text-align: right;" (click)="goToforgetpassword()">Forgot your password</a>
                    </div>
                    <button type="submit" name="login">Login</button>
                    <p>Or continue with social</p>
                    <ul class="connection_img">
                        <li>
                            <figure style="cursor: pointer;" (click)="facebooklogin()"><img src="assets/images/facebook.png"></figure>
                        </li>
                        <li>
                            <figure style="cursor: pointer;" (click)="googlelogin()"><img src="assets/images/goggle.png"></figure>
                        </li>
                    </ul>
                    <p>By clicking on a social options you may receive an sms for verification. messsage and data rates may apply.</p>
                </form>
            </div>
            <p class="signupp">Don’t have an account <a (click)="goTosignup()">Sign up</a></p>
        </div>
    </div>
</div>