/******popup csss**************/
.sign_up_icon {
display: flex;
justify-content: center;
align-items: center;
}
.sign_up_icon p figure {
    width: 56%;
    margin: 0px auto;
}
.sign_up_icon p span {
    font-size: 17px;
    font-weight: 600;
    margin-top: 6px;
    display: block;
}
.sign_up_icon p {
    width: 15%;
}
.setting_popup h2 {
    background: #c1c8d9;
    padding: 7px 9px;
    font-size: 17px;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
}
.col_left {
    margin-right: 4px;
}
.setting_popup_bx {
    margin-top: 2rem;
}
.column {
    display: flex;width: 100%;
}
.setting_compent {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;    position: relative;
    margin-top: 15px;
}
.setting_icon {
width: 6%;
}
.setting_dropdown {
width: 94%;
}   
.setting_dropdown label {
width: 100%;
}
.setting_dropdown select {
width: 100%;
padding: 7px 0px;
border: none;
border-bottom: 1px solid #ccc;
}
.setting_popup {
margin-bottom: 19px;
}
.setting_icon svg {
width: 30px;
height: 24px;
}
h2.plz_login {
text-align: center;
text-transform: capitalize;
width: 100%;
background: #ffcb08;
padding: 6px 0px;
font-size: 24px;
margin-bottom: 14px;
}
.close {
    position: absolute;
    top: -14px;
    right: -13px;
    color: white;
    opacity: 1;
    background: #000;
    border-radius: 50px;
    height: 30px;
    width: 30px;
}

.product_detail_left_inner {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid black;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
  overflow: visible;
}

#imgZoom {
    height: 300;
}

#overlay{
    border:1px solid black;
    width:352px;
    height:220px;
    display:inline-block;
    background-image:url('https://appgrowthcompany.com:3083/images/uploads/product/images-1595247608272.jpg');
    background-repeat:no-repeat;
    
  }

  .card_box
{
    border: solid 0px;
    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}



  