<app-header (searchtextvalue)=changesearchresult($event)></app-header>
<div class="category_wrap comman_nameing_margin">
    <div class="conta_iner">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a (click)="backtohome()">{{"PROFILE.HOME" | translate}}</a></li>
                <li class="breadcrumb-item"><a>{{"CATEGORY.CATEGORY" | translate}}</a></li>
            </ol>
        </nav>
        <div class="category_main">
            <!-- <nav class="navbar navbar2">                                           ** new comment **
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#categorydiv">
                      <span style="background: #999; padding: 2px 5px;" class="icon-bar"></span>
                      <span style="background: #999; padding: 2px 5px;" class="icon-bar"></span>
                      <span style="background: #999; padding: 2px 5px;" class="icon-bar"></span>                        
                    </button>
                  </div>
                  <div class="collapse navbar-collapse" id="categorydiv">
                    <ul class="nav navbar-nav">
                        <div class="category_left">
                            <div class="category_left_nner">
                                <div class="clear">
                                    <span (click)="clearBrand()">{{"CATEGORY.CLEAR" | translate}}</span>
                                </div>
                                <h4>{{"CATEGORY.CATEGORY" | translate}}</h4>
                                <ul class="category_sidebar">
            
                                    <li class="cate_active" style="cursor: pointer;"
                                        *ngFor="let list of categorylist; let i = index" [ngClass]="{active: list.name == prod}"
                                        (click)="getcategoryid(list?._id,1,i,list.name)">
                                        {{list.name}}</li>
            
                                </ul>
                                <div class="price_navbar" *ngIf="pricehide">
                                    <h4>{{"CATEGORY.PRICE" | translate}}</h4>
                                    <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="options"
                                        (mouseup)="sliderEvent()"></ng5-slider>
                                </div>
                                <div class="price_navbar_checkout" *ngIf="pricehide">
                                    <div style="display: flex; align-items:center;">
                                        <h4>{{"CATEGORY.BRAND" | translate}}</h4>
                                       
                                    </div>
                                    <input class="form-control" type="text" placeholder="Search brand" [(ngModel)]="search" (keyup)="checkBrand()">
                                    <ul>
                                        <li *ngFor="let item of brandlist; let i = index">
                                            <mat-checkbox (change)="filterBrancd(item._id,$event,i)"
                                                [checked]="brandarrylist.includes(item?._id)">{{language == 'en' ? item?.name : item?.name_ar}} 
                                            </mat-checkbox>
                                        </li>
            
                                    </ul>
                                </div>
                                <div class="price_navbar_checkout" *ngIf="pricehide">
                                    <div style="display: flex;">
                                        <h4>{{"CATEGORY.RATING" | translate}}</h4>
                                    </div>
                                    <ul>
                                        <li>
                                            <ul>
                                                <mat-radio-group aria-label="Select an option">
                                                    <li>
                                                        <mat-radio-button value="1" (change)="radioChange($event)"
                                                            [checked]="ratval == '1'"><i class="fa fa-star"></i> & up
                                                        </mat-radio-button>
                                                    </li>
                                                    <li>
                                                        <mat-radio-button value="2" (change)="radioChange($event)"
                                                            [checked]="ratval == '2'"><i class="fa fa-star"></i><i
                                                                class="fa fa-star"></i> & up</mat-radio-button>
                                                    </li>
                                                    <li>
                                                        <mat-radio-button value="3" (change)="radioChange($event)"
                                                            [checked]="ratval == '3'"><i class="fa fa-star"></i><i
                                                                class="fa fa-star"></i><i class="fa fa-star"></i> & up
                                                        </mat-radio-button>
                                                    </li>
                                                    <li>
                                                        <mat-radio-button value="4" (change)="radioChange($event)"
                                                            [checked]="ratval == '4'"><i class="fa fa-star"></i><i
                                                                class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                                class="fa fa-star"></i> & up </mat-radio-button>
                                                    </li>
                                                    <li>
                                                        <mat-radio-button value="5" (change)="radioChange($event)"
                                                            [checked]="ratval == '5'"><i class="fa fa-star"></i><i
                                                                class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                                class="fa fa-star"></i><i class="fa fa-star"></i></mat-radio-button>
                                                    </li>
                                                </mat-radio-group>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </ul>
                  </div>
                </div>
              </nav> -->

            <nav class="navbar navbar2 navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav">
                        <div class="category_left_nner">
                            <h4>{{"CATEGORY.CATEGORY" | translate}}</h4>
                            <!-- <ul class="category_sidebar">
                                    <li class="cate_active" style="cursor: pointer;" *ngFor="let list of categorylist; let i = index" [ngClass]="{active: list.name == prod}" (click)="getcategoryid(list?._id,1,i,list.name)">
                                        {{list.name}}</li>
                                </ul> -->
                            <ul>
                                <li class="category_list">
                                    <a type="button" data-toggle="collapse" data-target="#category_1" aria-expanded="false" aria-controls="collapseExample">
                                            Electronic <i _ngcontent-ewc-c2="" class="fa fa-angle-right"></i>
                                        </a>
                                    <div class="collapse" id="category_1">
                                        <div class="card-body">
                                            <ul>
                                                <li>
                                                    Health & Care
                                                </li>
                                                <li> Home & Kitchen </li>
                                                <li> Musical Instrument </li>
                                                <li> Entertainment </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="category_list">
                                    <a type="button" data-toggle="collapse" data-target="#category_2" aria-expanded="false" aria-controls="collapseExample">
                                            Category 2 <i _ngcontent-ewc-c2="" class="fa fa-angle-right"></i>
                                        </a>
                                    <div class="collapse" id="category_2">
                                        <div class="card-body">
                                            <ul>
                                                <li>
                                                    Health & Care
                                                </li>
                                                <li> Home & Kitchen </li>
                                                <li> Musical Instrument </li>
                                                <li> Entertainment </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="category_list">
                                    <a type="button" data-toggle="collapse" data-target="#category_3" aria-expanded="false" aria-controls="collapseExample">
                                            Category 3 <i _ngcontent-ewc-c2="" class="fa fa-angle-right"></i>
                                        </a>
                                    <div class="collapse" id="category_3">
                                        <div class="card-body">
                                            <ul>
                                                <li>
                                                    Health & Care
                                                </li>
                                                <li> Home & Kitchen </li>
                                                <li> Musical Instrument </li>
                                                <li> Entertainment </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="category_list">
                                    <a type="button" data-toggle="collapse" data-target="#category_4" aria-expanded="false" aria-controls="collapseExample">
                                            Category 4 <i _ngcontent-ewc-c2="" class="fa fa-angle-right"></i>
                                        </a>
                                    <div class="collapse" id="category_4">
                                        <div class="card-body">
                                            <ul>
                                                <li>
                                                    Health & Care
                                                </li>
                                                <li> Home & Kitchen </li>
                                                <li> Musical Instrument </li>
                                                <li> Entertainment </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="price_navbar" *ngIf="pricehide">
                                <h4>{{"CATEGORY.PRICE" | translate}}</h4>
                                <div class="price_box">
                                    <input type="number" placeholder="Min">
                                    <input type="number" placeholder="Max">
                                </div>
                            </div>
                            <div class="price_navbar_checkout" *ngIf="pricehide">
                                <div style="display: flex; align-items:center;">
                                    <h4>{{"CATEGORY.BRAND" | translate}}</h4>

                                </div>
                                <input class="form-control" type="text" placeholder="Search brand" [(ngModel)]="search" (keyup)="checkBrand()">
                                <ul>
                                    <li *ngFor="let item of brandlist; let i = index">
                                        <mat-checkbox (change)="filterBrancd(item._id,$event,i)" [checked]="brandarrylist.includes(item?._id)">{{language == 'en' ? item?.name : item?.name_ar}}
                                        </mat-checkbox>
                                    </li>

                                </ul>
                            </div>
                            <div class="price_navbar_checkout" *ngIf="pricehide">
                                <div style="display: flex;">
                                    <h4>{{"CATEGORY.RATING" | translate}}</h4>
                                </div>
                                <ul>
                                    <li>
                                        <ul class="rating_list">
                                            <mat-radio-group aria-label="Select an option">
                                                <li>
                                                    <mat-checkbox (change)="filterBrancd()" [checked]="brandarrylist.includes(item?._id)"><i class="fa fa-star"></i> & up
                                                    </mat-checkbox>
                                                </li>
                                                <li>
                                                    <mat-checkbox (change)="filterBrancd()" [checked]="brandarrylist.includes(item?._id)"><i class="fa fa-star"></i><i class="fa fa-star"></i> & up
                                                    </mat-checkbox>
                                                </li>
                                                <li>
                                                    <mat-checkbox (change)="filterBrancd()" [checked]="brandarrylist.includes(item?._id)"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> & up
                                                    </mat-checkbox>
                                                </li>
                                                <li>
                                                    <mat-checkbox (change)="filterBrancd()" [checked]="brandarrylist.includes(item?._id)"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> & up
                                                    </mat-checkbox>
                                                </li>
                                                <li>
                                                    <mat-checkbox (change)="filterBrancd()" [checked]="brandarrylist.includes(item?._id)"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></mat-checkbox>
                                                </li>
                                            </mat-radio-group>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </div>
            </nav>

            <div class="category_right">
                <div class="more_explore_main">
                    <div class="more_explore_main1">
                    </div>
                    <div class="more_explore_main2">
                        <div class="category_top_bar" *ngIf="!searchlist">
                            <div class="vategory_left_bar">
                                <p>{{search_result?.length}} {{"CATEGORY.RESULT" | translate}}</p>
                                <!-- <p *ngIf="search_result?.length == ">0 results found</p> -->
                            </div>
                            <div class="category_right_bar">
                                <ul class="collpase_bar">
                                    <li *ngIf="pricehide">
                                        <p *ngIf="isfeature" class="right_Align">{{"CATEGORY.SORTBY" | translate}}</p>
                                        <div class="dropdown" *ngIf="isfeature">
                                            <select class="cat_filter" [(ngModel)]="sort" placeholder="Select" (change)="sortSelected($event)">
                                                <!-- <option value="undefined" disabled>Select</option> -->
                                                <option value="1">{{"CATEGORY.POPUR" | translate}}</option>
                                                <option value="2">{{"CATEGORY.LOWH" | translate}}</option>
                                                <option value="3">{{"CATEGORY.HIGHL" | translate}}</option>
                                                <option value="4">{{"CATEGORY.NEWF" | translate}}</option>
                                            </select>

                                        </div>
                                    </li>
                                    <li class="row_top_bar" *ngIf="pricehide">
                                        <p>{{"CATEGORY.ROW" | translate}}</p>
                                        <div class="form-group">
                                            <a *ngIf="row" (click)="rowmethod(1)">
                                                <i class="fa fa-th"></i>
                                            </a>
                                            <a *ngIf="!row" (click)="rowmethod(2)">
                                                <i class="fa fa-list"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div *ngIf="!searchresulthide">
                            <!-- <ul *ngFor="let i of search_result" class="search">
                                <li (click)="gotoproductDetails(i?._id,i?.type)">
                                        <div class="selection_mains">
                                            <div class="explore_main">
                                                <figure class="camera" style="cursor: pointer;"><img
                                                    [src]="imgurl+i?.image"></figure>
                                            </div>
                                        </div>
                                    <div class="tab2_category_main">
                                        <div class="selection_main">
                                                <span>{{i?.name}}</span>
                                            <div class="hm_restur_rateing">
                                                <figure><img alt="" src="assets/images/star.png"></figure>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul> -->
                            <ul class="sub_prodwith_name">
                                <li (click)="gotoproductDetails(i?._id,i?.type)" *ngFor="let i of search_result">
                                    <div class="selection_mains">
                                        <figure class="camera" style="cursor: pointer;"><img [src]="imgurl+i?.image"></figure>
                                    </div>
                                    <div class="tab2_category_main">
                                        <div class="tab2_category">
                                            <span>{{language == 'en' ? i?.name : i?.name_ar}}</span>
                                            <div class="hm_restur_rateing">
                                                <figure><img alt="" src="assets/images/star.png"></figure>
                                                <!-- <span>4.8</span> -->
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div *ngIf="searchlist">
                            <ul class="toy_banner_list">
                                <li *ngFor="let i of bannerlist">
                                    <div>
                                        <div (click)="getbannnerdatalist(i,1)">
                                            <figure style="cursor: pointer;"><img [src]="imgurl+i?.image"></figure>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="list_cat">
                                <li (click)="getcategoryid(j?._id,2)" *ngFor="let j of subcategeorylist">
                                    <div>
                                        <figure style="cursor: pointer;"><img [src]="imgurl+j?.image"></figure>
                                    </div>
                                    <h3>{{j?.name}}</h3>
                                </li>
                            </ul>
                            <ul *ngFor="let k of listsubcategory">
                                <li style="cursor: pointer;" (click)="getcategoryid(k?._id,2)">
                                    {{language == 'en' ? k?.name : k?.name_ar}}
                                </li>
                            </ul>
                        </div>
                        <div>
                            <div *ngIf="subproduct" class="sub_prod_namediv">
                                <ul class="sub_prodwith_name catproduct">
                                    <div [class]="column">
                                        <li (click)="gotoproductDetails(j?._id,'product')" *ngFor="let j of productdetail">
                                            <div class="selection_mains">
                                                <div class="selection_main">
                                                    <div class="hm_restur_rateing">
                                                        <figure><img alt="" src="assets/images/star.png"></figure>
                                                        <span>0.0</span>
                                                    </div>
                                                    <!-- <div class="like">
                                                        <figure><img src="assets/images/like.png"></figure>
                                                    </div> -->
                                                </div>
                                                <div class="explore_main">
                                                    <figure class="camera" *ngIf="j.images?.length != 0" style="cursor: pointer;"><img [src]="imgurl+j?.images[0]?.image">
                                                    </figure>
                                                    <figure class="camera" *ngIf="j.images?.length == 0" style="cursor: pointer;"><img src="assets/images/noimage.png">
                                                    </figure>
                                                </div>
                                            </div>
                                            <div class="tab2_category_main">
                                                <div class="tab2_category_row">
                                                    <!-- <h2 style="cursor: pointer;">{{language == 'en' ? j?.name : j?.name_ar}}<span> {{ language == 'en' ? j.brand?.name : j.brand?.name_ar}}</span>
                                                    </h2> -->
                                                    <h2> 101 Animal stories </h2>
                                                    <h3> Kindel </h3>
                                                    <div class="box_text">
                                                        <h4> &#8377; 20,000 <span class="old_rate"> &#8377; 40,000 </span> <span class="discount_off"> 50% off </span> </h4>
                                                    </div>
                                                </div>
                                                <div class="tab2_category_column">
                                                    <!-- <h2 style="cursor: pointer;">{{language == 'en' ? j?.name : j?.name_ar}}<span> {{ language == 'en' ? j.brand?.name : j.brand?.name_ar}}</span>
                                                    </h2> -->
                                                    <div class="box_text">
                                                        <h4> &#8377; 20,000 <span class="old_rate"> &#8377; 40,000 </span> <span class="discount_off"> 50% off </span> </h4>
                                                    </div>
                                                    <h2> 101 Animal stories </h2>
                                                    <h3> Kindel </h3>
                                                </div>
                                                <div class="tab2_rating">
                                                    <div class="hm_restur_rateing">
                                                        <figure><img alt="" src="assets/images/star.png"></figure>
                                                        <span>0.0</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <mat-paginator [length]="length" [pageSize]="10" *ngIf="!pagehide" [pageSizeOptions]="[5, 10, 25, 100]" (page)="PageEvent = pageeventvalue($event,'past')">
                </mat-paginator> -->
                <nav aria-label="Page navigation" class="page_nav">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link prev" href="#" aria-label="Previous">
                                <span aria-hidden="true"> < </span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                            <a class="page-link next" href="#" aria-label="Next">
                                <span aria-hidden="true"> > </span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <app-footer></app-footer>

    <div class="modal" id="myModal" *ngIf="isloggin == null">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <!-- <div class="modal-header">
                  <h4 class="modal-title">Modal Heading</h4>
                 
                </div> -->

                <!-- Modal body -->
                <div class="modal-body signup_popup">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="plz_login">{{"LOGIN.PLSLOGIN" | translate}}
                    </h2>
                    <div class="sign_up_icon">
                        <p (click)="goTologin()">
                            <figure>
                                <img src="assets/images/popup1.png" alt="">
                            </figure>
                            <span>{{"SIGN UP.SIGNIN" | translate}}</span>
                        </p>
                        <p (click)="goTosignup()">
                            <figure>
                                <img src="assets/images/popup.png" alt="">
                            </figure>
                            <span>{{"SIGN UP.SIGN UP" | translate}}</span>
                        </p>
                    </div>
                    <!----popup setting section-->
                    <div class="setting_popup_bx">
                        <div class="setting_popup">
                            <h2>{{"SIGN UP.SETTING" | translate}}</h2>
                            <ul>
                                <li>
                                    <div class="setting_compent">
                                        <div class="setting_icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18.65" height="18.65" viewBox="0 0 18.65 18.65">
                                                <defs>
                                                    <style>
                                                        .prefix__cls-2 {
                                                            fill: #ffcb08
                                                        }
                                                    </style>
                                                </defs>
                                                <g id="prefix__Group_2281" data-name="Group 2281"
                                                    transform="translate(-21.353 -493.83)">
                                                    <circle id="prefix__Ellipse_238" cx="6.503" cy="6.503" r="6.503"
                                                        data-name="Ellipse 238" transform="translate(24.286 496.6)"
                                                        style="fill:#1c1c20" />
                                                    <path id="prefix__Path_3116"
                                                        d="M36.174 512.363a.087.087 0 0 0 .053-.117q-.129-.3-.263-.579a.085.085 0 0 0-.1-.044 17.457 17.457 0 0 1-4.69.676.087.087 0 0 0-.084.088 4.371 4.371 0 0 0 1.02 2.892.087.087 0 0 0 .131-.006 8.363 8.363 0 0 1 3.933-2.91z"
                                                        class="prefix__cls-2" data-name="Path 3116"
                                                        transform="translate(-5.036 -9.205)" />
                                                    <path id="prefix__Path_3117"
                                                        d="M31.488 507.611a16.794 16.794 0 0 0 4.037-.556.088.088 0 0 0 .051-.127 16.2 16.2 0 0 0-1.62-2.387.087.087 0 0 0-.1-.022A4.66 4.66 0 0 0 31.4 507.5a.087.087 0 0 0 .088.111z"
                                                        class="prefix__cls-2" data-name="Path 3117"
                                                        transform="translate(-5.197 -5.526)" />
                                                    <path id="prefix__Path_3118"
                                                        d="M38.544 515.089a7.38 7.38 0 0 0-3.6 2.682.088.088 0 0 0 .016.125 4.63 4.63 0 0 0 4.456.58.088.088 0 0 0 .054-.1 17.768 17.768 0 0 0-.822-3.237.088.088 0 0 0-.104-.05z"
                                                        class="prefix__cls-2" data-name="Path 3118"
                                                        transform="translate(-7.025 -10.998)" />
                                                    <path id="prefix__Path_3119"
                                                        d="M40.4 506.108a.088.088 0 0 0 .112.039 6.8 6.8 0 0 0 2.116-1.464.088.088 0 0 0-.008-.13 4.627 4.627 0 0 0-3.7-.928.087.087 0 0 0-.052.138 17.867 17.867 0 0 1 1.532 2.345z"
                                                        class="prefix__cls-2" data-name="Path 3119"
                                                        transform="translate(-9.056 -5.03)" />
                                                    <path id="prefix__Path_3120"
                                                        d="M45.539 507.362a7.823 7.823 0 0 1-2.356 1.628.085.085 0 0 0-.042.114q.164.349.323.724a.087.087 0 0 0 .091.052 8.49 8.49 0 0 1 2.932.114.087.087 0 0 0 .1-.088 4.612 4.612 0 0 0-.922-2.535.086.086 0 0 0-.126-.009z"
                                                        class="prefix__cls-2" data-name="Path 3120"
                                                        transform="translate(-11.269 -6.988)" />
                                                    <path id="prefix__Path_3121"
                                                        d="M30.678 493.83A9.325 9.325 0 1 0 40 503.155a9.336 9.336 0 0 0-9.322-9.325zm-.5 14.954a5.645 5.645 0 1 1 6.136-6.136 5.658 5.658 0 0 1-6.14 6.136z"
                                                        class="prefix__cls-2" data-name="Path 3121" />
                                                    <path id="prefix__Path_3122"
                                                        d="M47.242 514.727a7.777 7.777 0 0 0-2.463-.168.086.086 0 0 0-.072.114 18.639 18.639 0 0 1 .742 2.827.087.087 0 0 0 .137.056 4.649 4.649 0 0 0 1.725-2.726.089.089 0 0 0-.069-.103z"
                                                        class="prefix__cls-2" data-name="Path 3122"
                                                        transform="translate(-12.081 -10.708)" />
                                                </g>
                                            </svg>
                                        </div>
                                        <div class="setting_dropdown">
                                            <label>{{"FORM.COUNTRY" | translate}}</label>
                                            <select>
                                                <option>UAE</option>
    
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="setting_compent">
                                        <div class="setting_icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="15.879" height="15.879" viewBox="0 0 15.879 15.879">
                                                <g id="Group_2461" data-name="Group 2461" transform="translate(5103 -4525)">
                                                    <circle id="Ellipse_239" data-name="Ellipse 239" cx="7.94" cy="7.94"
                                                        r="7.94" transform="translate(-5103 4525)" fill="#ffcb08" />
                                                    <g id="Group_2460" data-name="Group 2460"
                                                        transform="translate(16.5 -1.5)">
                                                        <line id="Line_60" data-name="Line 60" y2="8.218"
                                                            transform="translate(-5114.5 4530.5)" fill="none"
                                                            stroke="#1c1c20" stroke-linecap="round" stroke-linejoin="round"
                                                            stroke-width="1" />
                                                        <path id="Path_3123" data-name="Path 3123"
                                                            d="M40.574,588.287H34V585h6.574l-1.644,1.644Z"
                                                            transform="translate(-5148.5 3945.5)" fill="none"
                                                            stroke="#1c1c20" stroke-linecap="round" stroke-linejoin="round"
                                                            stroke-width="1" />
                                                    </g>
                                                </g>
                                            </svg>
                                        </div>
                                        <div class="setting_dropdown">
                                            <label>{{"SIGN UP.LANGUGE" | translate}}</label>
                                            <select [(ngModel)]="language" (change)="languageChange($event.target.value)">
                                                <option value = 'en' [selected]="language == 'en'">EN</option>
                                                <option value = 'arb' [selected]="language == 'ard'">ARB</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-----end setting select box-->
                        <div class="setting_popup reach_out">
                            <h2>{{"LOGIN.REACHOUT" | translate}}</h2>
                            <ul>
                                <li>
                                    <div class="setting_compent">
                                        <div class="setting_icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18.65" height="18.65" viewBox="0 0 18.65 18.65">
                                                <g id="prefix__Group_2456" data-name="Group 2456"
                                                    transform="translate(-8 -721)">
                                                    <circle id="prefix__Ellipse_240" cx="7.864" cy="7.864" r="7.864"
                                                        data-name="Ellipse 240" transform="rotate(-78.019 458.526 363.255)"
                                                        style="fill:#ffcb08" />
                                                    <g id="prefix__Group_2286" data-name="Group 2286"
                                                        transform="translate(12.883 725.477)">
                                                        <g id="prefix__Group_2285" data-name="Group 2285">
                                                            <path id="prefix__shape_2"
                                                                d="M29.623 742.147l.643-2.349a4.534 4.534 0 1 1 3.929 2.27 4.528 4.528 0 0 1-2.167-.552zm2.515-1.451l.138.081a3.762 3.762 0 0 0 1.918.525A3.768 3.768 0 1 0 31 739.538l.09.142-.381 1.39z"
                                                                data-name="shape 2" transform="translate(-29.623 -733)" />
                                                            <path id="prefix__shape_1"
                                                                d="M36.368 739.192c-.085-.188-.174-.192-.255-.2h-.217a.415.415 0 0 0-.3.142 1.269 1.269 0 0 0-.4.945 2.205 2.205 0 0 0 .463 1.172 4.653 4.653 0 0 0 1.935 1.71c.957.377 1.152.3 1.36.283a1.144 1.144 0 0 0 .765-.538.945.945 0 0 0 .066-.539c-.028-.047-.1-.075-.217-.132s-.67-.331-.774-.369-.179-.057-.255.057-.293.368-.359.444-.132.086-.245.029a3.107 3.107 0 0 1-.911-.562 3.415 3.415 0 0 1-.63-.785c-.066-.113-.007-.175.05-.231s.114-.132.17-.2a.781.781 0 0 0 .113-.189.207.207 0 0 0-.009-.2c-.03-.053-.25-.613-.35-.837z"
                                                                data-name="shape 1" transform="translate(-32.929 -736.555)"
                                                                style="fill-rule:evenodd" />
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                        </div>
                                        <div class="setting_dropdown">
                                            <label>{{"SIGN UP.WHATSAPP" | translate}}</label>

                                            <span (click)="gotoWhatsapp()" style="cursor: pointer;">8288932697</span>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="setting_compent">
                                        <div class="setting_icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18.65" height="18.65" viewBox="0 0 18.65 18.65">
                                                <g id="prefix__Group_2457" data-name="Group 2457"
                                                    transform="translate(-17.762 -801.24)">
                                                    <circle id="prefix__Ellipse_241" cx="7.864" cy="7.864" r="7.864"
                                                        data-name="Ellipse 241" transform="rotate(-78.019 512.934 397.35)"
                                                        style="fill:#ffcb08" />
                                                    <g id="prefix__Group_2283" data-name="Group 2283"
                                                        transform="translate(26.476 807.548)">
                                                        <path id="prefix__Path_3124"
                                                            d="M39.175 817.36a.62.62 0 0 1 .62-.62h.1a.62.62 0 0 1 .62.62.62.62 0 0 1-.62.62h-.1a.62.62 0 0 1-.62-.62zm0 5.751v-3.825a.62.62 0 0 1 .62-.62h.1a.62.62 0 0 1 .62.62v3.825a.62.62 0 0 1-.62.62h-.1a.62.62 0 0 1-.62-.62z"
                                                            data-name="Path 3124" transform="translate(-39.175 -816.74)" />
                                                    </g>
                                                </g>
                                            </svg>
                                        </div>
                                        <div class="setting_dropdown">
                                            <label (click)="Help()">{{"LOGIN.HELP" | translate}}</label>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-----end setting select box-->

                    </div>

                </div>
            </div>
        </div>
    </div>