<div class="login_wrap signup">
    <div class="conta_iner">
        <div class="login_main">
            <div class="login_logo_img">
                <figure><img src="assets/images/logo.svg"></figure>
            </div>
            <span class="skip" style="cursor: pointer;" (click)="movetonext()">
                {{"SIGN UP.SKIP" | translate}} >>
            </span>
            <div class="login_form">
                <h4>{{"LOGIN.CREAT" | translate}}</h4>
                <form [formGroup]="ProfileForm">
                    <div class="user_profile">
                        <div class="user_profile_img">
                            <figure *ngIf="!imgURL"><img src="assets/images/user.png"></figure>
                            <figure *ngIf="imgURL"><img src="{{ imgURL }}"></figure>

                            <input type="file" id="file-input" (change)="onChange($event)" accept="image/*" class="upload_file" />
                        </div>
                        <div class="profile_camera">
                            <img src="assets/images/edit.png">
                        </div>
                    </div>
                    <div class="formn_group_main">
                        <div class="half">
                            <div class="form-group">
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" placeholder="{{'SIGN UP.FIRSTNAME' | translate}}" name="firstName" pattern="^[a-zA-Z]*$" maxLength="20" minlength="3" (keydown.space)="$event.preventDefault()" formControlName="firstName">
                                </mat-form-field>

                            </div>
                            <mat-error class="error" *ngIf="submitted && errorHandling('firstName', 'required')">
                                {{"VALIDATIONS.FIRSTNAMER" | translate}}
                            </mat-error>
                            <mat-error class="error" *ngIf="submitted && errorHandling('firstName', 'pattern')">
                                {{"VALIDATIONS.FIRSTNAMEIN" | translate}}
                            </mat-error>
                            <mat-error class="error" *ngIf="submitted && errorHandling('firstName', 'maxLength')">
                                {{"VALIDATIONS.FIRSTNAMEMAX" | translate}}
                            </mat-error>
                            <mat-error class="error" *ngIf="submitted && errorHandling('firstName', 'minlength')">
                                {{"VALIDATIONS.FIRSTNAMEMIN" | translate}}.
                            </mat-error>
                            <div class="form-group">
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" pattern="^[a-zA-Z]*$" (keydown.space)="$event.preventDefault()" placeholder="{{'SIGN UP.LASTNAME' | translate}}" name="lastName" maxLength="20" minlength="3" formControlName="lastName">
                                </mat-form-field>

                            </div>
                            <mat-error class="error" *ngIf="submitted && errorHandling('lastName', 'required')">
                                {{"VALIDATIONS.LASTNAMER" | translate}}
                            </mat-error>
                            <!-- <mat-error class="error" *ngIf="submitted && errorHandling('lastName', 'pattern')">
                                Last Name is invalid
                            </mat-error> -->
                            <mat-error class="error" *ngIf="submitted && errorHandling('lastName', 'maxLength')">
                                {{"VALIDATIONS.LASTNAMEMAX" | translate}}
                            </mat-error>
                            <mat-error class="error" *ngIf="submitted && errorHandling('lastName', 'minlength')">
                                {{"VALIDATIONS.LASTNAMEMIN" | translate}}
                            </mat-error>
                        </div>
                        <div class="form-group">
                            <mat-form-field [floatLabel]="'never'" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                                <input matInput type="text" placeholder="{{'SIGN UP.EMAIL_ID' | translate}}" name="email" formControlName="email">
                            </mat-form-field>

                        </div>
                        <mat-error class="error" *ngIf="submitted && errorHandling('email', 'required')">
                            {{"VALIDATIONS.EMAILR" | translate}}
                        </mat-error>
                        <mat-error class="error" *ngIf="submitted && errorHandling('email', 'email')">
                            {{"VALIDATIONS.EMAILIN" | translate}}
                        </mat-error>
                        <!-- <div class="form-group"> -->
                        <ngx-intl-tel-input placeholder="Enter phone number" [cssClass]="'custom'" [preferredCountries]="[
                    CountryISO.UnitedStates,
                    CountryISO.UnitedKingdom
                  ]" [enableAutoCountrySelect]="false" [enablePlaceholder]="false" [searchCountryFlag]="true" [searchCountryField]="[
                    SearchCountryField.Iso2,
                    SearchCountryField.Name
                  ]" [selectFirstCountry]="false" [selectedCountryISO]="countryCodeData" [maxLength]="15" [tooltipField]="TooltipLabel.Name" [phoneValidation]="true" name="phone" formControlName="phone" required></ngx-intl-tel-input>
                        <!-- </div> -->
                        <!-- <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="Phone number" name="name">
                            </mat-form-field> -->
                        <!-- </div> -->
                        <mat-error class="error" *ngIf="submitted && errorHandling('phone', 'required')">
                            Phone number is required
                        </mat-error>
                        <mat-error class="error" *ngIf="submitted && errorHandling('phone', 'maxLength')">
                            {{"VALIDATIONS.PHONENR" | translate}}
                        </mat-error>
                        <div class="form-group">
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="Enter address" name="address" formControlName="address" >
                            </mat-form-field>

                        </div>
                        <mat-error class="error" *ngIf="submitted && errorHandling('address', 'required')">
                            address is required
                        </mat-error>
                        <div class="form-group">
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="password" placeholder="{{'SIGN UP.PASSWORD' | translate}}" name="password" formControlName="password" minlength="8" maxlength="20">
                            </mat-form-field>

                        </div>
                        <mat-error class="error" *ngIf="submitted && errorHandling('password', 'required')">
                            {{"VALIDATIONS.PASSWORDR" | translate}}
                        </mat-error>
                        <mat-error class="error" *ngIf="submitted && errorHandling('password', 'minlength')">
                            {{"VALIDATIONS.PASSWORDMIN" | translate}}
                        </mat-error>
                        <mat-error class="error" *ngIf="submitted && errorHandling('password','maxlength')">
                            {{"VALIDATIONS.PASSWORDMAX" | translate}}
                        </mat-error>
                        <div class="form-group">
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="password" placeholder="{{'SIGN UP.CONFIRM_PASSWORD' | translate}}" name="cpassword" minlength="8" maxlength="20" formControlName="cpassword">
                            </mat-form-field>
                        </div>
                        <mat-error class="error" *ngIf="submitted && errorHandling('cpassword', 'required')">
                            {{"VALIDATIONS.CONFIRMPASS" | translate}}
                        </mat-error>
                    </div>
                    <button (click)="onSumbit()" >{{'LOGIN.SIGNUP' | translate}}</button>             ** new comment **                   
                    <!-- <button (click)="goToverfication()">{{'LOGIN.SIGNUP' | translate}}</button> -->
                </form>
            </div>
            <p class="signupp">{{"LOGIN.ALREADY" | translate}}<a (click)="goTologin()">{{"LOGIN.LOGIN" | translate}}</a></p>
        </div>
    </div>
    <div class="modal fade " id="verify_by" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" data-toggle="modal" data-target="#verify_by" >
        <div class="modal-dialog checkout address_Addpopup" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                    <h2> Verify Account By : </h2>
                    <form>
                        <!-- <div class="select_box">
                            <label> Phone Number </label>
                            <input class="" type="radio"  name="Accountverify">
                        </div>
                        <div class="select_box">
                            <label> Email Address </label>
                            <input class="" type="radio" name="Accountverify">
                        </div> -->
                        <mat-radio-group aria-label="Select an option" (change)="checkoption($event)">
                            <mat-radio-button value="1">Phone Number</mat-radio-button>
                            <mat-radio-button value="2">Email Address</mat-radio-button>
                          </mat-radio-group>
                        <button class="btn Form_btn" type="submit" (click)="finalsubmit()"> Submit </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner *ngIf="isloaded"></ngx-spinner>