#verify_by {
    text-align: center;
​
.select_box {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    label {
        font-size: 20px;
        margin: 15px 0px;
    }
    input {
        width: 21px;
        height: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
​
input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    position: relative;
    background-color: #97334B;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

}