<div class="cancel_orderpop">
  <div mat-dialog-content>
    <p>{{"CART.DYWNT" | translate}}</p>
    <mat-form-field [floatLabel]="'never'">
      <input class="form-control" matInput type="text" [(ngModel)]="reason" placeholder="{{'CART.REASON' | translate}}">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">{{"FORM.NO" | translate}}</button>
    <button mat-button [mat-dialog-close]="data" (click)="setdata()" cdkFocusInitial>{{"FORM.YES" | translate}}</button>
  </div>
</div>