<div class="container">
    <div class="col-12">
        <div class="success_box">
            <svg xmlns="http://www.w3.org/2000/svg" width="400" height="400" viewBox="0 0 400 400">
                <g id="Group_2362" data-name="Group 2362" transform="translate(-753 -24)">
                  <g id="Ellipse_212" data-name="Ellipse 212" transform="translate(796 95)" fill="#fff" stroke="#707070" stroke-width="1">
                    <ellipse cx="156" cy="123" rx="156" ry="123" stroke="none"/>
                    <ellipse cx="156" cy="123" rx="155.5" ry="122.5" fill="none"/>
                  </g>
                  <path id="Icon_awesome-check-circle" data-name="Icon awesome-check-circle" d="M400.563,200.562c0,110.457-89.543,200-200,200s-200-89.543-200-200,89.543-200,200-200S400.563,90.105,400.563,200.562Zm-223.134,105.9L325.816,158.074a12.9,12.9,0,0,0,0-18.248l-18.248-18.248a12.9,12.9,0,0,0-18.248,0L168.3,242.593l-56.5-56.5a12.9,12.9,0,0,0-18.248,0L75.309,204.342a12.9,12.9,0,0,0,0,18.248L159.18,306.46a12.9,12.9,0,0,0,18.248,0Z" transform="translate(752.438 23.438)" fill="#65cc2b"/>
                </g>
              </svg>              
            <h2> Thank You </h2>
            <h4> Your payment is Successfull </h4>
            <button (click)="gotohome()">Go To Site</button>
        </div>
    </div>
</div>


