<app-header></app-header>
<div class="profile_wrap comman_nameing_margin">
    <div class="conta_iner">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" (click)="backtohome()">{{"PROFILE.HOME" | translate}}</a></li>
                <li class="breadcrumb-item active" aria-current="orders">{{"PROFILE.ACCOUNT" | translate}}</li>
            </ol>
        </nav>
        <div class="profile_main">
            <div class="prfile_left">
                <div class="user_profile">
                    <div class="user_profile_img">
                        <figure *ngIf="uppereimage != undefined && profilePic != ''"><img [src]="imgaelink+uppereimage">
                        </figure>
                        <figure *ngIf="uppereimage == undefined || profilePic == ''"><img src="assets/images/user.png">
                        </figure>

                    </div>
                    <div class="profile_camera1">
                        <h4>{{profiledata?.firstName }} {{ profiledata?.lastName}}<span>{{"PROFILE.VIEW PROFILE" | translate}}</span></h4>
                        <!-- <h4 *ngIf="googlevalue != 'null'">{{googlevalue.name}}<span>View Profile</span></h4> -->
                    </div>
                </div>
                <ul class="nav nav-justified nav-tabs" id="justifiedTab" role="tablist">
                    <li class="nav-item">
                        <a aria-controls="home" aria-selected="true" class="nav-link active" data-toggle="tab" href="#profile" id="home-tab" role="tab">{{"PROFILE.PROFILE" | translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="home" aria-selected="true" class="nav-link" data-toggle="tab" href="#orders" id="home-tab" role="tab">{{"PROFILE.ORDER" | translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="profile" aria-selected="false" class="nav-link" data-toggle="tab" href="#Addresses" id="profile-tab" role="tab">{{"PROFILE.ADDRESS" | translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="contact" aria-selected="false" class="nav-link" data-toggle="tab" href="#payment" id="contact-tab" role="tab">{{"PROFILE.PAYMENT" | translate}}</a>
                    </li>
                    <li class="nav-item" *ngIf="loginType != 'GOOGLE' && loginType != 'FACEBOOK'">
                        <a aria-controls="contact" aria-selected="false" class="nav-link" data-toggle="tab" href="#Password" id="Password-tab" role="tab">{{"PROFILE.CHANGE" | translate}}</a>
                    </li>
                    <!-- <li class="nav-item" *ngIf="loginType != 'FACEBOOK'"> 
                        <a aria-controls="contact" aria-selected="false" class="nav-link" data-toggle="tab"
                            href="#Password" id="Password-tab" role="tab">Change Password</a>
                    </li> -->
                    <li class="nav-item">
                        <a aria-controls="contact" aria-selected="false" class="nav-link" data-toggle="modal" data-target="#exampleModalLongrep" href="#logout" id="Password-tab" role="tab">{{"PROFILE.LOG OUT" | translate}}</a>
                    </li>
                </ul>
            </div>
            <div class="profile_right">
                <div class="tab-content" id="justifiedTabContent">
                    <div aria-labelledby="home-tab" class="tab-pane active" id="profile" role="tabpanel">
                        <div class="profile_content">
                            <div class="profile title_bar">
                                <h2>{{"PROFILE.PROFILE" | translate}}<span>{{"PROFILE.MANAGE" |
                                     translate}}</span></h2>
                                <!-- Manage your profile details -->
                            </div>
                            <div class="grey_line"></div>
                            <form [formGroup]="profileForm">
                                <div class="user_profile">


                                    <div class="user_profile_img">
                                        <!-- <figure *ngIf="imgURL"><img src="{{imgURL}}"></figure> -->
                                        <figure *ngIf="profilePic != undefined && profilePic != '' && !show"><img [src]="imgaelink+profilePic"></figure>
                                        <figure *ngIf="profilePic == undefined || profilePic == ''"><img src="assets/images/user.png"></figure>
                                        <figure *ngIf="show"><img src={{profilePic}}></figure>
                                        <!--  <figure *ngIf="isloggin"><img src="assets/images/user.png"></figure> -->

                                    </div>
                                    <div class="profile_camera">
                                        <input type="file" id="file-input" (change)="onChange($event)" accept="image/*" class="upload_file" />
                                        <img src="assets/images/edit.png">
                                    </div>
                                </div>
                                <ul class="formn_group_main">
                                    <li>
                                        <label>{{"FORM.FIRST NAME" | translate}}</label>
                                        <div class="form-group">
                                            <mat-form-field [floatLabel]="'never'">
                                                <input class="form-control" matInput type="text" (keypress)="alphabate($event)" pattern="^[a-zA-Z]*$" maxLength="20" minlength="3" (keydown.space)="$event.preventDefault()" placeholder="{{'FORM.FIRST NAME' | translate}}" formControlName="firstName" autocomplete="false"
                                                    name="firstname">
                                            </mat-form-field>

                                        </div>
                                        &nbsp;
                                        <mat-error class="error" *ngIf="submitted && errorHandling('firstName', 'required')">
                                            {{"VALIDATION.FIRSTNAMER" | translate}}
                                        </mat-error>
                                        <mat-error class="error" *ngIf="submitted && errorHandling('firstName', 'minlength')">
                                            {{"VALIDATION.FIRSTNAMEMIN" | translate}}
                                        </mat-error>
                                        <mat-error class="error" *ngIf="submitted && errorHandling('firstName', 'maxLength')">
                                            {{"VALIDATION.FIRSTNAMEMAX" | translate}}
                                        </mat-error>

                                    </li>
                                    <li>
                                        <label>{{"FORM.LAST NAME" | translate}}</label>
                                        <div class="form-group">
                                            <mat-form-field [floatLabel]="'never'">
                                                <input class="form-control" matInput type="text" (keypress)="alphabate($event)" pattern="^[a-zA-Z]*$" maxLength="20" minlength="3" (keydown.space)="$event.preventDefault()" placeholder="{{'FORM.LAST NAME' | translate}}" formControlName="lastName" autocomplete="false"
                                                    name="lastname">
                                            </mat-form-field>

                                        </div>
                                        &nbsp;
                                        <mat-error class="error" *ngIf="submitted && errorHandling('lastName', 'required')">
                                            {{"VALIDATION.LASTNAMER" | translate}}
                                        </mat-error>
                                        <mat-error class="error" *ngIf="submitted && errorHandling('lastName', 'minlength')">
                                            {{"VALIDATION.LASTNAMEMIN" | translate}}
                                        </mat-error>
                                        <mat-error class="error" *ngIf="submitted && errorHandling('lastName', 'maxLength')">
                                            {{"VALIDATION.LASTNAMEMAX" | translate}}
                                        </mat-error>
                                    </li>
                                    <li>
                                        <label>{{"FORM.EMAIL" | translate}}</label>
                                        <div class="form-group">
                                            <mat-form-field [floatLabel]="'never'" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                                                <input matInput type="text" class="form-control" placeholder="{{'FORM.EMAIL' | translate}}" formControlName="email">
                                            </mat-form-field>

                                        </div>
                                        &nbsp;
                                        <mat-error class="error" *ngIf="submitted && errorHandling('email', 'required')">
                                            {{"FORM.EMAILR" | translate}}
                                        </mat-error>
                                        <mat-error class="error" *ngIf="submitted && errorHandling('email', 'pattern')">
                                            {{"FORM.EMAILIN"}}
                                        </mat-error>
                                    </li>
                                    <li>
                                        <ngx-intl-tel-input placeholder="Enter phone number" [cssClass]="'custom'" [preferredCountries]="[
                                          CountryISO.UnitedStates,
                                          CountryISO.UnitedKingdom
                                        ]" [enableAutoCountrySelect]="false" [enablePlaceholder]="true" [searchCountryFlag]="true" [searchCountryField]="[
                                          SearchCountryField.Iso2,
                                          SearchCountryField.Name
                                        ]" [selectFirstCountry]="false" [selectedCountryISO]="countryCodeData" [maxLength]="15" [tooltipField]="TooltipLabel.Name" [phoneValidation]="true" name="phone" formControlName="phone"></ngx-intl-tel-input>
                                    </li>
                                </ul>
                                <button (click)="editprofile()">{{"FORM.SAVE" | translate}}</button>
                            </form>
                        </div>
                    </div>
                    <div aria-labelledby="home-tab" class="tab-pane" id="orders" role="tabpanel">
                        <div class="orderdetail_content">
                            <mat-tab-group>
                                <mat-tab label="{{'FORM.ONGOING' | translate}}">
                                    <span *ngIf="historyord?.length === 0">No orders</span>
                                    <ul class="order_detail" *ngFor="let history of historyord">
                                        <li style="cursor: pointer;" (click)="goToorderdetail(history?._id,'ongoing')">
                                            <div class="order_detail_content">
                                                <div class="order_detail_left">
                                                    <h3>{{"FORM.ORDERID" | translate}} :{{history?.orderId}}
                                                        <span>{{history?.productId.name}}</span>
                                                    </h3>
                                                    <!-- <h3>${{history?.totalAmount}}</h3> -->
                                                    <h3 *ngIf="history.status == 'New'">AED {{(history?.productId?.price * history?.quantity)-(history?.productId?.price * history?.quantity) * history?.productId?.discount/100}}</h3>

                                                </div>
                                                <div class="order_detail_right">
                                                    <h4>
                                                        <Span>{{"FORM.SCHEDULE" | translate}}</Span>{{"FORM.TODAY" | translate}} : Before 6pm</h4>
                                                    <h4 class="blue_color"><span>{{"FORM.STATUS" | translate}}</span>{{history?.status}}</h4>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <mat-paginator [length]="length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" (page)="PageEvent = pageeventvalue($event,'ongoing')">
                                    </mat-paginator>

                                </mat-tab>
                                <mat-tab label="{{'FORM.PAST' | translate}}">
                                    <span *ngIf="historypast?.length === 0">No orders</span>
                                    <ul class="order_detail" *ngFor="let history of historypast">
                                        <li style="cursor: pointer;" (click)="goToorderdetail(history?._id,'past')">
                                            <div class="order_detail_content">
                                                <div class="order_detail_left">
                                                    <h3>{{"FORM.ORDERID" | translate}} :{{history?.orderId}}
                                                        <span>{{history?.productId.name}}</span>
                                                    </h3>
                                                    <h3 *ngIf="history?.status == 'Canceled'">AED {{(history?.productId?.price * history?.quantity)-(history?.productId?.price * history?.quantity) * history?.productId?.discount/100}}
                                                    </h3>
                                                    <h3 *ngIf="history?.status == 'Delivered'">AED {{(history?.productId?.price * history?.quantity)-(history?.productId?.price * history?.quantity) * history?.productId?.discount/100}}
                                                    </h3>
                                                </div>
                                                <div class="order_detail_right">
                                                    <h4>
                                                        <Span>{{"FORM.SCHEDULE" | translate}}</Span>{{"FORM.TODAY" | translate}} : Before 6pm</h4>
                                                    <h4 class="blue_color"><span>{{"FORM.STATUS" | translate}}</span>{{history?.status}}</h4>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                    <mat-paginator [length]="lengthpast" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" (page)="PageEvent = pageeventvalue($event,'past')">
                                    </mat-paginator>
                                </mat-tab>

                            </mat-tab-group>

                        </div>
                    </div>

                    <div aria-labelledby="profile-tab" class="tab-pane" id="Addresses" role="tabpanel">
                        <div class="profile_content">
                            <div class="profile title_bar">
                                <h2>{{"FORM.ADDRESS" | translate}}<span>{{"PROFILE.MANAGE" | translate}} </span></h2>
                            </div>
                            <div class="grey_line2"></div>
                            <div class="addres_main">
                                <div class="address_left" *ngIf="address?.length == 0">
                                    <figure><img src="assets/images/address_img.png"></figure>
                                </div>
                                <div class="address_left" *ngIf="address?.length != 0">
                                    <ul *ngFor="let i of address;">
                                        <li>
                                            <div class="adre_main">
                                                <div class="adres_top">
                                                    <address>
                                                        {{i.address1}},{{i.city}}-{{i.postalCode}},{{i.address2}}<br>
                                                        <br>
                                                        {{i.phone}}
                                                    </address>
                                                </div>
                                                <div class="adres_bottom">
                                                    <a style="cursor: pointer;" class="span_red" (click)="deleteaddress(i._id)">{{"FORM.REMOVE" | translate}}</a>
                                                    <a style="cursor: pointer;" (click)="editaddressdata(i._id)">{{"FORM.EDIT" | translate}}</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="address_right">
                                    <form [formGroup]="editaddressform">
                                        <ul class="formn_group_main">
                                            <li>
                                                <label>{{"FORM.NAME" | translate}}</label>
                                                <div class="form-group">
                                                    <mat-form-field [floatLabel]="'never'">
                                                        <input class="form-control" matInput type="text" (keypress)="alphabate($event)" maxLength="25" minlength="3" (keydown.space)="$event.preventDefault()" (keypress)="checkphone($event)" placeholder="{{'FORM.NAME' | translate}}" name="name" formControlName="name">
                                                    </mat-form-field>

                                                </div>
                                                &nbsp;
                                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('name', 'required')">
                                                    {{"VALIDATIONS.NAMEREQ" | translate}}
                                                </mat-error>
                                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('name', 'minlength')">
                                                    {{"VALIDATIONS.NAMEMIN" | translate}}
                                                </mat-error>
                                            </li>
                                            <li>
                                                <label>{{"FORM.APARTMENT" | translate}}</label>
                                                <div class="form-group">
                                                    <mat-form-field [floatLabel]="'never'">
                                                        <input class="form-control" matInput type="text" maxLength="50" minlength="3" (keydown.space)="$event.preventDefault()" (keypress)="checkphone($event)" placeholder="{{'FORM.APARTMENT' | translate}}" name="address1" formControlName="address1">
                                                    </mat-form-field>
                                                </div>
                                                &nbsp;
                                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('address1', 'required')">
                                                    {{"VALIDATIONS.APARTMENTREQ" | translate}}
                                                </mat-error>
                                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('address1', 'minlength')">
                                                    {{"VALIDATIONS.APARTMENTMIN" | translate}}
                                                </mat-error>
                                                <!-- <mat-error class="error" *ngIf="submitted && errorHandling('address1', 'minlength')">
                                                    Apartment is invalid
                                                </mat-error>  -->
                                            </li>
                                            <li>
                                                <label>{{"FORM.BUILDING" | translate}}</label>
                                                <div class="form-group">
                                                    <mat-form-field [floatLabel]="'never'">
                                                        <input class="form-control" matInput type="text" maxLength="50" minlength="3" (keydown.space)="$event.preventDefault()" (keypress)="checkphone($event)" placeholder="{{'FORM.BUILDING' | translate}}" name="name" formControlName="address2">
                                                    </mat-form-field>
                                                </div>
                                                &nbsp;
                                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('address2', 'required')">
                                                    {{"VALIDATIONS.BUILDINGREQ" | translate}}
                                                </mat-error>
                                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('address2', 'maxLength')">
                                                    {{"VALIDATIONS.BUILDINGINV" | translate}}
                                                </mat-error>
                                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('address2', 'minlength')">
                                                    {{"VALIDATIONS.BUILDINGMIN" | translate}}
                                                </mat-error>
                                            </li>
                                            <li>
                                                <label>{{"FORM.CITY" | translate}}</label>
                                                <div class="form-group">
                                                    <mat-form-field [floatLabel]="'never'">
                                                        <input class="form-control" matInput type="text" maxLength="40" minlength="2" (keydown.space)="$event.preventDefault()" (keypress)="checkphone($event)" placeholder="{{'FORM.CITY' | translate}}" name="name" formControlName="city">
                                                    </mat-form-field>
                                                </div>
                                                &nbsp;
                                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('city', 'required')">
                                                    {{"VALIDATIONS.CITYREQ" | translate}}
                                                </mat-error>
                                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('city', 'maxLength')">
                                                    {{"VALIDATIONS.CITYINV" | translate}}
                                                </mat-error>
                                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('city', 'minlength')">
                                                    {{"VALIDATIONS.CITYMIN" | translate}}
                                                </mat-error>
                                            </li>
                                            <li>
                                                <label>{{"FORM.POSTALC" | translate}}</label>
                                                <div class="form-group">
                                                    <mat-form-field [floatLabel]="'never'">
                                                        <input class="form-control" matInput type="text" maxLength="25" minlength="5" (keydown.space)="$event.preventDefault()" (keypress)="checkphone($event)" autocomplete="false" placeholder="{{'FORM.POSTALC' | translate}}" name="name" formControlName="postalCode">
                                                    </mat-form-field>
                                                </div>
                                                <!-- &nbsp;
                                                <mat-error class="error"
                                                    *ngIf="submitted && errorHandlingAddress('postalCode', 'required')">
                                                    PostalCode is required
                                                </mat-error>
                                                <mat-error class="error"
                                                    *ngIf="submitted && errorHandlingAddress('postalCode', 'maxLength')">
                                                    PostalCode maximum 25.
                                                </mat-error>
                                                <mat-error class="error"
                                                    *ngIf="submitted && errorHandlingAddress('postalCode', 'minlength')">
                                                    PostalCode Minimum 5.
                                                </mat-error> -->
                                            </li>
                                            <li>
                                                <label>{{"FORM.COUNTRY" | translate}}</label>
                                                <div class="form-group">
                                                    <input class="form-control" matInput list="browsers" (keypress)="alphabate($event)" name="browser" placeholder="{{'FORM.COUNTRY' | translate}}" (keyup)="getAllcountry()" formControlName="country" id="browser">
                                                    <datalist id="browsers" *ngFor="let body of countryList">
                                                        <option *ngFor="let body of countryList" value="{{body.name}}">{{body.name}}</option>
                                                    </datalist>
                                                </div>
                                            </li>
                                            <li>
                                                <label>{{"FORM.STATE" | translate}}</label>
                                                <div class="form-group">
                                                    <mat-form-field [floatLabel]="'never'">
                                                        <input class="form-control" matInput type="text" maxLength="40" minlength="2" (keydown.space)="$event.preventDefault()" (keypress)="checkphone($event)" placeholder="{{'FORM.STATE' | translate}}" name="name" formControlName="state">
                                                    </mat-form-field>
                                                </div>

                                            </li>
                                            <li>
                                                <li>
                                                    <!-- <label>Phone Number</label>
                                                <div class="form-group">
                                                    <mat-form-field [floatLabel]="'never'">
                                                        <input matInput type="text" min="0"
                                                        maxLength="15"
                                                        minlength="5"
                                                        (keydown.space)="$event.preventDefault()"
                                                        (keypress)="checkphone($event)" formControlName="phone"  name="phone" >
                                                    </mat-form-field>
                                                   
                                                </div> -->
                                                    <ngx-intl-tel-input placeholder="Phone number" [cssClass]="'custom'" [preferredCountries]="[
                                                  CountryISO.UnitedStates,
                                                  CountryISO.UnitedKingdom
                                                ]" [enableAutoCountrySelect]="false" [enablePlaceholder]="true" [searchCountryFlag]="true" [searchCountryField]="[
                                                  SearchCountryField.Iso2,
                                                  SearchCountryField.Name
                                                ]" [selectFirstCountry]="false" [selectedCountryISO]="countryCodeData" [maxLength]="15" [tooltipField]="TooltipLabel.Name" [phoneValidation]="true" name="phone" formControlName="phone">
                                                    </ngx-intl-tel-input>
                                                    <!-- <mat-error class="error" *ngIf="submitted && errorHandling('phone', 'required')">
                                                    Phone number is required
                                                </mat-error>
                                                <mat-error class="error" *ngIf="submitted && errorHandling('phone', 'maxLength')">
                                                    Phone number is invalid
                                                </mat-error>
                                                <mat-error class="error" *ngIf="submitted && errorHandling('phone', 'minlength')">
                                                    Phone number is invalid
                                                </mat-error> -->
                                                </li>
                                        </ul>
                                        <button *ngIf="setid == null" (click)="editaddressvalue()">{{"FORM.NEWAD" | translate}}</button>
                                        <button *ngIf="setid != null" (click)="editaddressvalue()">{{"FORM.EDIT" | translate}} {{"FORM.ADDRESS" | translate}}</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div aria-labelledby="contact-tab" class="tab-pane" id="payment" role="tabpanel">
                        <div class="payment_content">
                            <div class="profile title_bar">
                                <h2>Payment<span>Manage your profile details</span></h2>
                            </div>
                            <div class="grey_line2"></div>
                            <form>
                                <div class="addres_main">
                                    <div class="address_left">
                                        <ul>
                                            <li>
                                                <figure><img src="assets/images/card1.jpg"></figure>
                                            </li>
                                            <li>
                                                <figure><img src="assets/images/card2.jpg"></figure>
                                            </li>
                                            <li>
                                                <figure><img src="assets/images/card1.jpg"></figure>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="address_right">
                                        <form>
                                            <h4>Add New card</h4>
                                            <ul class="formn_group_main">
                                                <li>
                                                    <label>Card Name</label>
                                                    <div class="form-group">
                                                        <mat-form-field [floatLabel]="'never'">
                                                            <input class="form-control" matInput type="text" placeholder="First name" name="name">
                                                        </mat-form-field>
                                                    </div>
                                                </li>
                                                <li>
                                                    <label>Card Holder Name</label>
                                                    <div class="form-group">
                                                        <mat-form-field [floatLabel]="'never'">
                                                            <input class="form-control" matInput type="text" placeholder="Last name" name="name">
                                                        </mat-form-field>
                                                    </div>
                                                </li>
                                                <li class="expiry_date">
                                                    <label>Expiry Date</label>
                                                    <div class="form-group">
                                                        <mat-form-field [floatLabel]="'never'">
                                                            <input class="form-control form_control2" matInput type="Date" placeholder="" name="name">
                                                        </mat-form-field>
                                                    </div>
                                                </li>
                                                <li class="cvv">
                                                    <label>CVV</label>
                                                    <div class="form-group">
                                                        <mat-form-field [floatLabel]="'never'">
                                                            <input class="form-control" matInput type="number" min="0" (keypress)="checkphone($event)" placeholder="CVV" name="name">
                                                        </mat-form-field>
                                                    </div>
                                                </li>
                                            </ul>
                                            <button>Add New</button>
                                        </form>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div aria-labelledby="home-tab" class="tab-pane" id="Password" role="tabpanel">
                        <div class="profile_content">
                            <div class="profile title_bar">
                                <h2>{{"PROFILE.CHANGE" | translate}} <span>{{"PROFILE.MANAGE" | translate}}</span></h2>
                            </div>
                            <div class="grey_line"></div>
                            <form name="formm" (ngSubmit)="f.valid && onPasswordSubmit(f)" #f="ngForm" novalidate>
                                <ul class="formn_group_main">
                                    <li>
                                        <label>{{"FORM.CURRENT" | translate}}</label>
                                        <div class="form-group">
                                            <mat-form-field [floatLabel]="'never'">
                                                <input class="form-control" matInput type="password" [(ngModel)]="pass.oldPassword" required name="oldPassword" minlength="8" maxlength="25" placeholder="{{'FORM.CURRENT' | translate}}" #password="ngModel">
                                            </mat-form-field>
                                        </div>
                                        &nbsp;
                                        <mat-error *ngIf="f.submitted && password.invalid">
                                            <div *ngIf="password?.errors?.required">
                                                {{"VALIDATIONS.PLSCRNT" | translate}

                                            </div>
                                        </mat-error>
                                    </li>
                                    <li>
                                        <label>{{"FORM.NEW" | translate}}</label>
                                        <div class="form-group">
                                            <mat-form-field [floatLabel]="'never'">
                                                <input class="form-control" matInput type="password" name="mail" placeholder="xxxx" [(ngModel)]="pass.newPassword" minlength="8" maxlength="25" required name="newPassword" placeholder="{{'FORM.NEW' | translate}}" #newPassword="ngModel">
                                            </mat-form-field>

                                        </div>
                                        &nbsp;
                                        <mat-error *ngIf=" f.submitted && newPassword.invalid ">

                                            <div *ngIf="newPassword?.errors?.required">
                                                {{"VALIDATIONS.NEWPASS" | translate}}</div>
                                            <div *ngIf="newPassword.errors?.minlength">
                                                {{"VALIDATIONS.PASSSWORDCH" | translate}}</div>
                                            <div *ngIf="newPassword.errors?.maxlength">
                                                {{"VALIDATIONS.PASSWORDLSS" | translate}}</div>

                                        </mat-error>
                                    </li>
                                    <li>
                                        <label>{{"FORM.CONFIRMNEW" | translate}}</label>
                                        <div class="form-group">
                                            <mat-form-field [floatLabel]="'never'">
                                                <input class="form-control" matInput type="password" (input)="confirmErrorr=false;" name="mail" placeholder="xxxx" [(ngModel)]="pass.cpassword" required name="cpassword" minlength="8" maxlength="25" placeholder="{{'FORM.CONFIRMNEW' | translate}}" #cpassword="ngModel">
                                            </mat-form-field>

                                        </div>
                                        &nbsp;
                                        <mat-error *ngIf=" f.submitted && cpassword.invalid ">

                                            {{"VALIDATIONS.CONFPASS" | translate}}



                                        </mat-error>
                                        <mat-error *ngIf=" f.submitted && cpassword.valid ">
                                            <div *ngIf="confirmErrorr">
                                                {{"VALIDATIONS.NEWNOTMATCH" | translate}}

                                            </div>
                                        </mat-error>
                                    </li>
                                </ul>
                                <button type="submit">{{"VALIDATIONS.SAVE" | translate}}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalLongrep" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog checkout repeat_order_popup" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span>{{"FORM.LOGQ" | translate}}?</span>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-primary" (click)="logout()">{{"FORM.YES" | translate}}</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">{{"FORM.NO" | translate}}</button>
            </div>

        </div>
    </div>
</div>