<app-header></app-header>
<div class="Celebrity_index">
    <section class="index_list">
        <div class="conta_iner">
            <ul>
                <li> <a href="#"> All Brands </a> </li>
                <li> <a href="#">A</a> </li>
                <li> <a href="#">B</a> </li>
                <li> <a href="#">C</a> </li>
                <li> <a href="#">D</a> </li>
                <li> <a href="#">E</a> </li>
                <li> <a href="#">F</a> </li>
                <li> <a href="#">G</a> </li>
                <li> <a href="#">H</a> </li>
                <li> <a href="#">I</a> </li>
                <li> <a href="#">J</a> </li>
                <li> <a href="#">K</a> </li>
                <li> <a href="#">L</a> </li>
                <li> <a href="#">M</a> </li>
                <li> <a href="#">N</a> </li>
                <li> <a href="#">O</a> </li>
                <li> <a href="#">P</a> </li>
                <li> <a href="#">Q</a> </li>
                <li> <a href="#">R</a> </li>
                <li> <a href="#">S</a> </li>
                <li> <a href="#">T</a> </li>
                <li> <a href="#">U</a> </li>
                <li> <a href="#">V</a> </li>
                <li> <a href="#">W</a> </li>
                <li> <a href="#">X</a> </li>
                <li> <a href="#">Y</a> </li>
                <li> <a href="#">Z</a> </li>
                <li>
                    <div class="medium_bar">
                        <div class="search_bar_inner">
                            <div class="search_input search_input2">
                                <mat-form-field [floatLabel]="'never'">
                                    <input style="padding-left: 10px;" matInput type="text" placeholder="{{ 'HEADER.SEARCHQ' | translate}}" name="name">
                                </mat-form-field>
                                <div class="search_button search_button2" style="cursor: pointer;">
                                    <figure><img src="assets/images/search.png"></figure>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="all_sec">
        <div class="conta_iner">
            <ul class="brand_list">
                <li>
                    <a href="#">
                        <div class="selection_mains">
                            <figure class="camera"><img src="assets/images/Levi's_logo.svg"></figure>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="selection_mains">
                            <figure class="camera"><img src="assets/images/Puma.png"></figure>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="selection_mains">
                            <figure class="camera"><img src="assets/images/louis.png"></figure>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="selection_mains">
                            <figure class="camera"><img src="assets/images/tommy.png"></figure>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="selection_mains">
                            <figure class="camera"><img src="assets/images/nike.png"></figure>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="selection_mains">
                            <figure class="camera"><img src="assets/images/addidas.png"></figure>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="selection_mains">
                            <figure class="camera"><img src="assets/images/Skechers_logo.png"></figure>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="selection_mains">
                            <figure class="camera"><img src="assets/images/rolex.png"></figure>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="selection_mains">
                            <figure class="camera"><img src="assets/images/Levi's_logo.svg"></figure>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="selection_mains">
                            <figure class="camera"><img src="assets/images/Puma.png"></figure>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="selection_mains">
                            <figure class="camera"><img src="assets/images/louis.png"></figure>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="selection_mains">
                            <figure class="camera"><img src="assets/images/tommy.png"></figure>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="selection_mains">
                            <figure class="camera"><img src="assets/images/nike.png"></figure>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="selection_mains">
                            <figure class="camera"><img src="assets/images/addidas.png"></figure>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="selection_mains">
                            <figure class="camera"><img src="assets/images/Skechers_logo.png"></figure>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="selection_mains">
                            <figure class="camera"><img src="assets/images/rolex.png"></figure>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="selection_mains">
                            <figure class="camera"><img src="assets/images/Levi's_logo.svg"></figure>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="selection_mains">
                            <figure class="camera"><img src="assets/images/Puma.png"></figure>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="selection_mains">
                            <figure class="camera"><img src="assets/images/louis.png"></figure>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="selection_mains">
                            <figure class="camera"><img src="assets/images/tommy.png"></figure>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>

</div>
<app-footer></app-footer>