/* You can add global styles to this file, and also import other style files */

@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
body {
    font-family: 'Nunito Sans', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    outline: none !important;
}

html {
    scroll-behavior: smooth;
}

.conta_iner {
    width: 1170px;
    margin: auto;
}

a {
    color: inherit;
    text-decoration: none;
    margin: 0px;
}

a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

li {
    list-style: none;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

figure {
    margin: 0px;
}

.modal-backdrop.in {
    opacity: 0;
    display: none;
}

.modal-open {
    overflow: auto;
    padding: 0px !important;
}

.modal {
    background: #656060c9;
}


/*****mat****/

.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
    background: #97334B !important;
}

.mat-expansion-panel-header {
    padding: 0!important;
    height: unset!important;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none!important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #97334B !important;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
    color: #D3D3D3;
    padding-left: 16px;
    font-size: 13px;
    margin-bottom: 0;
    top: 50%;
    transform: translate(0, -50%) !important;
}

.form-group input:focus {
    box-shadow: none !important;
}

button.login_eye_btn.mat-icon-button.mat-button-base {
    top: 10px;
}

.mat-form-field-label-wrapper {
    top: 0 !important;
    padding-top: 0 !important;
}

.search_bar_inner .search_input .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0px !important;
}

.login_form form .formn_group_main .form-group .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 14px !important;
}

.mat-form-field {
    width: 100%;
    line-height: unset;
}

.mat-form-field-infix {
    padding: 0 !important;
    border-top: 0 !important;
}

a {
    cursor: pointer;
}

.intl-tel-input.allow-dropdown {
    margin-bottom: 20px;
}

.mat-error {
    color: #f44336;
    display: inline-block;
    width: 100%;
    text-align: left;
    position: relative;
    top: -15px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

input#phone {
    border: 1px solid #d9d9d9;
    position: relative;
    // border-radius: 50px;
    padding: 10px 7px 10px 48px;
    width: 100%;
    border-radius: 25px;
}

.user_profile_img figure {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.intl-tel-input.allow-dropdown .flag-container:hover .selected-flag {
    background-color: transparent;
}

.intl-tel-input {
    position: relative;
    display: inline-block;
    width: 100%;
}

// .comman_nameing_margin {
//     margin-top: 235px;
// }
.user_profile_img img {
    object-fit: cover;
}

.alert.alert-danger {
    text-align: left;
    color: #d00;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background: none!important;
    border-radius: 0!important;
    padding: 0!important;
}

.mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0!important;
}

.mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

.mat-form-field-underline {
    display: none;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #F9C848;
    height: 4px;
}


/****login***/

.login_wrap {
    height: 100vh;
    background: #97334B;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

ul.dropdown-menu {
    display: none;
}

li.dropdown:hover ul.dropdown-menu {
    display: block;
}

.login_form {
    background: #fff;
    padding: 30px 24px 24px 24px;
    border-radius: 20px;
    width: 427px;
    height: auto;
    text-align: center;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login_form h3 {
    font-size: 27px;
    font-weight: bold;
    line-height: 37px;
}

.login_form h3 span {
    display: block;
    font-weight: normal;
    font-size: 25px;
}

.login_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span.skip {
        font-size: 18px;
        font-weight: 900;
        padding: 20px 0px;
        color: #fff;
    }
    .signupp {
        color: #fff;
    }
}

.form-group {
    border: 1px solid #ECECEC;
    // overflow: hidden;
    position: relative;
    border-radius: 50px;
    margin-bottom: 20px;
}

.alert.alert-danger {
    position: absolute;
    top: 47px;
    padding: 0;
    margin: 0;
    background: #fff;
    border: none;
    color: #dd0000;
}

button.login_eye_btn.mat-icon-button.mat-button-base {
    background: none;
    padding: 0;
    margin: 0;
    width: 40px;
}

button.login_eye_btn.mat-icon-button.mat-button-base span.mat-button-wrapper {
    color: #BDBDBD;
    font-size: 16px;
}

.mat-form-field-prefix,
.mat-form-field-suffix {
    width: 43px;
    top: -4px;
}

.login_form a,
p {
    width: 100%;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}

.login_form button {
    background: #97334B;
    padding: 16px;
    border-radius: 50px;
    margin: 10px 0 21px;
    width: 100%;
    border: none;
    font-size: 16px;
    color: #fff;
}

ul.connection_img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.formn_group_main {
    margin: 40px 0 16px;
}


/***********verfification*/

.login_form h4 {
    font-size: 20px;
    font-weight: bold;
}

p.verification {
    margin: 30px 0 54px;
    font-size: 15px;
    width: 100%;
}

p.verification_light {
    color: #8B8B8B;
    margin-bottom: 22px;
    text-align: left;
    width: 88%;
}

p.verification span {
    font-weight: bold;
}

.login_main form {
    width: 100%;
}

.forget_password .login_form {
    height: 323px;
}

.forget_password .login_form {
    justify-content: space-between;
}

.verification_left {
    width: 100%;
}

form.forget_input {
    margin-top: 40px;
}


/***sign_up***/

.half {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.half .form-group {
    width: 100%;
}

.login_main .half {
    flex-direction: column;
}

.user_profile_img {
    background: #FCFCFC;
    border: 1px solid #EAEAEA;
    width: 135px;
    height: 135px;
    border-radius: 100px;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: flex-end;
}

.profile_camera img {
    width: auto;
    height: auto;
}

.profile_camera {
    background: #97334B;
    height: 27px;
    width: 27px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    bottom: 34px;
}

.signup .formn_group_main {
    margin: 0;
}

.user_profile {
    margin-top: 35px;
}

p.signupp a {
    font-weight: bold;
    color: #000;
    cursor: pointer;
}


/***home**/

.banner {
    width: 100%;
    padding: 0px 0px;
}

.banner_mn {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 89%;
    margin: auto;
}

.product-detail_tab .nav-link.active {
    background: #97334b;
    color: #fff;
}

.banner_left h1 {
    color: #000;
    font-size: 65px;
}

.banner_left p {
    color: #747474;
    font-size: 17px;
    text-align: left;
    margin: 50px 0;
    width: 85%;
}

.banner_left h1 span {
    display: block;
    color: #ffcb08;
    font-weight: 700;
    font-size: 62px;
}

.banner_left button {
    background: #ffcb08;
    border: none;
    font-size: 18px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 15px 40px;
}

.banner_left button figure {
    width: 20px;
    height: 20px;
    margin: auto auto auto 6px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.slick-prev:before,
.slick-next:before {
    font-size: 28px !important;
    color: #ffcb08 !important;
}

.banner_right {
    width: 55%;
}

.banner_right figure {
    width: 630px;
    height: 490px;
}

.banner img {
    width: 1203px;
}

.services ul {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
}

.more_explore_main .hm_restur_rateing {
    display: none;
}

.services ul a {
    color: #000000;
    font-size: 18px;
    margin-top: 10px;
    font-weight: normal;
}

.services_content figure {
    width: 96px;
    height: 78px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.services {
    padding: 30px 0;
}

.services li {
    cursor: pointer;
    width: 12.5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all_sec {
    padding: 50px 0;
}

// homeappliance_banner
.home_appliance_banner {
    width: 100%;
    height: 473px;
}

.feature_top {
    padding: 10px;
    box-shadow: 0 13px 18px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature_bottom {
    margin-top: 20px;
    h3 {
        color: #2A2A2A;
        font-size: 23px;
        font-weight: normal;
    }
    h4 {
        color: #00C62E;
        font-size: 23px;
        font-weight: normal;
        padding: 10px 0px;
    }
}

button,
a {
    cursor: pointer;
    color: inherit;
}

.column {
    margin-bottom: 20px;
}

.spinner div {
    height: 200px;
    width: 200px;
}

.spinner {
    position: fixed;
    top: -10%;
    left: 0;
    padding: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    //  background-color: rgb(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.selection_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

.hm_restur_rateing {
    background: #97334B;
    padding: 3px;
    width: 50px;
    display: flex;
    align-items: center;
    border-radius: 3px;
}

.hm_restur_rateing span {
    font-size: 16px;
    color: #fff;
    margin-left: 8px;
}

.like figure {
    width: 38px;
}

.selection_mains h4 del {
    color: #BCBCBC;
    font-size: 18px;
    padding: 5px 6px;
}

.selection_mains h4 span {
    color: #00C62E;
    font-size: 15px;
}

input {
    font-size: 16px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    font-size: 16px;
}

.keep_loged {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.selection_mains h5 span {
    font-size: 14px;
    color: #A8A8A8;
    display: block;
}

.featured.all_sec .title_bar {
    border-bottom: none;
    padding-bottom: 30px;
}

.featured {
    background: #F8F2F3;
}

.top_selection {
    background: #fff;
}

figure.camera {
    // width: 100%;
    margin: 0px auto;
}

.hm_restur_rateing figure {
    line-height: 0;
    width: 30%;
}

// .title_bar h2 {
//     margin-bottom: 25px;
// }
.more_explore_main ul {
    display: flex;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px 0px;
}

.explore_main {
    box-shadow: 0 13px 18px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 10px;
    margin-bottom: 11px;
    // min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slick-dots li button:before {
    width: 50px;
    height: 50px;
    font-size: 17px!important;
}

.banner .slick-dots li.slick-active button:before {
    color: #ffcb08!important;
}

.banner .slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    color: #ffcb08!important;
}

.banner.home_appliance_banne .slick-dots li.slick-active button:before {
    color: #000!important;
}

.banner.home_appliance_banne .slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    color: #000!important;
}

.flex.btnss .mat-checkbox-layout .mat-checkbox-label {
    font-weight: 500!important;
}

.like {
    cursor: pointer;
    position: absolute;
    right: 2px;
}


/****profile**/

.prfile_left {
    background: #F8F8F8;
    width: 29%;
    padding: 30px;
    min-height: 407px;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: #000!important;
}

.profile_main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.profile_main .nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
    display: flex;
    margin-top: 40px;
    flex-direction: column;
}

.profile_main .user_profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
    position: relative;
}

.profile_main .user_profile h4 {
    color: #000000;
    font-size: 16px;
    line-height: 22px;
    margin-left: 20px;
    font-weight: bold;
}

.profile_main .user_profile h4 span {
    display: block;
    font-size: 13px;
    font-size: 13px;
    font-weight: normal;
}

.profile_main .user_profile_img {
    width: 73px;
    height: 73px;
    margin: unset;
}

.profile_main .nav-tabs.nav-justified>li {
    display: table-cell;
    width: 100%;
    text-align: left;
}

.profile_main .nav-tabs.nav-justified {
    li {
        a {
            border-bottom: none;
            border-radius: 0;
            text-align: left;
            color: #000;
            background: none;
            border: none;
            font-size: 16px;
        }
        a.active {
            color: #97334B;
            font-weight: bold;
        }
    }
}

.profile_right {
    width: 68%;
    margin-bottom: 100px;
    box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
    padding: 40px;
}

.profile.title_bar h2 span {
    display: block;
    font-weight: normal;
    font-size: 16px;
    padding-top: 10px;
}

.profile.title_bar h2 {
    font-size: 30px;
    font-weight: bold;
}

.profile_main .profile_right .user_profile_img {
    width: 93px;
    height: 93px;
}

.profile_main .profile_right .profile_camera {
    margin: unset;
    position: absolute;
    bottom: 7px;
    left: 33px;
    width: 25px;
    height: 25px;
}

.profile_main .profile_right .profile_camera img {
    width: auto;
    height: auto;
}

.profile_main .profile_right button {
    color: #fff;
    font-size: 16px;
    background: #97334B;
    border: none;
    padding: 14px 55px;
    border-radius: 100px;
}

.profile_main .profile_right .form-group {
    border: 1px solid #D9D9D9;
    border-radius: 0;
    margin-bottom: 15px;
}

.profile_main .profile_right label {
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

.profile_main .profile_right .mat-form-field-empty.mat-form-field-label {
    font-weight: normal;
}

.grey_line {
    background: #EBEBEB;
    margin: 41px 0 30px;
    width: 100%;
    height: 1px;
}

.form-control {
    border: none;
    box-shadow: none;
    padding: 15px !important;
    height: auto;
    width: 100%;
}

.adre_main {
    display: flex;
    box-shadow: 0 15px 39px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
    padding: 30px;
    margin-bottom: 15px;
    flex-direction: column;
    border-radius: 5px;
    .adres_top {
        address {
            font-size: 16px;
        }
    }
}

.grey_line2 {
    background: #EBEBEB;
    margin: 41px 0 0px;
    width: 100%;
    height: 1px;
}

.addres_main {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.address_left {
    width: 48%;
    padding-right: 3%;
    padding-top: 40px;
    border-right: solid #EBEBEB 1px;
}

.address_right {
    width: 50%;
    padding-top: 20px;
}

.adres_bottom a {
    color: #000;
    font-size: 14px;
    font-weight: normal;
}

.adres_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adres_bottom a.span_red {
    color: #E30606;
    font-weight: normal;
}

.adre_main address {
    p {
        color: #434343;
        font-size: 18px;
        left: 25px;
        font-weight: normal;
        text-align: left;
    }
}

.payment_content .address_left li figure {
    height: 145px;
    width: 100%;
}

.payment_content .address_right h4 {
    font-size: 25px;
}

// .mat-input-element {padding: 14px!important;}
.order_detail_left h3 {
    color: #310600;
    font-size: 23px;
    font-weight: normal;
}

.order_detail_left h3 span {
    display: block;
    color: #020202;
    font-size: 14px;
    margin: 11px 0;
}

.order_detail_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px;
}

.order_detail_right h4 span {
    color: #D0D0D0;
    font-size: 12px;
    font-weight: bold;
    display: block;
}

.order_detail_right h4 {
    color: #000000;
    font-size: 14px;
    width: 50%;
    padding: 13px;
    border-top: 1px solid #E5E5E5;
    line-height: 23px;
}

.order_detail_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.mat-tab-body-content {
    height: 100%;
    padding: 20px 0;
    overflow: hidden;
}

ul.order_detail li {
    border: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
    border-radius: 6px;
    margin-bottom: 30px;
}

.order_detail_right h4.blue_color {
    border-left: 1px solid #E5E5E5;
    color: #05599A;
}

h4.yellow_color {
    color: #F9C848;
}

h4.green_color {
    color: #FFCB08;
}

ul.approved_ordder li {
    padding-bottom: 50px;
    position: relative;
    z-index: 1;
}

ul.approved_ordder li:before {
    content: "";
    border-left: 2px dotted #97334B;
    position: absolute;
    left: 14px;
    height: 100%;
    z-index: -1;
    top: 25px;
}

.aproved_order_main {
    display: flex;
    justify-content: start;
    align-items: center;
    align-items: flex-start;
}

.approved_order_inner {
    background: #97334B;
    height: 32px;
    width: 32px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.approved_order_inner2 {
    background: #B16678;
    height: 12px;
    width: 12px;
    border-radius: 100px;
}

.approved_order_right h5 {
    color: #000;
    font-size: 16px;
    margin-top: 7px;
    line-height: 29px;
}

.approved_order_right h5 span {
    display: block;
    color: #646464;
}

.order_detail_wrap .orderdetail_left {
    width: 47%;
}

.orderdetail_main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 20px;
}

.order_detail_wrap .orderdetail_right {
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    width: 48%;
    padding: 50px 30px;
}

.order_detail_wrap .order_detail_left {
    padding: 0;
    align-items: flex-start;
    flex-direction: column;
    width: 60%;
}

.order_detail_wrap .order_detail_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order_detail_wrap .order_detail_right h4.blue_color {
    border-left: none;
    font-size: 17px;
    text-align: right;
    width: 100%;
    border-top: none;
}

.bill_detail li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order_detail_wrap .orderdetail_left li h3 {
    color: #000000;
    font-size: 18px;
    margin-top: 20px;
}

ul.item_total li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.approved_ordder h4 {
    color: #000;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 25px;
}

.approved_order_right h3 {
    color: #000;
    font-weight: bold;
    font-size: 18px;
}

.approved_order_right h3 span {
    font-weight: normal;
    margin-left: 20px;
}

.approved_order_left {
    margin-right: 17px;
}

ul.get_help {
    background: #FAFBFC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
}

ul.get_help li {
    text-align: center;
    width: 50%;
}

ul.get_help li a {
    color: #868B90;
    font-size: 18px;
    font-weight: 600;
}

.addres_main.two {
    align-items: center;
}

.border_right_order {
    background: #F0F0F1;
    width: 2px!important;
    height: 66px;
}

ul.approved_ordder li:last-child::before {
    content: unset;
}

.order_detail_wrap .order_detail_left ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
        font-size: 14px;
    }
}

.order_detail_wrap .orderdetail_left button {
    background: #E02020;
    border: none;
    color: #fff;
    padding: 17px 220px;
    border-radius: 100px;
    font-size: 18px;
    width: 100%;
}

ul.item_total {
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    padding: 16px 0;
    margin: 0px 0 38px;
}

ul.item_total li:last-child h3 {
    font-size: 19px;
    font-weight: 600;
}

ul.item_total li:last-child h3.extrabold_order {
    font-size: 26px;
}

p.orderdetail_p {
    color: #111111;
    font-size: 15px;
    text-align: left;
    width: 60%;
    margin-top: 15px;
}

.order_detail_wrap .order_detail_right {
    h4 span {
        color: #000;
        font-size: 18px;
        font-weight: normal;
    }
    button {
        background: #97334B;
        border: none;
        color: #fff;
        padding: 5px 10px;
        border-radius: 7px;
        font-size: 16px;
        width: auto;
        margin-left: auto;
    }
}

ul.bill_detail h4 {
    color: #000;
    font-weight: bold;
    font-size: 18px;
}

ul.bill_detail {
    border-top: 1px solid #F0F0F0;
    margin: 17px 0 0;
    padding: 30px 0;
}

.breadcrumb {
    padding: 0;
    list-style: none;
    background: none;
    border-radius: 0;
    margin: 30px 0;
}

.profile_wrap .title_bar {
    border-bottom: none;
}

.profile_wrap .nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:focus,
.nav-tabs.nav-justified>.active>a:hover {
    border-bottom-color: #ddd;
}

.profile_right .mat-tab-label-content {
    color: inherit;
    font-size: 21px;
    margin-bottom: 20px;
    font-weight: normal;
}

.profile_right .mat-tab-label {
    padding: 0;
}

.profile_right .mat-tab-body-content {
    padding: 30px 0 0;
}


/***categories_toy**/

.toy_banner_list {
    display: flex;
    align-items: center;
    margin: 30px 0px;
}

ul.toy_banner_list figure {
    width: 100%;
}

ul.toy_banner_list li {
    width: 31%;
    margin-right: 2%;
    &:nth-child(3) {
        margin-right: 0%;
    }
}

.categories_top_main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.categories_left_top {
    width: 30%;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 20px;
}

.categories_right_top {
    width: 67%;
    margin-left: 3%;
}

.categories_right_top ul {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.categories_right_top ul li {
    width: 47%;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    margin: 0 3% 3% 0;
    text-align: center;
    &:nth-child(2n) {
        margin: 0 0% 3% 0;
    }
}

.categories_right_top ul li figure {
    width: 100%;
    margin: auto;
}

.categories_right_top ul li figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.categori_detail_wrap .categories_left_top button.btn.btn-link {
    align-items: center;
    padding: 9px 0;
    text-decoration: none;
    font-weight: 600;
    justify-content: space-between;
}

.categori_detail_wrap .categories_left_top button.btn.btn-link:hover {
    color: #333;
}

.categori_detail_wrap .categories_left_top ul.accordion li:last-child .categories_left_top button.btn.btn-link {
    border-bottom: none;
}

.categories_right_top ul li h3 {
    color: #434343;
    margin: 20px 0px;
    font-size: 26px;
}

.categories_right_top ul li h5 {
    color: #434343;
    font-size: 22px;
}

.categories_left_top button.btn.btn-link {
    color: #A0A0A0;
    font-size: 14px;
    border-bottom: 1px solid #eceaea;
    width: 100%;
    text-align: left;
    padding: 15px 0;
}

.categories_left_top button.btn.btn-link:hover {
    text-decoration: none;
}

.more_explore_main .title_bar {
    border-bottom: none!important;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.more_explore_main .title_bar h2 {
    text-align: center;
    font-size: 33px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
}

// .more_explore_main .title_bar h2::after{background: url(assets/images/explore_line.png);content: '';position: absolute;width: 33%;height: 30px;background-repeat: no-repeat;display: inline;justify-content: center;align-items: center;top: 12px;margin-left: 34px;}
// .more_explore_main .title_bar h2::before{background: url(assets/images/explore_line.png);content: "";position: absolute;width: 33%;height: 30px;background-repeat: no-repeat;display: inline;-webkit-box-pack: center;justify-content: center;-webkit-box-align: center;align-items: center;margin-right: 0;left: 0;transform: rotate(180deg);bottom: 13px;}
.categori_detail_wrap .more_explore.all_sec {
    padding-top: 0px;
}


/****category***/

.category_main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.category_left {
    width: 200px;
}

.category_left_nner {
    background: #F8F8F8;
}

.category_right {
    width: 78%;
}

.category_left_nner li {
    color: #414141;
    font-size: 14px;
    line-height: normal;
    padding: 7px 5px;
    border-radius: 2px;
}

.category_left_nner h4 {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    margin: 21px 0 24px;
}

.price_navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price_navbar ul li {
    width: 48%;
    line-height: normal;
}

.price_navbar ul li .form-group {
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    margin-bottom: 05px;
}

.category_left_nner .mat-checkbox-layout {
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
}

// .category_right .more_explore_main li {width: 31%;margin-right: 25px;}
.price_navbar_checkout span {
    color: #414141;
    font-size: 15px;
    font-weight: normal;
}

.price_navbar_checkout i.fa.fa-star {
    color: #97334B;
    font-size: 18px;
    letter-spacing: 2px;
}

.price_navbar_checkout .mat-checkbox.mat-accent.mat-checkbox-checked span.mat-checkbox-label {
    color: #97334B;
}

.category_top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
    // background: #f5f5f5;
}

.rating_list {
    li {
        &:last-child {
            .mat-checkbox-inner-container {
                margin-right: 8px !important;
            }
        }
    }
}

.vategory_left_bar {
    width: 40%;
}

.vategory_left_bar p {
    text-align: left;
}

.category_right_bar {
    width: 49%;
}

.right_Align {
    text-align: right;
}

ul.collpase_bar {
    justify-content: space-between;
    padding: 0;
}

ul.collpase_bar li {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70% !important;
    margin-right: 0!important;
}

ul.collpase_bar li .form-group {
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    margin-bottom: 5px;
    padding: 12px 16px;
}

ul.collpase_bar li p {
    width: 30%;
    margin-right: 11px;
}

ul.collpase_bar li.row_top_bar {
    width: 29%!important;
}

ul.collpase_bar li.row_top_bar .form-group {
    padding: 0;
    width: 34px;
    height: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category_wrap button#dropdownMenuButton {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin-bottom: 5px;
    background: none;
}


/****product_detail***/

.product_detail_main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.product_detail_left {
    width: 67%;
    position: relative;
}

.product_detail_right {
    width: 30%;
}

.page_product_detail {
    .product_detail_left {
        width: 57%;
        position: relative;
    }
    .product_detail_right {
        width: 40%;
    }
}

.product_detail_left_inner {
    width: 100%;
    // padding: 50px 0px;
    box-shadow: 0 13px 18px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_detail_left figure {
    width: 100%;
}

.small_img ul {
    display: flex;
    margin-top: 12px;
    align-items: center;
    overflow: auto;
}

.small_img ul li {
    height: 99px;
    width: 99px;
    border: 1px solid #EFEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.small_img ul li figure {
    height: 75px;
    width: 77px;
}

.product_detail_right_inner h3 {
    color: #2A2A2A;
    font-size: 17px;
    width: 86%;
    font-weight: bold;
    line-height: 25px;
}

.product_detail_right_inner p {
    color: #000000;
    font-size: 23px;
    text-align: left;
    margin: 23px 0 19px;
}

.like figure {
    width: 20px;
}

.product_detail_right_inner p del {
    font-size: 14px;
    color: #2A2A2A;
    margin: 0 17px;
}

.product_detail_right_inner p span {
    color: #00C62E;
    font-size: 20px;
}

.cart_services_left figure {
    width: 35px;
}

.orderadd_cart_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F6F6F6;
    border-radius: 4px;
    width: 146px;
    height: auto;
    margin-top: 17px;
}

.cart_right .orderadd_cart_box p {
    text-align: center;
    color: #565656;
    font-size: 21px;
    line-height: normal;
    margin-left: 0;
}

.orderadd_cart_box button {
    font-size: 26px;
    background: none;
    border: none;
    color: #565656;
    padding: 0 14px;
}

.cart_wrap {
    padding-bottom: 74px;
}

.cart_wrap .expansion-panel-body {
    padding: 19px 20px;
    border-top: 1px solid #F4F4F4;
}

.cart_services_right h3 {
    color: #000000;
    font-size: 13px;
    font-weight: bold;
}

.cart_services_right h3 span {
    display: block;
    color: #C7C7C7;
    margin: 7px 0 0;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 500;
}

.cart_services_main {
    display: flex;
    margin-bottom: 24px;
    align-items: center;
}

.cart_services_main.sold {
    // border-bottom: 1px solid #EFEFEF;
    // margin-bottom: 20px;
    padding-top: 20px;
}

.cart_services_left {
    margin-right: 21px;
    width: 37px;
}

.cart_services_right {
    width: 60%;
}

.btn-primary.active,
.btn-primary:active,
.open>.dropdown-toggle.btn-primary {
    color: #000;
    background-color: #97334b!important;
    border-color: #97334b!important;
}

.btn-primary:hover {
    color: #000;
    background-color: #97334b!important;
    border-color: #97334b!important;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus,
.btn-primary.focus,
.btn-primary:focus {
    box-shadow: none;
}

.good_rating_right h5 {
    color: #97334b;
    font-size: 16px;
    font-weight: bold;
}

.product_detail_right_inner .hm_restur_rateing span {
    color: #000000;
}

.good_rating_left_inner h5 {
    font-size: 19px;
    color: #2A2A2A;
}

.product_detail_right .hm_restur_rateing {
    padding: 7px 11px;
    border-radius: 5px;
}

.selection_main.inner {
    width: 39%;
}

.product_detail_btn {
    button {
        color: #fff;
        font-size: 17px;
        background: #97334b;
        padding: 17px 70px;
        border-radius: 100px;
        box-shadow: none!important;
        font-weight: normal!important;
        line-height: normal;
        border: none;
        &:hover {
            border: solid 1px #97334b;
            background: #fff;
            color: #000;
        }
    }
    .border_btn {
        color: #000000;
        font-size: 17px;
        background: #fff;
        border: solid 1px #97334b;
        padding: 17px 60px;
        border-radius: 100px;
        box-shadow: none!important;
        font-weight: normal!important;
        line-height: normal;
        &:hover {
            background: #97334b;
            color: #fff;
        }
    }
}

.border_btn {
    color: #000000;
    font-size: 12px;
    text-align: center;
    border: solid 1px #97334b;
    padding: 10px 15px;
    border-radius: 100px;
    &:hover {
        background: #97334b;
        color: #fff !important;
    }
}

.product_detail_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.product-detail_tab {
    margin: 30px 0px;
    width: 55%;
    .nav-tabs {
        border: 1px solid #dee2e6;
        padding: 10px;
    }
}

.product-detail_tab a {
    color: #BEBEBE;
    font-size: 17px;
    padding: 15px 5px !important;
    border-bottom: none!important;
    border-radius: 0!important;
}

.product-detail_tab .nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:focus,
.nav-tabs.nav-justified>.active>a:hover {
    border: none;
    background: #97334b;
    color: #fff;
    border-radius: 5px !important;
}

.product-detail_tab .nav>li>a:hover {
    color: #fff;
    background-color: #97334b;
    border-radius: 5px !important;
}

.product-detail_tab .product_detail_tab_content h3 {
    color: #2A2A2A;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}

.product-detail_tab .product_detail_tab_content p {
    color: #656565;
    font-size: 16px;
    text-align: left;
    line-height: 24px;
    font-weight: normal;
}

.product_detail_tab_content li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.product-detail_tab .product_detail_tab_content p.right_align {
    text-align: right;
}

.product_detail_tab_content .product_detail_left_inner {
    height: 200px;
    margin-bottom: 15px;
    border-radius: 8px;
    padding: 10px 15px;
}

.client_feedback_img figure {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: #fff;
    overflow: hidden;
}

.client_feedback {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.client_feedback_img {
    width: 13%;
}

.client_feedback_img figure img {
    object-fit: cover;
}

.client_name .hm_restur_rateing {
    width: 51px;
    border-radius: 7px;
    height: 32px;
    margin-top: 5px;
}

.client_name .hm_restur_rateing span {
    color: #000;
}

.client_name h4 {
    color: #000;
    font-size: 20px;
}

.cart_wrap .product_detail_btn {
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
    text-align: right;
    margin-top: 0px;
}

ul.product_detail_tab_content.total {
    border-bottom: 1px solid #DEDEDE;
    border-top: 1px solid #DEDEDE;
}

.product_detail_right_inner.cart p {
    color: #919191;
    font-size: 19px;
    margin: 14px 0 14px;
}

.product_detail_right_inner.cart p.right_align {
    text-align: right;
}

ul.product_detail_tab_content.total p {
    color: #000;
}

.cart_wrap .expansion-panel-icon.ml-3.text-black-secondary {
    padding: 19px 20px;
}

.cart_wrap .expansion-panel-toggler.collapsed .expansion-panel-icon.ml-3.text-black-secondary {
    transform: rotate(180deg);
}


/***cart***/

.fade.show {
    opacity: 1;
}

div#accordionThree {
    width: 100%;
}

.checkout_wrap .mat-radio-button {
    width: 100%;
    font-size: 16px;
}

.checkout_wrap .mat-radio-label-content {
    width: 100%;
}

.checkout_wrap .mat-radio-label {
    flex-direction: row-reverse;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #667EEA;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #B2B2B2;
}

.mat-radio-outer-circle {
    border-width: 1px;
}

.media-body::after {
    content: unset;
}

.media-body::before {
    content: unset;
}

// .product_detail_left_inner.small {height: 140px;width: 140px;}
.product_detail_left_inner.small figure {
    height: 100%;
    width: 150px;
}

.product_detail_main.cart {
    justify-content: flex-start;
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    padding: 20px 50px 20px 20px;
    margin-bottom: 20px;
    position: relative;
}

.cart_right p {
    text-align: left;
    color: #434343;
    font-size: 17px;
    line-height: 28px;
}

.cart_right p.grey_cart {
    color: #919191;
}

.cart_right p.yellow_cart {
    color: #97334B;
    font-size: 20px;
    font-weight: bold;
}

.product_detail_left .list-group-item {
    padding: 0px!important;
    border: none;
    // margin-bottom: 24px!important;
}

.checkout_wrap .product_detail_btn {
    margin-top: 0;
    justify-content: center;
    -webkit-box-align: end;
    align-items: center;
    background: none;
    box-shadow: none;
    padding: 20px;
}

.checkout_wrap .product_detail_btn button {
    padding: 17px 150px;
}

.adre_main.cards {
    padding: 0 20px!important;
    flex-direction: row;
    border: none;
    background: #396AFC;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    height: 145px;
}

.adre_main.cards2 {
    background: radial-gradient(#E100FF, #7F00FF);
}

.adres_left figure {
    width: 65px;
    height: 39px;
}

.mat-radio-button.mat-accent.cdk-mouse-focused.mat-radio-checked .form-group1 {
    opacity: 1;
}

.form-group1 {
    opacity: 0;
    background: #fff;
    border-radius: 3px;
    color: #BFBFBF;
    width: 116px;
    margin-top: 13px;
}

.form-group1 .mat-form-field-appearance-legacy .mat-form-field-label {
    font-size: 20px;
    top: 10px
}

.checkout_wrap .product_detail_right h3 {
    color: #000000;
    font-size: 16px;
    padding: 30px 0 15px;
    font-weight: bold;
    border-top: 1px solid #D8D8D8;
}

.checkout_wrap .adre_main {
    border: 1px solid #F0F0F0;
    box-shadow: none;
    width: 97%;
    padding: 15px;
    .adres_top {
        address {
            font-size: 16px;
        }
    }
}

.checkout_wrap .product_detail_right .adre_main {
    border: none;
    box-shadow: none;
    width: 100%;
    padding: 0;
}

.title_bar.cart {
    border-bottom: 1px solid #DEDEDE;
}

.panel_content_inner {
    color: #000;
    font-size: 19px;
    padding: 19px 20px;
    width: 100%;
}

.checkout_wrap .expansion-panel-body {
    padding: 19px 20px;
    border-top: 1px solid #F4F4F4;
}

.checkout_wrap .expansion-panel-icon.ml-3.text-black-secondary {
    padding: 20px 30px;
    font-size: 30px;
}

.checkout_wrap .expansion-panel-toggler.collapsed .expansion-panel-icon.ml-3.text-black-secondary {
    transform: rotate(180deg);
}

.checkout_wrap .product_detail_right .product_detail_btn {
    padding: 20px 0;
    width: 100%;
}

.checkout_wrap .product_detail_right .product_detail_btn button {
    width: 100%;
}

.checkout_wrap .product_detail_right .adre_main.cards {
    margin-bottom: 30px;
}

.adres_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.adres_left h4 {
    color: #fff;
    font-size: 11px;
    font-weight: bold;
}

.adres_left h4 span {
    display: block;
}

.crs_btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
    .close {
        opacity: 1;
        img {
            width: 20px;
        }
    }
}

.adres_right p span {
    font-size: 8px;
}

.adres_right p {
    color: #fff;
    text-align: left;
    font-weight: normal;
    font-size: 18px;
    margin: 8px 0;
}

.product_detail_right_inner .adres_right p span {
    font-size: 8px;
    color: #fff
}

.product_detail_right_inner.cart .adres_right p {
    color: #fff;
    text-align: left;
    font-weight: normal;
    font-size: 18px;
    margin: 8px 0;
}

.adres_left.height {
    height: 81px;
}

//modale
.text-box .btn:link,
.text-box .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.text-box .btn:active {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.text-box .btn-white {
    background-color: #EEEEEE;
    color: #fff;
    z-index: 1;
    position: relative;
    border-radius: 100px;
    padding: 40px;
    margin-bottom: 50px;
}

.text-box .btn::after {
    content: "";
    z-index: -1;
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .4s;
    background-color: #F8F8F8;
    animation: moveInBottom 2s ease-out infinite;
}

.text-box .btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

@keyframes moveInBottom {
    100% {
        transform: scaleX(1.8) scaleY(1.8);
        opacity: 0;
    }
}

.mat-dialog-content {
    max-height: unset!important;
    overflow: unset!important;
    margin: 0!important;
    padding: 0!important;
}

.text-box {
    width: 479px;
    height: 433px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cdk-overlay-pane {
    width: auto!important;
    height: auto;
}

.text-box h3 {
    color: #434343;
    font-size: 26px;
}

.text-box p {
    color: #656565;
    font-size: 16px;
    font-weight: normal;
    width: 50%;
    margin: 20px auto 0;
}

.mat-dialog-actions {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 0;
    align-items: center;
    margin-bottom: 0;
}

button.mat-button.mat-button-base {
    min-width: auto;
    line-height: normal;
}

.btn-white figure {
    height: 47px;
    width: 47px;
}

ol.breadcrumb a {
    color: #707070;
    text-decoration: none;
    font-size: 16px;
}

.breadcrumb>.active {
    color: #707070;
}

.wishlist .more_explore_main .title_bar h2::after {
    margin-left: 78px;
}

.breadcrumb>li {
    display: inline-block;
    font-size: 16px;
}

ul.catproduct .rowcat {
    width: 1000px;
    li {
        width: 100%;
        margin-right: 0;
        padding: 10px 0px;
        .tab2_category_column {
            display: none;
        }
        .tab2_category_row {
            h2 {
                color: #2A2A2A;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 22px;
                width: 350px;
            }
            h3 {
                font-size: 16px;
                color: #999;
                padding: 10px 0px;
            }
            .box_text {
                h4 {
                    font-size: 20px;
                    margin: 0;
                    .old_rate {
                        color: #999;
                        font-size: 16px;
                        padding: 0px 10px;
                        text-decoration: line-through;
                    }
                    .discount_off {
                        color: #00C62E;
                        font-size: 14px;
                    }
                }
                h3 {
                    font-size: 20px;
                }
                h5 {
                    font-size: 14px;
                    color: #999;
                    line-height: normal;
                }
            }
        }
        .sub_cate_h4price {
            width: 30%;
            height: 90%;
        }
    }
}

ul.catproduct .columncat {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    li {
        width: 31%;
        margin: 0;
        margin-right: 2%;
        margin-bottom: 20px;
        display: block;
        background: #fff;
        .selection_mains {
            width: 100%;
            box-shadow: 0 13px 18px 0 rgba(0, 0, 0, 0.1);
        }
        .tab2_category_main {
            width: 100%;
            padding: 10px;
            .tab2_category_row {
                display: none;
            }
            .tab2_category_column {
                padding: 10px 0px;
                h2 {
                    color: #2A2A2A;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 22px;
                    width: 350px;
                    padding: 10px 0px 0px;
                }
                h3 {
                    font-size: 16px;
                    color: #999;
                }
                .box_text {
                    h4 {
                        font-size: 20px;
                        margin: 0;
                        .old_rate {
                            color: #999;
                            font-size: 16px;
                            padding: 0px 5px;
                            text-decoration: line-through;
                        }
                        .discount_off {
                            color: #00C62E;
                            font-size: 14px;
                        }
                    }
                    h3 {
                        font-size: 20px;
                    }
                    h5 {
                        font-size: 14px;
                        color: #999;
                        line-height: normal;
                    }
                }
            }
            .sub_cate_h4price {
                width: 100%;
                border: none;
                text-align: left;
                margin: 10px 0px;
                padding: 0px;
                span {
                    display: inline-block;
                }
            }
        }
    }
}

.category_right .more_explore_main2 li .selection_mains {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    box-shadow: 0 0px 18px 0 rgba(0, 0, 0, 0.1);
    width: 20%;
    position: relative;
}

.tab2_category_main {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.category_right .more_explore_main2 li .selection_main {
    flex-direction: column;
}

// .category_right .more_explore_main2 li .tab2_category h2 
// {
//     color: #2A2A2A;
//     font-size: 21px;
//     font-weight: 600;
//     margin-bottom: 28px;
//     white-space: nowrap;
//     text-overflow: ellipsis;
//     overflow: hidden;
// }
.category_right .more_explore_main2 li .tab2_category {
    padding-left: 26px;
}

// .category_right .more_explore_main2 li .tab2_category h2 span {
//     color: #A8A8A8;
//     font-size: 18px;
//     display: block;
//     font-weight: bold;
//     margin-top: 10px;
// }
.category_right .more_explore_main2 li .selection_mains h4 {
    font-size: 30px;
}

.category_right .more_explore_main2 li .selection_mains h4 del {
    font-size: 21px;
    margin: 0 15px;
}

.category_right .more_explore_main2 li .selection_mains h4 span {
    font-size: 19px;
}

//pagination
nav.pagination_main {
    padding: 50px 0;
    text-align: right;
}

.pagination>li>a,
.pagination>li>span {
    cursor: pointer;
    color: #A8A8A8;
    border: none;
    font-size: 14px;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #000;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.cart_right {
    width: 55%;
    margin-left: 20px;
}

button.address_modale_btn {
    color: #000;
    font-size: 16px;
    background: #ffcb08;
    border: none;
    padding: 14px 55px;
    border-radius: 100px;
    margin-top: 13px;
}

.cart_wrap .formn_group_main {
    margin: 20px 0 16px;
}

h5#exampleModalLongTitle {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
}

.modal-dialog.checkout .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.modal-dialog.checkout .modal-header button.close {
    background: #97334b;
    opacity: 1;
    padding: 6px 10px;
    border-radius: 100px;
    position: relative;
    top: -36px;
    left: 30px;
    span {
        color: #fff;
    }
}

.checkout_wrap .btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus {
    color: #000;
    background: #97334b!important;
    border: none!important;
}

.modal-dialog.checkout .modal-header::after {
    content: unset;
}

.modal-dialog.checkout .modal-header::before {
    content: unset;
}

.modal-dialog.checkout .modal-body {
    padding: 30px;
}

.modal-dialog.checkout .formn_group_main {
    margin: 0px 0 16px;
}


/*********14 april add css****************/

.navbar {
    margin-bottom: 0;
    border: 0;
    box-shadow: 0 5px 6px #0000001a;
}

.categories_left_top .card-body ul li {
    font-size: 15px;
    color: #000;
    padding: 0 0 10px;
}

.categories_left_top .card-body ul {
    margin: 20px 0 0;
}


/*facebook css***/

.loginBtn {
    padding: 0 3px 0 32px !important;
    line-height: 20px !important;
    font-size: 12px !important;
    margin: 0 !important;
}

.loginBtn:before {
    width: 23px !important;
    height: 100% !important;
    background-size: 10px !important;
}


/********start 12-August-2020********/

.featured ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.featured ul li {
    width: 19%;
    margin: 0px 14px 14px 0px;
}

.featured ul li:nth-child(5n) {
    margin-right: 0px;
}

.feature_main {
    width: 95%;
    margin-bottom: 0px;
    margin: 5px;
}

.more_explore_main li {
    width: 23%;
    margin: 0% 2% 2% 0%;
    padding: 0px;
    padding: 10px;
    position: relative;
    &:nth-child(4n) {
        margin: 0% 0% 2% 0%;
    }
}

.more_explore_main li:nth-child(5n) {
    margin-right: 0;
}

.selection_mains h5 {
    color: #2A2A2A;
    font-size: 23px;
    line-height: 33px;
    font-weight: normal;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.adds ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.adds ul li {
    width: 49%;
    margin-bottom: 25px;
    overflow: hidden;
}

.adds ul figure {
    width: 100%;
    height: 100%;
}

.adds ul figure img {
    object-fit: contain;
}

.home_page .top_selection {
    box-shadow: none;
    // padding-top: 0px;
}

.home_page .title_bar {
    border: none;
}

// .home_page .title_bar h2 {
//     border-bottom: 1px solid #ccc;
//     padding-bottom: 16px;margin: 0px;
// }
.top_selection ul {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    padding: 30px 0 0;
    flex-wrap: wrap;
}

.top_selection li {
    width: 18%;
    margin: 0% 2% 2% 0%;
    padding: 0px;
    padding: 10px;
    position: relative;
    &:nth-child(5n) {
        margin: 0% 0% 2% 0%;
    }
}

.more_explore_main .selection_mains {
    border: none;
    background: no-repeat;
    margin-bottom: 0px;
    padding: 0;
}

.title_bar h2 span {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 0px;
    color: #000000;
}

.top_selection li:nth-child(5n) {
    margin-right: 0px;
}

// .selection_mains {
//     border: 1px solid #DEDEDE;
//     background: #fff;
//     padding: 15px;
//     position: relative;
// }
.selection_mains h4 {
    color: #000000;
    margin-bottom: 15px;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 8px;
}


/*******new class bas css*****/

ul.cate_banner {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 0px;
}

.cate_banner li {
    width: 32% !important;
    margin: 0 17px 11px 0px !important;
    height: 276px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: stretch;
    border: 1px solid #cccccc6e;
    overflow: hidden;
    justify-content: center;
}

ul.cate_banner .camera {
    height: 100% !important;
    width: 100% !important;
    margin: unset !important;
    padding: 0px !important;
}

// .category_wrap .more_explore_main li:nth-child(3){margin-right: 0!important;}
// .category_wrap .more_explore_main li:nth-child(6){margin-right: 0!important;}
// .category_wrap .more_explore_main li:nth-child(9){margin-right: 0!important;}
// .category_wrap .more_explore_main li:nth-child(12){margin-right: 0!important;}
// .category_wrap .more_explore_main li:nth-child(4){margin-right: 25px!important;}
// .category_wrap .more_explore_main li:nth-child(8){margin-right: 25px!important;}
ul.cate_banner li .explore_main {
    box-shadow: none;
    min-height: auto;
    padding: 0px;
    align-content: normal;
    margin: 0px;
    display: unset;
}

.cate_banner li:nth-child(3n) {
    margin-right: 0px !important;
}

// .category_right .more_explore_main2 li:nth-child(4){ margin-right: 0px;}

/*****sub category********/

ul.subcate_banner {
    display: flex;
    justify-content: flex-start !important;
    align-items: stretch !important;
}

ul.subcate_banner li {
    width: 24% !important;
    margin: 0 10px 10px 0px !important;
    // background: #eae9e9;
    box-shadow: 0 0px 18px 0 rgba(0, 0, 0, 0.1);
}

ul.subcate_banner li .selection_mains {
    display: unset !important;
}

ul.subcate_banner li:nth-child(3n) {
    margin-right: 0px !important;
}

ul.subcate_banner li .explore_main {
    min-height: 273px;
    overflow: hidden;
    padding: 0px !important;
    margin: 0px;
    box-shadow: none;
}

ul.subcate_banner li .explore_main figure {
    width: 100%;
    height: auto !important;
    margin: 0px !important;
    padding: 0px !important;
}

ul.subcate_banner li span {
    text-align: center;
    display: block;
    padding: 10px;
    font-size: 18px;
}


/********sub cate with name********/

ul.sub_prodwith_name li {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    // background: #ccc3;
    margin-bottom: 20px;
}

ul.sub_prodwith_name li .explore_main {
    box-shadow: none;
    padding: 0px;
    min-height: auto;
    margin: 0px;
    display: unset;
}

ul.sub_prodwith_name li .selection_mains {
    height: auto;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// ul.sub_prodwith_name li .tab2_category {
//     padding-left: 0px !important;
//     display: flex;
//     justify-content: space-between;
//     width: 100%;
//     align-items: center;
// }
ul.sub_prodwith_name li .tab2_category_main {
    display: flex;
    width: 80%;
    align-items: center;
    padding-left: 15px;
}

// ul.sub_prodwith_name li figure {
//     width: 100% !important;
//     height: 100% !important;
//     padding: 0px !important;
// }
ul.sub_prodwith_name li .tab2_category h4 {
    align-self: center;
    line-height: 23px;
    color: #000;
    font-weight: 700;
    word-break: break-word;
}

.sub_cate_h4price {
    // border-left: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

ul.sub_prodwith_name li .tab2_category h4 del {
    color: #b9aeae;
    padding: 0px 10px;
    font-size: 15px;
    font-weight: 400;
}

// ul.sub_prodwith_name li .tab2_category h4 span {
//     color: rgb(56, 174, 4);
//     font-size: 14px;
//     font-weight: 600;
//     display: block;
// }
.mat-paginator-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: auto;
    padding: 0 8px;
    flex-wrap: wrap-reverse;
    width: 100%;
    padding: 40px 1px;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #97334B !important;
    height: 0px;
}

.profile_right .mat-tab-label-content {
    margin-bottom: 0px;
}

.mat-tab-label-active {
    border-bottom: 2px solid #97334B;
    opacity: 1 !important;
    .mat-tab-label-content {
        color: #97334B;
    }
}

.repeat_btn_orderdet button {
    background: #337ab7 !important;
    width: fit-content !important;
    padding: 13px 23px !important;
    border-radius: 0px !important;
    margin-bottom: 26px;
    margin-right: 16px;
}

// .header_product_list ul {
// display: flex;
// justify-content: flex-start;
// align-items: stretch;
// flex-wrap: wrap;
// }
// .header_product_list ul li {
// width: 19%;
// margin-right: 14px;
// margin-bottom: 14px;
// }
// .header_product_list ul li:nth-child(5n){margin-right: 0px;}
.header_product_list ul li h2 {
    font-size: 19px;
    white-space: pre-wrap;
    line-height: 20px;
    margin-bottom: 7px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

// .header_product_list ul li .explore_main {
// box-shadow: none !important;
// height: 220px;
// overflow: hidden;
// min-height: 220px;
// }
// .header_product_list ul li .explore_main figure.camera {
// width: 100%;
// height: 100%;
// margin: 0px;
// background: #e8e7ed;
// }
li.nav-item.active a {
    background: #97334b;
}

button.mat-paginator-navigation-previous.mat-icon-button.mat-button-base {
    background: transparent;
    padding: 0px !important;
}

button.mat-paginator-navigation-next.mat-icon-button.mat-button-base {
    background: transparent;
    padding: 0px;
}

.upload_file {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 1px;
}

input#file-input {
    opacity: 0;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
}

.other_brands {
    background: #F8F2F3;
    .o_brand_box {
        text-align: center;
        .selection_main_box2 {
            box-shadow: 0 0 15px #d2d2d2;
            border-radius: 10px;
            width: 80%;
            margin: 0 auto;
        }
        .box_text2 {
            h3 {
                font-size: 24px;
                font-weight: 700;
                color: #97334B;
                padding: 40px 0px 10px;
            }
            p {
                color: #2A2A2A;
                font-size: 20px;
                line-height: normal;
            }
            h4 {
                display: block;
                font-size: 25px;
                padding-top: 10px;
                margin-bottom: 0px;
                color: #97334B;
            }
        }
    }
}

// new code 
.owl-theme .owl-nav.disabled+.owl-dots {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

// .feature_top figure {
//     width: 200px;
//     height: 200px;
// }
.title_bar .explore {
    position: relative;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
    &::after {
        content: "";
        width: 100%;
        position: absolute;
        left: 0;
        top: 49%;
        height: 0px;
        border: solid #000 1px;
    }
}

.selection_main_box {
    position: relative;
    padding: 5px;
    margin-bottom: 20px;
    box-shadow: 0 13px 18px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
}

.selection_main_box2 {
    position: relative;
    padding: 0px 0px;
    // margin-bottom: 15px;
    // border: solid #E6E6E6 1px;
    background: #fff;
}

.selection_main_box2.feature_top {
    box-shadow: none;
}

.title_bar .explore span {
    position: relative;
    background: #F8F2F3;
    display: inline-block;
    padding: 0px 30px;
    z-index: 1;
    &::after {
        content: "";
        width: 15px;
        position: absolute;
        height: 15px;
        background: #97334B;
        border-radius: 50%;
        right: 0;
        top: 50%;
        transform: translate(0%, -50%);
    }
    &::before {
        content: "";
        width: 15px;
        position: absolute;
        height: 15px;
        background: #97334B;
        border-radius: 50%;
        left: 0;
        top: 50%;
        transform: translate(0%, -50%);
    }
}

.sec_shadow {
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1) !important;
    border: solid red 0px;
}

.seller_section {
    margin-bottom: 50px;
}

.heading_bb {
    // border-bottom: solid #E6E6E6 1px !important;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    h2 {
        font-size: 30px;
        font-weight: bold;
    }
    a {
        font-size: 20px;
        font-weight: bold;
        color: #97334B !important;
    }
}

.heading_bb2 {
    border-bottom: solid #E6E6E6 1px !important;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    h2 {
        font-size: 30px;
        font-weight: bold;
        padding-bottom: 15px;
    }
    a {
        font-size: 20px;
        font-weight: bold;
        color: #97334B !important;
    }
}

.custom_navarrow {
    .owl-theme .owl-nav {
        margin-top: 0px;
        text-align: unset;
        position: absolute;
        top: -64px;
        right: 80px;
        .owl-prev {
            color: transparent;
            border: solid 2px #000;
            border-radius: 0px;
            background: url('../src/assets/images/left_arrow.png') no-repeat;
            background-position: center;
            background-size: 10px 15px;
            opacity: 1;
            &:hover {
                background: #97334B url('../src/assets/images/left_arrow_w.png') no-repeat;
                background-position: center;
                background-size: 10px 15px;
                border: solid 2px #97334B;
            }
        }
        .owl-next {
            color: transparent;
            border: solid 2px #000;
            border-radius: 0px;
            background: url('../src/assets/images/right_arrow.png') no-repeat;
            background-position: center;
            background-size: 10px 15px;
            opacity: 1;
            &:hover {
                background: #97334B url('../src/assets/images/right_arrow_w.png') no-repeat;
                background-position: center;
                background-size: 10px 15px;
                border: solid 2px #97334B;
            }
        }
    }
}

.custom_navarrow2 {
    .owl-theme .owl-nav {
        margin-top: 0px;
        text-align: unset;
        position: absolute;
        top: -74px;
        right: 0px;
        .owl-prev {
            color: transparent;
            border: solid 2px #000;
            border-radius: 0px;
            background: url('../src/assets/images/left_arrow.png') no-repeat;
            background-position: center;
            background-size: 10px 15px;
            opacity: 1;
            &:hover {
                background: #97334B url('../src/assets/images/left_arrow_w.png') no-repeat;
                background-position: center;
                background-size: 10px 15px;
                border: solid 2px #97334B;
            }
        }
        .owl-next {
            color: transparent;
            border: solid 2px #000;
            border-radius: 0px;
            background: url('../src/assets/images/right_arrow.png') no-repeat;
            background-position: center;
            background-size: 10px 15px;
            opacity: 1;
            &:hover {
                background: #97334B url('../src/assets/images/right_arrow_w.png') no-repeat;
                background-position: center;
                background-size: 10px 15px;
                border: solid 2px #97334B;
            }
        }
    }
}

.sec_shadow .owl-carousel .owl-item {
    border: solid #E6E6E6 1px;
    .selection_mains {
        h4,
        h5 {
            padding: 0px 10px;
        }
    }
}

.related_product {
    margin-top: 80px;
}

.product-detail_tab .product_detail_tab_content .profile_box {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.profile_img {
    border: solid 2px #EFEFEF;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    overflow: hidden;
    figure {
        width: 100%;
        height: 100%;
        img {
            object-fit: cover;
        }
    }
}

.product-detail_tab .product_detail_tab_content .name_rating {
    h3 {
        margin: 10px 0;
    }
    .hm_restur_rateing {
        i {
            color: #fff;
        }
    }
}

.Cart_left {
    background: #F8F8F8;
    box-shadow: 0 18px 25px 0 rgba(0, 0, 0, 0.1);
}

.checkout_bg_shadow {
    box-shadow: 0 18px 25px 0 rgba(0, 0, 0, 0.1);
}

.selection_main_rating {
    position: relative;
    .inner {
        display: flex;
        align-items: center;
        .good_rating_left {
            .hm_restur_rateing {
                width: 70px;
            }
        }
        .good_rating_left_inner {
            margin-left: 30px;
        }
    }
}

.green {
    color: #0DB14B !important;
}

.expiry_date {
    width: 60%;
    margin-right: 5%;
    display: inline-block;
}

.cvv {
    width: 30%;
    display: inline-block;
}

.catogries_box {
    width: 70%;
    margin: auto;
    cursor: pointer;
    p {
        padding-top: 5px;
        font-size: 16px;
    }
}

.search {
    width: 100%;
    li {
        width: 100%;
    }
}

.navbar2 {
    box-shadow: none;
    width: 20%;
}

ul.list_cat {
    width: 50%;
    padding-top: 0px;
    padding-bottom: 50px;
    display: flex;
    align-items: stretch;
    li {
        width: 45%;
        margin-right: 5%;
        box-shadow: 0 10px 18px rgba(0, 0, 0, 0.1);
        &:nth-child(2n) {
            margin-right: 0%;
        }
        h3 {
            font-size: 24px;
            text-align: center;
            padding: 10px 0px;
            font-weight: 600;
        }
    }
}

.owl-carousel .owl-stage {
    display: flex;
    align-items: stretch;
}

.banner_slider {
    .owl-carousel {
        .owl-stage {
            max-height: 700px;
        }
        .owl-item img {
            object-fit: cover;
        }
    }
}

.celebrity_box {
    box-shadow: 0 0 10px #0000001f;
    border-radius: 5px;
    .box_text {
        h4 {
            font-size: 20px;
            justify-content: center;
            padding: 15px;
        }
    }
}

.celebrity_box2 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.Product_box {
    border: solid #d3d3d3 1px;
    padding: 10px;
    background: #fff;
    margin-bottom: 5px;
    .box_text {
        h4 {
            font-size: 18px;
            margin: 0;
            padding: 30px 0px 20px;
            .old_rate {
                color: #999;
                font-size: 15px;
                padding: 0px 10px;
                text-decoration: line-through;
            }
            .discount_off {
                color: #00C62E;
                font-size: 14px;
            }
        }
        h3 {
            font-size: 20px;
        }
        h5 {
            font-size: 14px;
            color: #999;
            line-height: normal;
        }
    }
}

.top_product {
    background: #F9F9F9;
}

.intl-tel-input .country-list .flag-box,
.intl-tel-input .country-list .country-name {
    margin-right: 6px;
    font-size: 14px;
}

.search_button {
    background: #97334B;
    padding: 12px;
    border-radius: 6px;
}

.search_button2 {
    padding: 8px 10px;
    figure {
        width: 20px;
    }
}

.search_bar_inner {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    border-radius: 6px;
    justify-content: space-between;
    border: solid 1px #c6c6c6;
}

.search_input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 4px 4px 4px 0px;
    background: #fff;
}

.search_input2 {
    background: none;
}

.banner_sec {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            // &:nth-child(1) {
            //     width: 19%;
            //     margin-right: 1%;
            // }
            figure {
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                }
            }
        }
    }
}

.home_appliance_banne {
    width: 100%;
    background: #97334B;
    padding: 10px 0;
}

.home_appliance_banne .banner_left button {
    background: #fff;
}

// Celebrity index
.Celebrity_index {
    position: relative;
    padding: 30px 0px;
}

.index_list {
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
            font-size: 16px;
            &:first-child {
                color: #97334B;
                font-weight: 600;
            }
        }
    }
}

.celebrity_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
        width: 19%;
        margin-bottom: 20px;
        &:nth-child(5n) {
            margin-right: 0%;
        }
        .selection_mains {
            width: 100%;
            box-shadow: 0 0 10px #cbcbcb63;
            border-radius: 10px;
            border: none;
            padding: 0px;
            figure {
                width: 100%;
                height: auto;
            }
            h5 {
                font-size: 20px;
                text-align: center;
                font-weight: 500;
                color: #666;
                padding: 10px;
            }
        }
    }
}

.brand_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    li {
        width: 24%;
        margin-bottom: 20px;
        &:nth-child(4n) {
            margin-right: 0%;
        }
        .selection_mains {
            width: 100%;
            height: 100%;
            box-shadow: 0 0 10px #cbcbcb63;
            border-radius: 10px;
            border: none;
            padding: 0px;
            display: flex;
            align-items: center;
            figure {
                width: 100%;
                height: auto;
                padding: 40px;
            }
        }
    }
}

// Celebrity index end
.page_nav {
    width: 250px;
    position: relative;
    bottom: 10px;
    margin-left: auto;
    .pagination {
        .page-item.active .page-link {
            z-index: 1;
            color: #000;
            background: none !important;
            border: solid #c7c7c7 1px;
            border-radius: 5px;
            margin: 0px 2px;
        }
        .page-link:hover {
            background: none !important;
        }
        li {
            a {
                margin: 0px 2px;
            }
        }
    }
}

.product_detail_right_inner {
    h2 {
        color: #2A2A2A;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 22px;
        width: 350px;
        padding: 10px 0px 0px;
    }
    h3 {
        font-size: 16px;
        color: #999;
        padding: 5px 0px;
    }
    .box_text {
        h4 {
            font-size: 20px;
            margin: 0;
            .old_rate {
                color: #999;
                font-size: 16px;
                padding: 0px 5px;
                text-decoration: line-through;
            }
            .discount_off {
                color: #00C62E;
                font-size: 14px;
            }
        }
        h3 {
            font-size: 20px;
        }
        h5 {
            font-size: 14px;
            color: #999;
            line-height: normal;
        }
        .theme_btn {
            padding: 0px 10px;
        }
    }
    .discount_offer {
        padding-top: 20px;
        h3 {
            padding: 10px 0px;
        }
        ul {
            padding: 0px 15px;
            background: #F8F2F3;
            border-radius: 5px;
            li {
                font-size: 18px;
                display: flex;
                align-items: center;
                padding: 10px 8rem 10px 0px;
                img {
                    width: 30px;
                    margin-right: 10px;
                }
            }
        }
        .ca_text {
            padding-top: 25px;
        }
        .ca_box {
            position: relative;
            input {
                width: 100%;
                padding: 10px;
                border-radius: 20px;
                border: solid 1px #ECECEC;
                &::placeholder {
                    color: #D3D3D3;
                }
            }
            button {
                position: absolute;
                border: none;
                right: 0;
                font-size: 14px;
                padding: 12px 20px;
            }
        }
    }
}

.theme_btn {
    background: #97334B !important;
    color: #fff !important;
    border-radius: 25px !important;
    padding: 10px 10px;
}

.theme_sub_heading {
    color: #97334b !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    padding: 10px 0px;
}

.form-control:focus {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.mat-input-element {
    font-size: 15px !important;
}

.order_detail_wrap {
    padding-bottom: 100px;
}

// new code end 
@media(max-width:2000px) {
    .login_wrap.signup {
        height: 100vh;
        padding: 20px 0;
    }
    .logoheader .header-logo img {
        width: 150px;
    }
}

@media(max-width:1500px) {
    .login_wrap {
        height: 100vh;
        padding: 60px 0;
    }
    .services_content figure {
        width: 81px;
    }
    .services ul a {
        font-size: 16px;
    }
    .feature_bottom h3 {
        font-size: 18px;
        line-height: 35px;
        // margin-top: 10px;
    }
    .home_appliance_banne.all_sec {
        padding: 0 0 50px;
    }
    .more_explore_main .title_bar h2 {
        font-size: 30px;
    }
    .more_explore_main .title_bar h2::after {
        margin-left: 60px;
        top: 48%;
    }
    .hm_restur_rateing {
        padding: 4px;
    }
    .hm_restur_rateing span {
        font-size: 16px;
        margin-left: 6px;
    }
    .hm_restur_rateing figure {
        width: 16px;
        overflow: hidden;
    }
    .like figure {
        width: 20px;
    }
    .selection_mains h4 {
        margin-bottom: 0px;
        min-height: 45px;
        font-size: 16px;
        del,
        span {
            font-size: 16px;
        }
    }
    .selection_mains h5 {
        font-size: 18px;
        line-height: 26px;
        padding-top: 10px;
    }
    .more_explore.all_sec {
        padding: 50px 0 15px;
    }
    //productdetail
    .categories_right_top ul li h3 {
        font-size: 20px;
    }
    .categories_right_top ul li h5 {
        font-size: 21px;
    }
    .title_bar h2 span {
        font-size: 30px;
    }
    .category_right .more_explore_main2 li .selection_mains h4 {
        font-size: 28px;
    }
    .category_right .more_explore_main2 li .selection_mains h4 del {
        font-size: 20px;
    }
    .category_right .more_explore_main2 li .selection_mains h4 span {
        font-size: 17px;
    }
    .category_right .more_explore_main2 li .tab2_category h2 span {
        margin-top: 6px;
    }
    /*cart*/
    .product_detail_right_inner.cart p {
        font-size: 18px;
        margin: 10px 0 16px;
    }
    .title_bar .explore {
        margin-bottom: 0px;
    }
    .title_bar h2 {
        font-size: 28px;
        margin-bottom: 0px;
    }
    .product_detail_right_inner p {
        font-size: 20px;
        .del,
        span {
            font-size: 16px;
        }
    }
    .all_sec {
        padding: 40px 0px;
    }
    .right_bar {
        width: 25%;
    }
    ul.header-btns li {
        margin-right: 0;
    }
    .right_bar {
        width: 26%;
    }
    .logoheader .account_main .btn-primary {
        padding: 2px 15px;
    }
    .logoheader ul.dropdown-menu {
        left: -190px;
    }
    .top_selection li {
        width: 18%;
    }
    .title_bar .explore span {
        &::before {
            width: 12px;
            height: 12px;
        }
        &::after {
            width: 12px;
            height: 12px;
        }
    }
    .title_bar .explore::after {
        top: 47%;
    }
    .header_product {
        padding-top: 50px;
    }
    ul.list_cat {
        width: 65%;
    }
    .custom_navarrow {
        .owl-theme .owl-nav {
            margin-top: 0px;
            text-align: unset;
            position: absolute;
            top: -58px;
            right: 80px;
        }
    }
    .custom_navarrow2 {
        .owl-theme .owl-nav {
            margin-top: 0px;
            text-align: unset;
            position: absolute;
            top: -74px;
            right: 0px;
        }
    }
    figure.camera2 {
        width: 70%;
        margin: 0px auto;
    }
    .brand_list li {
        width: 23%;
        margin-bottom: 30px;
    }
    .search_input {
        padding: 2px 2px 2px 0px;
    }
}

@media(max-width:1100px) {
    .conta_iner {
        width: 90%;
        margin: auto;
    }
    .heading_bb {
        margin: 20px 0px;
    }
    .custom_navarrow .owl-theme .owl-nav {
        top: -70px;
    }
    .product_detail_btn button {
        padding: 10px 30px;
    }
    .product-detail_tab {
        width: 70%;
    }
    .category_right_bar {
        width: 60%;
    }
    ul.catproduct .rowcat,
    ul.catproduct .columncat {
        width: 100%;
    }
}

@media(max-width:992px) {
    .services {
        padding: 20px 0;
    }
    .adds ul li {
        margin-bottom: 0px;
    }
    .selection_mains h4 {
        font-size: 14px;
        del,
        span {
            font-size: 14px;
        }
    }
    .services ul a {
        font-size: 14px;
    }
    .custom_navarrow {
        .owl-theme .owl-nav {
            .owl-prev {
                background: url('../src/assets/images/left_arrow.png') no-repeat;
                background-position: center;
                padding: 1px 2px;
                background-size: 6px 10px;
                &:hover {
                    background: #f9c848 url('../src/assets/images/left_arrow.png') no-repeat;
                    background-position: center;
                    background-size: 6px 10px;
                    border: solid 2px #f9c848;
                }
            }
            .owl-next {
                background: url('../src/assets/images/right_arrow.png') no-repeat;
                background-position: center;
                padding: 1px 2px;
                background-size: 6px 10px;
                &:hover {
                    background: #f9c848 url('../src/assets/images/right_arrow.png') no-repeat;
                    background-position: center;
                    background-size: 6px 10px;
                    border: solid 2px #f9c848;
                }
            }
        }
    }
    .selection_mains h5 {
        font-size: 16px;
        padding-top: 0px;
    }
    .product_detail_right_inner {
        h3 {
            font-size: 14px;
        }
        p {
            margin: 10px 0;
        }
    }
    .product_detail_btn {
        margin-top: 20px;
        justify-content: left;
        li {
            margin-right: 20px;
        }
        button {
            padding: 10px 25px;
            font-size: 16px;
        }
    }
    .product_detail_left figure {
        width: 50%;
    }
    .nav-tabs.nav-justified {
        width: 100%;
    }
    .product-detail_tab {
        width: 100%;
    }
    .hm_restur_rateing {
        padding: 2px;
        figure {
            width: 15px;
        }
    }
    .cart_right .orderadd_cart_box {
        width: 110px;
        margin-top: 10px;
        p {
            font-size: 16px;
        }
    }
    .title_bar h2 {
        font-size: 20px;
    }
    .product_detail_right_inner.cart p {
        font-size: 16px;
    }
    .cart_wrap .product_detail_btn {
        padding: 10px;
    }
    .catogries_box {
        width: 100%;
        margin: auto;
        cursor: pointer;
        p {
            padding-top: 5px;
            font-size: 14px;
        }
    }
    .title_bar .explore {
        margin-top: 50px;
        &::after {
            top: 48%;
        }
    }
    .vategory_left_bar {
        width: 25%;
    }
    .category_right_bar {
        width: 75%;
    }
    ul.sub_prodwith_name li .tab2_category h4 {
        font-size: 14px;
        line-height: normal;
        del {
            font-size: 14px;
            line-height: normal;
        }
    }
    .category_left {
        width: 180px;
    }
    .category_right {
        width: 65%;
    }
    .category_left_nner {
        padding: 15px 10px;
    }
    ul.collpase_bar {
        li p {
            margin-right: 7px;
        }
        li {
            margin: 0px;
            padding: 10px 0px;
        }
    }
    .sub_cate_h4price {
        width: 30%;
    }
    .category_right .more_explore_main2 li .tab2_category h2 {
        font-size: 16px;
        margin-bottom: 28px;
    }
    .cart_right p {
        font-size: 16px;
        line-height: 22px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .product_detail_main.cart {
        flex-wrap: wrap;
        .cart_left {
            width: 100%;
        }
        .cart_right {
            width: 100%;
            margin-top: 20px;
        }
    }
    .product_detail_left_inner {
        padding: 0px 0px;
    }
    .product_detail_main {
        flex-wrap: wrap;
        .media-body {
            flex-wrap: nowrap;
        }
        .product_detail_left {
            width: 100%;
        }
        .product_detail_right {
            width: 100%;
            margin-top: 50px;
        }
    }
    .cart_outer_box {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        .chip.fade.show {
            width: 48%;
        }
    }
    .product_detail_left .list-group-item {
        margin-bottom: 10px !important;
    }
    .addrs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .mat-checkbox {
            width: 48%;
        }
        .product_detail_btn {
            width: 100%;
            button {
                padding: 17px 50px;
            }
        }
    }
    .checkout_wrap .product_detail_btn button {
        padding: 17px 50px;
    }
    .checkout_wrap .product_detail_right .product_detail_btn button {
        width: auto;
    }
    .crs_btn {
        cursor: pointer;
        position: absolute;
        top: -12px;
        right: -12px;
    }
    .profile_main .user_profile {
        flex-wrap: wrap;
        h4 {
            margin-left: 0px;
        }
    }
    .order_detail_left h3 {
        font-size: 18px;
    }
    .order_detail_wrap .orderdetail_left {
        li {
            h3 {
                font-size: 15px;
                margin-top: 10px;
            }
        }
        button {
            padding: 15px 70px;
            width: auto;
        }
        .orderdetail_p {
            width: 100%;
        }
    }
    ul.item_total li:last-child h3.extrabold_order {
        font-size: 18px;
    }
    .order_detail_wrap .orderdetail_right {
        width: 45%;
        padding: 20px 20px;
    }
    .addres_main {
        flex-wrap: wrap;
        .address_left {
            width: 100%;
            ul {
                li {
                    margin-bottom: 10px;
                }
            }
        }
        .address_right {
            width: 100%;
        }
    }
    .form_control2 {
        line-height: 18px;
    }
    .more_explore_main ul {
        li {
            &:nth-child(4n) {
                margin-right: 0%;
            }
            &:nth-child(5n) {
                margin-right: 2%;
            }
        }
    }
}

@media(max-width:767px) {
    .top_selection li {
        width: 31%;
    }
    .catogries_box {
        width: 70%;
        img {
            width: 80% !important;
            margin: 0 auto;
        }
    }
    .banner {
        padding-bottom: 30px;
    }
    .owl-theme .owl-nav.disabled+.owl-dots {
        bottom: unset;
    }
    .sec_shadow .owl-carousel .owl-item {
        margin-right: 15px !important;
    }
    .title_bar h2 span {
        font-size: 18px;
    }
    .title_bar .explore {
        margin-top: 30px;
    }
    .selection_mains h5 {
        font-size: 14px;
        line-height: 20px;
    }
    .hm_restur_rateing {
        figure {
            width: 13px;
        }
        span {
            font-size: 14px;
            margin-left: 4px;
        }
    }
    .cart_services_main {
        margin: 10px 0px;
    }
    .cart_services_left figure {
        width: 25px;
    }
    .seller_section {
        margin-bottom: 30px;
    }
    .top_selection ul {
        padding: 0px;
    }
    .product_detail_main .product_detail_right {
        margin-top: 30px;
    }
    .product_detail_right_inner p {
        font-size: 18px;
    }
    .breadcrumb>li {
        font-size: 14px;
    }
    .nav-tabs.nav-justified {
        display: flex;
        flex-wrap: wrap;
        li {
            width: 48%;
        }
    }
    .product-detail_tab .product_detail_tab_content {
        h3 {
            font-size: 20px;
        }
        p {
            font-size: 14px;
        }
    }
    .profile_img {
        width: 50px;
        height: 50px;
    }
    .product-detail_tab {
        .product_detail_tab_content {
            .name_rating h3 {
                margin: 5px 0;
            }
            .review_text p {
                line-height: 20px;
            }
        }
        a {
            padding: 8px 8px !important;
            font-size: 14px;
        }
    }
    .cart_right p {
        font-size: 14px;
    }
    .cart_right .orderadd_cart_box {
        width: 70px;
        margin-top: 10px;
        p {
            font-size: 15px;
        }
        button {
            font-size: 20px;
            padding: 0 5px;
        }
    }
    .checkout_wrap .expansion-panel-body {
        padding: 10px;
    }
    .adre_main address p {
        font-size: 16px;
        white-space: normal;
    }
    .checkout_wrap .adre_main {
        width: 100%;
        padding: 10px;
    }
    .checkout_wrap .mat-radio-label-content {
        width: 90%;
    }
    .addrs .mat-checkbox {
        width: 90%;
    }
    .adre_main.cards {
        padding: 10px 20px !important;
        width: 90%;
        .adres_right {
            width: 70%;
        }
        .adres_left {
            width: 30%;
        }
    }
    .modal-dialog.checkout .modal-header button.close {
        top: -30px;
        left: 25px;
    }
    .cart_wrap {
        padding-bottom: 15px;
    }
    .text-box {
        width: auto;
        height: auto;
    }
    ul.toy_banner_list li {
        width: 48%;
    }
    .categories_right_top {
        width: 65%;
        ul {
            li {
                width: 46%;
                padding: 10px;
                margin: 0 10px 10px 0;
            }
        }
    }
    .more_explore_main li {
        width: 48%;
    }
    .title_bar .explore span {
        padding: 0px 20px;
    }
    .title_bar h2 span {
        font-size: 14px;
    }
    .more_explore_main .title_bar h2::after {
        margin-left: 0px;
        top: 60%;
    }
    .category_main {
        position: relative;
        padding-top: 50px;
        .navbar2 {
            position: absolute;
            z-index: 2;
            width: 100%;
            top: 0px;
            .navbar-toggle {
                margin: 0px;
                margin-right: 5px;
            }
        }
    }
    #categorydiv {
        height: 300px !important;
        margin: 0;
        padding: 0;
        ul {
            margin: 0px;
        }
    }
    .category_right {
        width: 100%;
        min-height: 300px;
    }
    .category_left {
        width: 100%;
        .category_left_nner {
            box-shadow: 0 0 10px #00000026;
            width: 95%;
            margin: 0 auto;
            border-radius: 5px;
        }
    }
    .category_top_bar {
        flex-wrap: wrap;
        .vategory_left_bar {
            width: 100%;
        }
        .category_right_bar {
            width: 100%;
            ul.collpase_bar {
                li {
                    width: 69% !important;
                }
                .row_top_bar {
                    width: 30% !important;
                }
            }
        }
    }
    .profile_main {
        flex-wrap: wrap;
        .prfile_left {
            width: 100%;
        }
        .profile_right {
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    .order_detail_right {
        align-items: stretch;
    }
    .orderdetail_main {
        flex-wrap: wrap;
        .orderdetail_left {
            width: 100%;
        }
        .orderdetail_right {
            width: 100%;
            margin-top: 40px;
        }
    }
    ul.item_total {
        margin: 0px 0 10px;
    }
    .address_left {
        padding-top: 20px;
    }
    .login_form {
        width: 100%;
    }
    ul.connection_img {
        li {
            margin-right: 10px;
        }
    }
    ul.catproduct .rowcat li {
        .tab2_category h2 {
            font-size: 14px;
            width: 150px;
        }
        .sub_cate_h4price {
            width: 50%;
            height: 90%;
        }
    }
}

@media(max-width:480px) {
    .catogries_box {
        width: 80%;
    }
    .category_top_bar .category_right_bar ul.collpase_bar li {
        width: 69% !important;
        justify-content: flex-start;
        flex-wrap: wrap;
        p {
            width: auto;
        }
    }
    .top_selection li {
        width: 48%;
    }
    .categories_top_main {
        flex-direction: column-reverse;
    }
    .categories_top_main .categories_right_top {
        width: 100%;
        margin-left: 0%;
        ul {
            li {
                width: 48%;
                margin-right: 2%;
                &:nth-child(2n) {
                    margin-right: 0%;
                }
            }
        }
    }
    .categories_top_main .categories_left_top {
        width: 100%;
    }
    ul.list_cat {
        width: 100%;
        padding-top: 0px;
        padding-bottom: 50px;
        display: flex;
        align-items: stretch;
        li {
            width: 45%;
            margin-right: 5%;
            box-shadow: 0 10px 18px rgba(0, 0, 0, 0.1);
            &:nth-child(2n) {
                margin-right: 0%;
            }
            h3 {
                font-size: 16px;
                text-align: center;
                padding: 10px 0px;
                font-weight: 600;
            }
        }
    }
    .like figure {
        width: 16px;
    }
}