<app-header></app-header>
<!-- <ngx-spinner [fullScreen] = "true" bdColor = "rgba(0, 0, 0, 0.8)" size = "small" color = "#fff" type="ball-clip-rotate-multiple" >
    <p class="loading">Loading ...</p>
</ngx-spinner> -->
<div class="home_page comman_nameing_margin">

    <div class="banner">

        <!-- <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" >
                <div ngxSlickItem *ngFor="let slide of bannerDataVal">
                    <div class="banner_mn">

                        <div class="banner_left" style="display: none;">
                            <h1>{{slide?.name}}<span>{{slide?.createdAt | date:'mediumDate'}}</span></h1>

                            <button (click)="bannerpage(slide)" style="color: #f5f5f5;">Shop Now<figure><img style="cursor: pointer;"
                                        (click)="bannerpage(slide)" src="assets/images/left-arrow.png"></figure>
                                </button>
                        </div>
                        <div class="banner_right">

                            <figure *ngIf="slide?.image" style="cursor: pointer;">
                                <img (click)="bannerpage(slide)" [src]="imgurl+slide.image">
                            </figure>
                            <figure *ngIf="!slide?.image"><img src="assets/images/banner_left.png"></figure>
                        </div>
                    </div>
                </div>
            </ngx-slick-carousel> -->

        <!-- <owl-carousel-o [options]="customOptions">                                   ** new comment **

            <ng-container *ngFor="let slide of bannerDataVal;let i = index;">
                <ng-template carouselSlide [id]="slide.id">
                    <img [src]="imgurl+slide.image" (click)="bannerpage(slide)" [alt]="slide.alt">
                </ng-template>
            </ng-container>

        </owl-carousel-o> -->

        <div class="banner_slider">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="assets/images/banner.png"></ng-template>
                <ng-template carouselSlide><img src="assets/images/banner.png"></ng-template>
                <ng-template carouselSlide><img src="assets/images/banner.png"></ng-template>
            </owl-carousel-o>
        </div>


    </div>
    <!-- <div class="services">
        <div class="conta_iner">

            <owl-carousel-o [options]="categoryoptions">

                <ng-container *ngFor="let shop of categoryDataVal;let i = index;">
                    <ng-template carouselSlide [id]="shop.id">
                        <div class="catogries_box">
                            <img [src]="imgurl+shop.image" (click)="goTocategoriesdetail(shop._id)" [alt]="shop.alt">
                            <p> {{shop?.name}} </p>
                        </div>
                    </ng-template>
                </ng-container>

            </owl-carousel-o>
        </div>
    </div> -->
    <!-----second_sec-->
    <div class="adds">
        <div class="conta_iner">
            <ul>
                <li *ngFor="let i of offerDataVal">
                    <figure><img style="cursor: pointer;" (click)="bannerpage(i)" [src]="imgurl+i.image"></figure>
                </li>
                <!-- <li>
                    <figure><img style="cursor: pointer;" (click)="bannerpage()" [src]="imgurl+i.image"></figure>
                </li> -->
            </ul>
        </div>
    </div>
    <!-----featured-->
    <div class="featured all_sec custom_navarrow custom_navarrow2">
        <div class="conta_iner">
            <div class="title_bar">
                <h2 class="explore"> <span> DEALS OF DAY </span> </h2>
            </div>

            <owl-carousel-o [options]="customdealday">

                <ng-container *ngFor="let featured of featuredDataVal;let i = index;">
                    <ng-template carouselSlide [id]="featured.id">
                        <div class="feature_main" style="cursor: pointer;" (click)="featurePage(featured)">
                            <div class="feature_top">
                                <figure *ngIf="!featured?.image"><img src="assets/images/featured1.jpg"></figure>
                                <figure *ngIf="featured?.image">
                                    <img src="assets/images/featured1.jpg">
                                </figure>
                            </div>
                            <div class="feature_bottom">
                                <h4> 60% off </h4>
                                <h3><span>{{language == 'en' ? featured?.name : featured?.name_ar}}</span></h3>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>

            </owl-carousel-o>
        </div>
    </div>
    <!----home_appliancebanner-->

    <div class="banner">
        <owl-carousel-o [options]="customOptions">

            <ng-container *ngFor="let slide of bannerDataVal;let i = index;">
                <ng-template carouselSlide [id]="slide.id">
                    <img [src]="imgurl+slide.image" (click)="bannerpage(slide)" [alt]="slide.alt" title="banner">
                </ng-template>
            </ng-container>

        </owl-carousel-o>
    </div>
    <!-------------more_explore-->

    <!-- <div class="top_selection all_sec">
        <div class="title_bar">
            <div class="conta_iner">
                <h2 class="explore"> <span>{{"DASHBOARD.MORETOEXPLORE" | translate}}</span> </h2>
            </div>
        </div>
        <div class="conta_iner">
            <ul>
                <li class="btn " *ngFor="let bestseller of bestsellerDataVal;let i = index;">
                    <div class="selection_mains">
                        <div class="selection_main_box">
                            <div class="selection_main">
                                <div class="hm_restur_rateing" *ngIf="bestseller?.avgRatings != 0">
                                    <figure><img alt="" style="cursor: pointer;" src="assets/images/star.png"></figure>
                                    <span>{{bestseller?.avgRatings | number:'1.0-1'}}</span>
                                </div>
                                <div class="like" *ngIf="!bestseller?.isFavourite" data-toggle="modal" data-target="#myModal">
                                    <figure><img style="cursor: pointer;" src="{{favicon}}" (click)="addfavlist(bestseller._id)"></figure>
                                </div>
                                <div class="like" *ngIf="bestseller?.isFavourite" data-toggle="modal" data-target="#myModal">
                                    <figure><img style="cursor: pointer;" src="assets/images/like_red.png" (click)="addfavlist(bestseller._id)"></figure>
                                </div>
                            </div>
                            <figure (click)="gotoproductDetails(bestseller?._id)" *ngIf="!bestseller.images[0]?.image" class="camera"><img src="assets/images/noimage.png"></figure>
                            <figure (click)="gotoproductDetails(bestseller?._id)" *ngIf="bestseller.images[0]?.image" class="camera"><img [src]="imgurl+bestseller.images[0].image"></figure>
                        </div>
                        <h4 *ngIf="bestseller.discount">
                            AED{{bestseller?.price - bestseller?.price * bestseller?.discount / 100 | number :'1.0-1'}}<del>AED{{bestseller?.price | number :'1.0-1'}}
                            </del><span>{{bestseller?.discount}}% off</span> </h4>
                        <h4 *ngIf="!bestseller.discount">AED{{bestseller?.price}}</h4>
                        <h5>{{language == 'en' ? bestseller?.name : bestseller?.name_ar }}<span>{{language == 'en' ? bestseller?.brand?.name : bestseller?.brand?.name_ar}}</span></h5>
                    </div>
                </li>
            </ul>
        </div>
    </div> -->
    <!-----------------top_selection-->
    <div class="top_selection all_sec custom_navarrow">
        <div class="conta_iner">
            <div class="title_bar heading_bb">
                <h2> Celebrities </h2>
                <a (click)="goTocelebrityindex()"> See All </a>
            </div>
        </div>
        <div class="conta_iner">
            <owl-carousel-o [options]="customRecommended2">

                <ng-container *ngFor="let bestseller of bestsellerDataVal;let i = index;">
                    <ng-template carouselSlide [id]="bestseller.id">
                        <div (click)="goTocelebrityprofile()" style="cursor: pointer;" class="selection_mains celebrity_box">
                            <div class="selection_main_box2">
                                <!-- <figure (click)="gotoproductDetails(bestseller?._id)" *ngIf="!bestseller.images[0]?.image" class="camera"><img style="cursor: pointer;" src="assets/images/boy_shirt_1.png"></figure> -->
                                <figure *ngIf="bestseller.images[0]?.image" class="camera"><img src="assets/images/boy_shirt_1.png">
                                </figure>
                            </div>
                            <div class="box_text">
                                <h4> Saim Kumar </h4>
                            </div>
                        </div>
                        <div (click)="goTocelebrityprofile()" style="cursor: pointer;" class="selection_mains celebrity_box celebrity_box2">
                            <div class="selection_main_box2">
                                <!-- <figure (click)="gotoproductDetails(bestseller?._id)" *ngIf="!bestseller.images[0]?.image" class="camera"><img style="cursor: pointer;" src="assets/images/boy_shirt_1.png"></figure> -->
                                <figure *ngIf="bestseller.images[0]?.image" class="camera"><img src="assets/images/boy_shirt_1.png">
                                </figure>
                            </div>
                            <div class="box_text">
                                <h4> Saim Kumar </h4>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>

            </owl-carousel-o>
        </div>
    </div>
    <!------recommend-->

    <!-----------------top_selection-->
    <div class="top_selection all_sec custom_navarrow">
        <div class="conta_iner">
            <div class="title_bar heading_bb">
                <h2> Celebrity Endorsed </h2>
                <a href="#"> See All </a>
            </div>
        </div>
        <div class="conta_iner">
            <owl-carousel-o [options]="customRecommended">
                <ng-container *ngFor="let recommended of recommendedDataVal;let i = index;">
                    <ng-template carouselSlide [id]="recommended.id">
                        <div (click)="gotoproductDetails(recommended?._id)" style="cursor: pointer;" class="selection_mains Product_box">
                            <div class="selection_main_box2">
                                <div class="selection_main">
                                    <div class="hm_restur_rateing" *ngIf="recommended?.avgRatings != 0">
                                        <figure><img alt="" style="cursor: pointer;" src="assets/images/star.png"></figure>
                                        <span>{{recommended?.avgRatings | number :'1.0-1'}}</span>
                                    </div>
                                    <div class="like" *ngIf="!recommended?.isFavourite" data-toggle="modal" data-target="#myModal" (click)="addfavlist(recommended._id)">
                                        <figure><img style="cursor: pointer;" src="assets/images/like.png"></figure>
                                    </div>
                                    <div class="like" *ngIf="recommended?.isFavourite" data-toggle="modal" data-target="#myModal" (click)="addfavlist(recommended._id)">
                                        <figure><img src="assets/images/like_red.png"></figure>
                                    </div>
                                </div>

                                <!-- <figure (click)="gotoproductDetails(recommended?._id)" *ngIf="!recommended.images[0]?.image" class="camera"><img style="cursor: pointer;" src="assets/images/noimage.png"></figure> -->
                                <figure *ngIf="recommended.images[0]?.image" class="camera camera2"><img style="cursor: pointer;" src="assets/images/product_1.png">
                                </figure>
                            </div>
                            <!-- <h4 *ngIf="recommended.discount">
                                AED{{recommended?.price - recommended?.price * recommended?.discount / 100 | number :'1.0-1'}}<del>AED{{recommended?.price | number :'1.0-1'}}
                                    </del><span>{{recommended?.discount}}% off</span> </h4>
                            <h4 *ngIf="!recommended.discount">AED{{recommended?.price}}</h4>
                            <h5>{{language == 'en' ? recommended?.name : recommended?.name_ar}}<span>{{language == 'en' ? recommended?.brand?.name : recommended?.brand?.name_ar}}</span></h5> -->
                            <div class="box_text">
                                <h4> &#8377; 20,000 <span class="old_rate"> &#8377; 40,000 </span> <span class="discount_off"> 50% off </span> </h4>
                                <h3> Camera Lense </h3>
                                <h5> nikon </h5>
                            </div>
                        </div>

                    </ng-template>
                </ng-container>

            </owl-carousel-o>
        </div>
    </div>
    <div class="home_appliance_banne all_sec">
        <figure><img src="assets/images/Banner.svg"></figure>
    </div>
    <div class="banner_sec all_sec">
        <div class="conta_iner">
            <ul>
                <li>
                    <a href="#">
                        <figure class="camera"><img src="assets/images/banner_1.png"></figure>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <figure class="camera"><img src="assets/images/banner_2.png"></figure>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <figure class="camera"><img src="assets/images/banner_3.png"></figure>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="top_selection all_sec custom_navarrow">
        <div class="conta_iner">
            <div class="title_bar heading_bb">
                <h2> Top Sellers </h2>
                <a (click)="goTosellerindex()"> See All </a>
            </div>
        </div>
        <div class="conta_iner">
            <owl-carousel-o [options]="customRecommended2">

                <ng-container *ngFor="let bestseller of bestsellerDataVal;let i = index;">
                    <ng-template carouselSlide [id]="bestseller.id">
                        <div (click)="goTosellerprofile()" style="cursor: pointer;" class="selection_mains celebrity_box">
                            <div class="selection_main_box2">
                                <!-- <figure (click)="gotoproductDetails(bestseller?._id)" *ngIf="!bestseller.images[0]?.image" class="camera"><img style="cursor: pointer;" src="assets/images/boy_shirt_1.png"></figure> -->
                                <figure *ngIf="bestseller.images[0]?.image" class="camera"><img src="assets/images/boy_shirt_1.png">
                                </figure>
                            </div>
                            <div class="box_text">
                                <h4> Saim Kumar </h4>
                            </div>
                        </div>
                        <div (click)="goTosellerprofile()" style="cursor: pointer;" class="selection_mains celebrity_box celebrity_box2">
                            <div class="selection_main_box2">
                                <!-- <figure (click)="gotoproductDetails(bestseller?._id)" *ngIf="!bestseller.images[0]?.image" class="camera"><img style="cursor: pointer;" src="assets/images/boy_shirt_1.png"></figure> -->
                                <figure *ngIf="bestseller.images[0]?.image" class="camera"><img src="assets/images/boy_shirt_1.png">
                                </figure>
                            </div>
                            <div class="box_text">
                                <h4> Saim Kumar </h4>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
    <div class="top_selection all_sec Brand_sec custom_navarrow">
        <div class="conta_iner">
            <div class="title_bar heading_bb">
                <h2> Explore By Brands </h2>
                <a (click)="goTobrandindex()"> See All </a>
            </div>
        </div>
        <div class="conta_iner">
            <owl-carousel-o [options]="customBrand">
                <ng-container *ngFor="let bestseller of bestsellerDataVal;let i = index;">
                    <ng-template carouselSlide [id]="bestseller.id">
                        <div (click)="gotoproductDetails(bestseller?._id)" style="cursor: pointer;" class="selection_mains">
                            <div class="selection_main_box2">
                                <figure *ngIf="bestseller.images[0]?.image" class="camera1"><img src="assets/images/B_model_1.png" alt="model">
                                </figure>
                                <figure class="brand_img"><img src="assets/images/Levi's_logo.svg" alt="Brand">
                                </figure>
                            </div>
                            <div class="selection_main_box2 selection_main_box2_2">
                                <figure *ngIf="bestseller.images[0]?.image" class="camera1"><img src="assets/images/B_model_1.png" alt="model">
                                </figure>
                                <figure class="brand_img"><img src="assets/images/Levi's_logo.svg" alt="Brand">
                                </figure>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>

            </owl-carousel-o>
        </div>
    </div>
    <div class="top_selection all_sec top_product custom_navarrow">
        <div class="conta_iner">
            <div class="title_bar heading_bb">
                <h2> Top Products </h2>
                <a href="#"> See All </a>
            </div>
        </div>
        <div class="conta_iner">
            <owl-carousel-o [options]="customRecommended">
                <ng-container *ngFor="let recommended of recommendedDataVal;let i = index;">
                    <ng-template carouselSlide [id]="recommended.id">
                        <div (click)="gotoproductDetails(recommended?._id)" style="cursor: pointer;" class="selection_mains Product_box">
                            <div class="selection_main_box2">
                                <div class="selection_main">
                                    <div class="hm_restur_rateing" *ngIf="recommended?.avgRatings != 0">
                                        <figure><img alt="" style="cursor: pointer;" src="assets/images/star.png"></figure>
                                        <span>{{recommended?.avgRatings | number :'1.0-1'}}</span>
                                    </div>
                                    <div class="like" *ngIf="!recommended?.isFavourite" data-toggle="modal" data-target="#myModal" (click)="addfavlist(recommended._id)">
                                        <figure><img style="cursor: pointer;" src="assets/images/like.png"></figure>
                                    </div>
                                    <div class="like" *ngIf="recommended?.isFavourite" data-toggle="modal" data-target="#myModal" (click)="addfavlist(recommended._id)">
                                        <figure><img src="assets/images/like_red.png"></figure>
                                    </div>
                                </div>

                                <!-- <figure (click)="gotoproductDetails(recommended?._id)" *ngIf="!recommended.images[0]?.image" class="camera"><img style="cursor: pointer;" src="assets/images/noimage.png"></figure> -->
                                <figure *ngIf="recommended.images[0]?.image" class="camera camera2"><img style="cursor: pointer;" src="assets/images/product_1.png">
                                </figure>
                            </div>
                            <!-- <h4 *ngIf="recommended.discount">
                                AED{{recommended?.price - recommended?.price * recommended?.discount / 100 | number :'1.0-1'}}<del>AED{{recommended?.price | number :'1.0-1'}}
                                    </del><span>{{recommended?.discount}}% off</span> </h4>
                            <h4 *ngIf="!recommended.discount">AED{{recommended?.price}}</h4>
                            <h5>{{language == 'en' ? recommended?.name : recommended?.name_ar}}<span>{{language == 'en' ? recommended?.brand?.name : recommended?.brand?.name_ar}}</span></h5> -->
                            <div class="box_text">
                                <h4> &#8377; 20,000 <span class="old_rate"> &#8377; 40,000 </span> <span class="discount_off"> 50% off </span> </h4>
                                <h3> Camera Lense </h3>
                                <h5> nikon </h5>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>

            </owl-carousel-o>
        </div>
    </div>
</div>
<app-footer></app-footer>

<!-- The Modal -->

<!-- <<<<<-------------next modal---------->