

<div class="container">
    <div class="col-12">
        <div class="failed_box">
            <svg xmlns="http://www.w3.org/2000/svg" width="400" height="400" viewBox="0 0 400 400">
                <g id="Group_2361" data-name="Group 2361" transform="translate(42.438 -12.749)">
                  <g id="Ellipse_211" data-name="Ellipse 211" transform="translate(51 95)" fill="#fff" stroke="#707070" stroke-width="1">
                    <ellipse cx="108.5" cy="123" rx="108.5" ry="123" stroke="none"/>
                    <ellipse cx="108.5" cy="123" rx="108" ry="122.5" fill="none"/>
                  </g>
                  <path id="Icon_awesome-exclamation-circle" data-name="Icon awesome-exclamation-circle" d="M400.563,200.562c0,110.481-89.551,200-200,200s-200-89.519-200-200c0-110.417,89.551-200,200-200S400.563,90.146,400.563,200.562Zm-200,40.323a37.1,37.1,0,1,0,37.1,37.1A37.1,37.1,0,0,0,200.562,240.885Zm-35.22-133.344,5.982,109.677a9.677,9.677,0,0,0,9.663,9.15h39.15a9.677,9.677,0,0,0,9.663-9.15l5.982-109.677a9.678,9.678,0,0,0-9.663-10.2H175A9.677,9.677,0,0,0,165.342,107.542Z" transform="translate(-43 12.187)" fill="#fb2e2e"/>
                </g>
              </svg>
            <h2> Opps ! </h2>
            <h4> Your payment is Failed </h4>
            <h5> please try again </h5>
            <button (click)="gotohomepage()">Go To Site</button>
        </div>
    </div>
</div>

